[2019-11-29 23:03] jeremydaly opened #1 "Add schema support for maps"
Only top level schemas are supported. By adding support for nested maps, we could enforce types and provide a cleaner way to update data maps. This should be optional, falling back to the current dot notation for unmapped structures.

### Proposed implementation

[code]

This would enable support for schema validation as well as partial updates.

[2019-12-01 00:00] jeremydaly opened #2 "Native JavaScript Date support"
DynamoDB doesn't have a `date` type, but schemas could easily support it by requiring a native JavaScript `Date` object as an input and converting it to the ISO 8601 format. When parsing raw Items, the library could convert the dates back to a JS Date object (given the fact that this is specified in the schema).

It could potentially support `datetime` and `date` since these are both valid ISO 860

[2019-12-01 00:09] jeremydaly opened #3 "Data conversion functions"
These would be like using functions with `default`, except it would apply every time you input data to the field. This would be useful for enforcing case conversions or other types of formatting (like phone numbers or custom composite keys).

### Proposed Implementation

[code]

The `data` object here should probably **NOT** be a simple reference so that data in other fields isn't accidentally mut

[2019-12-01 01:31] jeremydaly opened #4 "Simplified transaction handling"
Transactions using the library are possible by extracting the parameters and assembling the correct structure for the `TransactWriteItems` and `TransactGetItems` APIs, but it is a bit bulky. We could expose another class called `Transactions` that would allow you to simply add an array of `Model`s with the appropriate method call and parameters. The `Transactions` class could parse the parameters

[2019-12-01 01:58] jeremydaly opened #5 "Query support"
Someone mentioned this to me, but I’m not sure of the correct abstraction level. If the models and types can aid in building queries, then I think this would be useful, but I don’t want to cross into ORM territory.

There are a limited set of `sortKey` operations, so some simple abstraction could work, but the library probably shouldn’t be parsing queries. There would likely need to be a different

[2019-12-01 02:23] jeremydaly opened #6 "Multi-model parsing"
The parsing utility is handy, but right now you need to pass returned items to the correct model to parse them. I anticipated this originally, so I added the `model` option and defaulted it to true, which adds a `__model` attribute that stores the model name. But since there is no query support (see #5), the library doesn’t currently have a way to automatically map to the correct model.

This also

[2019-12-01 02:35] jeremydaly opened #7 "Direct invocation of the DocumentClient"
When I started building some of these helper utilities, I was only using them to generate specific parameters (like `UpdateExpression` and `ExpressionAttributeNames`). Now that additional DynamoDB parameters can be passed directly through each method, automatically calling the appropriate DocumentClient method would avoid the extra step. This could be optional, but the library already requires and

[2019-12-01 02:51] jeremydaly opened #8 "Access pattern management"
So this is a big one that would likely require query support (see #5). However, defining methods like `getUserById`, `getOrdersByDate`, or `setUser` seems to be a very common practice. These methods could be defined as higher level constructs that mapped to the underlying models. I would guess that a vast majority of `get` access patterns are just mapped to a query with some conditions and filters

[2019-12-01 02:58] jeremydaly opened #9 "Add integration tests with dynalite"
The current test suite has over 100 tests, but they mostly verify expected parameters. It would be helpful (and safer) to test them against a DynamoDB instance. A cloud version would be best, but since we want TravisCI to run the tests for us, we should be able to use DynamoDB Local.

[2019-12-01 21:24] mhart commented on #9
Let me know if there are any blockers to using dynalite instead (which should be easier to launch/install cause it's just npm/JS). I haven't really put much love into it in the last couple of years, but if there are some small features that are missing, I'd be happy to see if I can implement them.

[2019-12-02 05:43] jeremydaly commented on #9
Actually, it was the first thing I looked at.  😉

But then I read your note that said DynamoDB Local is "actually pretty good, and considering it's now probably used by countless AWS devs, it'll probably be well supported going forward."

That made me think maybe DDB Local would be a better choice, but I'm happy to use dynalite if it supports (or could support) the funky things I'm doing.

[2019-12-06 00:47] michael-wolfenden opened #11 "Question: How to query a table by partition key only"
I'm implementing the [northwind example](https://staging.trek10.com/blog/dynamodb-single-table-relational-modeling/) in node using your library.

I'm trying to write the first query which is get employee by employee id (`pk = employeeID`) with the following code:

[code]

but I get the following error:

[code]

Looking at the following test, it appears that querying by partition key only is not su

[2019-12-06 03:15] jeremydaly commented on #11
`get` does not support just the partitionKey if you have defined a composite key. You can `query` using just the `pk`, but this library doesn't yet have support for that. You would need to use the `DocumentClient` directly with the `query` method.

[2019-12-08 03:39] jeremydaly opened #13 "Create "replicate attribute" option to schema definitions"
So one of the interesting things I picked up in Rick Houlihan's talk at re:Invent (more details [here](https://www.jeremydaly.com/takeaways-from-dynamodb-deep-dive-advanced-design-patterns-dat403/)), was the duplication of attributes in the **SAME ITEM** in order to make greater use of sparse indexes. Very, very, very cool stuff.

You could certainly use the `default` mechanism to replicate data a

[2019-12-08 03:53] jeremydaly commented on #8
I was playing around with the NoSQL Workbench for Amazon DynamoDB, and looked at the "facets" feature. This gives you a way (when modeling the data) to assign aliases and return data masked using them. It seems very experimental as there does not appear to be support for GSIs or LSIs at this point. Here is the structure (from the [documentation](https://docs.aws.amazon.com/amazondynamodb/latest/de

[2019-12-09 19:46] jeremydaly commented on #9
@mhart,

Added a sample test using dynalite (see 1375fe7).  I had to use the "in memory" option, otherwise I was getting the occasional "Resource In Use" error from LevelDB.

I'm going to shift my efforts to some of the larger refactors before I build any additional tests, but would love to know if you think my implementation makes sense. I was thinking about starting this from the command line du

[2019-12-09 19:53] mhart commented on #9
Looks good to me! I'd love to know a little more about these "Resource In Use" errors though. Were they LevelDB errors, or DynamoDB-like errors from dynalite?

[2019-12-09 20:20] jeremydaly commented on #9
They didn't appear to be DynamoDB-like. It was happening when I would `put` and then `get` right away. I think if you fork the project and just add a `path` to the dynalite config, you could replicate it. Didn't happen all the time, so it seems like it might be a locking issue.

[2019-12-09 20:27] mhart commented on #9
Yeah, I (sometimes) test by setting that: https://github.com/mhart/dynalite/blob/master/test/helpers.js#L49

Running `DYNALITE_PATH=./dynalite npm test` works fine though. Might be that I just don't have the right sort of tests to reproduce? Seems unlikely though.

[2019-12-09 20:28] jeremydaly commented on #9
Strange. In memory works just fine, so not a big deal. Any benefits to using LevelDB?

[2019-12-09 20:29] mhart commented on #9
No, none at all unless you want persistence – for tests I'd definitely recommend in-memory

[2019-12-09 20:30] mhart commented on #9
Just wanted to make sure it wasn't a `ResourceInUseException` you were running into. Cause that's legit

[2019-12-09 20:38] jeremydaly commented on #9
That's what it was!

[2019-12-09 20:40] mhart commented on #9
So that's a legit DynamoDB error that happens if you're trying to delete a table that's still being created or something similar to that.

You should wait for the tables to stop being in a CREATING (or DELETING) state before proceeding.

Adding this logic also means you can test against a real DynamoDB table.

[2019-12-09 20:42] jeremydaly commented on #9
Ah, that makes sense. I had set the `createTableMs` and `deleteTableMs` to `0`, but maybe there was still some blocking with LevelDB. Could also be because I was running the tests too quickly. I appreciate the feedback. Thanks again!

[2019-12-09 20:45] mhart commented on #9
Yeah, I use a `setTimeout` – so there's still a window before the next process tick.

I could special case a value of zero I guess. I just wanted ppl to be aware that you can't actually create a table that's in an ACTIVE state.

[2019-12-09 20:49] jeremydaly commented on #9
I can definitely add a `setTimeout` after table creation. I will most likely be using a real table to do some local tests, so it would be good to build in that support. How long do you reckon I need? (and yes, I just used the word 'reckon')

[2019-12-09 21:10] mhart commented on #9
Oh, I'd poll for the state – it can take a variable amount of time with production DDB. I poll every second in my tests, but you could make it quicker if you wanted. https://github.com/mhart/dynalite/blob/master/test/helpers.js#L231-L239

[2019-12-09 21:23] jeremydaly commented on #9
Super helpful! Thanks!

[2019-12-09 23:29] #11 closed

[2019-12-10 01:03] jonterry-sans opened #14 "Typescript Support"
Do you intend to add Typescript support at some point in the future. Currently looking at this as an alternative to the awslabs/datamapper package as this supports some features that it does not currently and the only major thing I would be loosing (as far as I can tell), would be the strict typing.

In otherwords, do you have an ETA for the PR out for adding it as of yet?

[2019-12-10 13:31] jeremydaly commented on #14
YES! This library will support TypeScript. However, this is still in beta and I am doing a major refactoring for v0.2 (hopefully done in a week or two) that will change the APIs a bit. So, I'm holding of on TypeScript support until I get some of the higher level interfaces figured out.

[2019-12-10 13:40] jeremydaly commented on #6
I did some more thinking about this, and my thought was to have the "model registry" be covered using a `Table` class. The `Table` class could be used to define the table name, indexes (primary, LSIs, and GSIs) and the table's `AttributeDefinitions`. This would allow for `Models` to be added to it that could be type checked against the `Table` and do all the multi-model parsing.

[2019-12-10 14:20] jeremydaly opened #15 "Add Table class to wrap Models"
As mentioned in #6, in order to achieve multi-model parsing from a single table design, the system needs to be able to understand what `Model` each `Item` represents. I was initially thinking about using a "model registry", but I'd rather the concepts translate better. My mental model is this:

A **TABLE** is directly mapped to a DynamoDB table. It has a `KeySchema`, `AttributeDefinitions`, `Local

[2019-12-10 18:25] jonterry-sans commented on #14
Sounds good to me! Curious if you think I should hold off on trying to integrate into our application, or if I should be safe to move forward. I do have some Dynamo Table designs that complicate things that I'm not even sure this implementation will work for as of yet unfortunately.

e.g multiple entities under same partition, how best to query all entities in a given partition and marshal them in

[2019-12-10 18:33] #14 closed

[2019-12-10 18:41] jonterry-sans commented on #2
For reference material, the [AWSLabs DataMapper](https://github.com/awslabs/dynamodb-data-mapper-js) allows you to give attributes a Date type. In the JS version of the Datamapper, this type is stored as a unix timestamp, whereas in the Java version it's stored as a ISO8601 string. In my experience using an ISO8601 timestamp is preferable as it can also then be used in `begins with` queries, and i

[2019-12-10 19:06] jeremydaly commented on #14
It would be great if you DID start implementing it and let me know if there are any additional changes you need. I've got big plans, so *some* of the APIs might change a bit, but for the most part it should be backwards compatible.

[2019-12-10 19:23] jonterry-sans commented on #8
Is this intended as a solution for defining access patterns at the model level instead of something like a Service level? I could see this being very useful, especially when you start designing a table that has many GSIs that mean something entirely different depending on the entity you are working with. That being said I would consider this functionality "icing on the cake". Also are there any co

[2019-12-10 19:41] jeremydaly commented on #8
I was thinking this would define them at the `Table` level that would then be mapped to `Model`s (see #15 for my current thinking on this). `Model`s might be too low an abstraction since "access patterns" could likely retrieve multiple `Models` from the same `Table`.

Also, I was thinking that `Model`s could be independent of `Tables`, so they could actually inherit some properties when wrapped in

[2019-12-10 19:44] jeremydaly commented on #2
Unix timestamps are definitely out. IMO, they don't make sense in a NoSQL DB. AFAIK, there is no difference performance-wise with a string versus a number in DynamoDB. There would be some slight overhead in the library, but I imagine this would be single digit microseconds at best.

[2019-12-10 20:00] jonterry-sans commented on #8
Hmm I'll have to think on this one. Part of me feels that defining at the table level is to high of an abstraction. As the access patterns are inherently entity/model dependent. Although the more I think about it, the Table defines the GSIs/LSIs so maybe putting them on the Table construct is more appropriate.

I do agree Models/Entities should be Table independent. Provides more flexibility for e

[2019-12-10 20:07] jonterry-sans opened #16 "Add support for querying by partition key alone"
Requesting support for querying by just partition key: #11. This is a valid use case that would be leveraged when you split up a given entity over multiple items in a given partition to alleviate concerns about the 400kb item size limit.

e.g. You have a class record, and are concerned about the combination of students/teacher/TAs/assignments/tests/labs relationship data exceeding the limit of 400

[2019-12-10 20:09] jeremydaly commented on #16
This would fall under #5, just adding `query` support.

[2019-12-10 20:16] scenterbar-sans commented on #8
Reason for +1. Facets are a really cool idea that do seem to be lacking from the NoSQL workbench perspective. I think that having the concept of a facet that we can use for reads would be good for keeping the code cleaner as well as self documenting the access patterns without abstracting too much.

It's interesting to me that Rick Houlihan doesn't bring facets up when showing his spreadsheet mode

[2019-12-11 18:12] jonterry-sans commented on #13
Is there a way as it stands right now to make the partition key be duplicated to the sort key? Given the array notation for defining sort keys, I don't see how that is possible. I attempted to alias the `pk` with `id`, and then define `id` in the schema as `["sk", 0]` but then the alias isn't unique and I get the associated error for that scenario.

[2019-12-11 21:18] jeremydaly commented on #13
The easiest thing would probably be to use `default` instead.

[code]

I'm working on a better way to do this.

[2019-12-11 23:33] jonterry-sans commented on #13
unfortunately this doesn't work if the partition key also has a default provider. Although your solution does reduce that amount of data that I have to provide to the `Record.put()` call.

[2019-12-12 00:15] tomaswisten commented on #5
Yes, querying seems to be the missing piece for my use cases as well. Thanks for a promising project!

[2019-12-12 16:58] jonterry-sans commented on #15
Hopefully this is the last question that I have in regards to finishing up my implementation with your toolbox. So far so good and things to be going smoothly. The major hurdle I have yet to resolve is interactions via the Document client in regards to LSI and GSI's. I'm assuming this behavior is not supported as of yet as I'm not seeing anything in the documentation, nor skimming the code base. I

[2019-12-12 17:03] jeremydaly commented on #15
Yeah, there is not concept of additional indexes in the library yet because none of the tools need to know or care about them. The `Table` wrapper class will support this as well as queries once they are added.

[2019-12-12 17:27] jonterry-sans commented on #15
Sounds good. I'd love to speak more directly with you at some point about helping the project along. From my usage as of yet, it seems like a really nifty implementation, it's just not quite to a point yet where I can use it in production code unfortunately.

[2019-12-12 17:49] jeremydaly commented on #15
Sure thing.

[2019-12-12 23:31] #16 closed

[2019-12-12 23:34] jeremydaly opened #17 "Add delimiter option for composite sortKey generation"
Currently composite sortKey generation uses the `#` symbol as a delimiter. This should be configurable.

[2020-01-03 05:08] sreimer15 commented on #5
So I've been playing around with [nosql-workbench](https://aws.amazon.com/about-aws/whats-new/2019/09/introducing-nosql-workbench-for-amazon-dynamodb-now-in-preview/) from aws and they have a concept of a ["facet"](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/workbench.Visualizer.Facets.html).

Which is the "The access patterns of the application that will interact with the tab

[2020-01-03 13:31] jeremydaly commented on #5
Thanks for the feedback and kind words @sreimer15! The access pattern/facet thing was something I was thinking about in issue #8, but that's an interesting thought to tie the two together.

I think there still needs to be a low-level querying capability, but definitely something to think of.

[2020-01-09 18:01] alexdilley opened #19 "aws-sdk dependency"
`aws-sdk` is already included in Lambda NodeJS runtimes. If this lib is included, say, as part of a Lambda Layer, then ~50MB is added to the payload. Perhaps it can be added as a peer dependency instead?

[2020-01-09 20:25] jeremydaly commented on #19
The recommended practice is NOT to rely on the included SDK in the Node runtimes, but making this optional would make sense. Also, if you are webpacking your Lambda functions, then the tree-shaking will significantly reduce the dependency size.

[2020-01-16 15:39] alexdilley commented on #19
Thanks for your response.

Oh, that's strange; why's it not good practice to rely on the included SDK? Why wouldn't it be safe to assume that [the version appropriate to the NodeJS runtime](https://docs.aws.amazon.com/lambda/latest/dg/lambda-runtimes.html) is available and fully functional. I've never had any problems, but that's not to say their aren't things I'm not aware of!

[2020-01-21 09:53] serverlesspolska commented on #19
Hi @alexdilley
I don't want to start a discussion over this topic (it's not the place). However, I can offer you a **hack** that can be useful in development when you deploy to AWS often and you are **not using sets**.

Go to `node_modules/dynamodb-toolbox/package.json` in your project and remove `aws-sdk` from dependencies. Then the serverless framework will not include it. For my simple project

[2020-02-07 10:45] BDQ opened #20 "Model or Facet"
Would a better name for the core classes be a `Facet` instead of a `Model` ?

Model is very ORM'y , while Facet is more inline with NoSQL Workbench patterns.

Also, what's the status on the `v0.2` branch (it looks like a great improvement).

[2020-02-07 15:05] jeremydaly commented on #20
Hi Brian,

I was rethinking that too. Not sure I like "Facet" (even though that's the NoSQL Workbench terminology) because I see facets as a way to *view* the data, not as the shape of an "entity". I was thinking about using "Entity", but I also don't want there to be confusion between the Workbench and this library.

I'm still working on v0.2. Been gathering some more feedback and implementing it

[2020-02-11 18:45] danny-waite opened #21 "Global Secondary Indexes"
Loving using the library so far Jeremy.

Can’t quite work out how to specify an `IndexName` so I can query a GSI, what have I missed?

[2020-02-16 22:30] DaKaZ commented on #5
@jeremydaly what do you think about this syntax for building the query params:
[code]
It seems like we could build all the syntax needed with that and it would similar syntax/methods as the get/put functionality in the library already.  So a minimal example would look like:
[code]
And a more complete example:
[code]

[2020-02-28 01:50] DaKaZ commented on #21
I just implemented this in PR #22 - let me know your thoughts

[2020-03-04 18:09] cameroncf opened #23 "Query Support Proposal"
Opening this in it's own ticket since it's sort of long and I wanted to allow it to be closed separately in the case I am completely insane.

I've been tinkering with this library for the last couple of days and trying to imagine how queries could work. A few things strike me as having potential here.

**Model Introspection**
First, the array definition for composite keys potentially gives the mod

[2020-03-04 18:48] jeremydaly commented on #23
@cameroncf, this is great work! There is a lot to unpack here, but my overall goals for this library include mapping multiple entities to a single table design, and enabling access patterns through the use of config-based mappings (all with caveat that I don't want this to be an ORM). However, using GSIs and encapsulating/automating known patterns for both read and write scenarios, absolutely have

[2020-03-04 18:56] cameroncf commented on #23
@jeremydaly - Just discovered your v0.2 branch, which looks to be a start at some additional ideas. I'm still digesting but really like this tool so far. Thanks for all the hard work on it!

[2020-03-11 02:23] jeremydaly opened #24 "CLI tool"
I've been doing a lot of background work on this library and I've found myself writing some scripts to deal with different conversions and tests. I'm thinking a CLI component might be handy to generate models, compile code, import models from NoSQL Workbench (or export them), etc.

Way down on the priority list, but adding it here so I don't forget.

[2020-03-11 02:40] jeremydaly opened #25 "Projection Management / Mappings"
Another issue that has crept up with large tables using lots of entities/facets, is the 20 attribute projection limit per GSI. I've used mappings in the past to use generic attribute names, thought I know this can be difficult to manage. Perhaps if the library had a way to indicate *which* GSIs each field needed to be projected to, then the mapping could be optimized. This might need to be a CLI f

[2020-03-11 18:07] jeremydaly commented on #19
Been thinking more about this and I'm going to remove this dependency from the project. Instead, I'm going to require you to pass in an instance of the DynamoDB `DocumentClient`. v0.2 is moving to issuing calls directly (rather than just returning a formatted call), so this will give you the ability to fully control your AWS SDK settings.

[2020-03-12 20:00] jeremydaly commented on #20
FYI, after talking to some other people about this, we've decided to use `Entity` to represent the current `Model`s. Although it's not perfect, it's the probably the best word to describe what we mean. We're also moving to rename `schema`s to `attributes` so that it is more consistent with DynamoDB.

[2020-03-17 11:26] BDQ commented on #20
Yeah, `Entity` makes sense to me - will this renaming be done on `v0.2` branch?

[2020-03-17 15:00] jeremydaly commented on #20
Yes. I have been making so many changes to the codebase that all the old tests were broken, so I haven't pushed any changes to the new branch yet. It should be coming soon. (If only I didn't have so many other responsibilities 😉)

[2020-03-19 15:50] SethO opened #28 "Setting put numeric field to zero throws error"
**Problem:** when creating put parameters that attempt to set a field to zero (0), the Model throws an error that "(field) is a required field".

**Expected Result:** I expect to be able to set a required field to zero.

**Steps to Reproduce:** I have a code snippet that reproduces the issue, below.
[code]

Note that I can work around the issue right now by changing the required value from `'alway

[2020-04-05 03:32] jeremydaly commented on #3
Thinking this is called `transform`.

[2020-04-15 03:36] jeremydaly commented on #28
Thanks for the report. I'm working on the v0.2 branch, so I'll incorporate a fix in there.

[2020-04-19 12:39] StErMi commented on #14
TypeScript support and interface would be a huge huge huge bonus (almost a requirement)! Can't wait to try the v0.2

[2020-04-23 13:01] jeremydaly commented on #23
FYI, queries have been implemented in v0.2 as a high level abstraction. This allows for fast and easy query creation, which should be a building block for adding something more advanced like your above proposal. Lots of work left to do, but getting closer.

[2020-04-27 13:33] clarkd commented on #23
Is 0.2 available on NPM or anywhere? I realise it's not quite there yet but would good to experiment with...

[2020-04-27 13:38] jeremydaly commented on #23
Not yet, @clarkd. But you can just run `npm install jeremydaly/dynamodb-toolbox#v0.2` to install v0.2 as a dependency.

[2020-04-28 04:50] terrbear opened #29 "Throw a JS error instead of a literal"
Looks like this is in 0.1 and 0.2: https://github.com/jeremydaly/dynamodb-toolbox/blob/master/index.js#L531

Instead of `throw err`, ought to be `throw new Error(x)` so normal try/catch stacks can inspect it.

I'll shoot some PRs to fix in a bit if you're cool with it :)

[2020-04-28 12:02] jeremydaly commented on #29
Thanks, @terrbear. I was actually pulling my hair out the other day wondering why some of my promise rejection tests weren't throwing errors, but instead just rejecting with a string. I've fixed this in v0.2 and updated the tests. No need for a PR, but please keep the bug reports coming!

[2020-04-28 12:02] #29 closed

[2020-04-28 19:14] clarkd commented on #23
Thanks - will take a look!

[2020-04-28 20:07] aldebout opened #30 "Entity.get() returns a parsed object under the key Item"
Unless I'm doing something wrong, Entity.get() returns something like
[code]

The keys under Item have been correctly parsed but this is not what I expected after having read the doc.

Should we change this behavior or the add it to the doc?

[2020-04-28 20:10] jeremydaly commented on #30
Where you just expecting the parsed object? Not wrapped in the `Item`?

[2020-04-28 20:12] TLaue opened #31 "v0.2 Documentation Typos"
Typos are marked with bold:

1) Tables
Tables represent one-to-one mappings to your DynamoDB tables. **Then** contain information about your table's name, primary keys, indexes, and more. They are also **used  organize** and coordinate operations between entities. Tables support a number of methods that allow you to interact with your entities including performing queries, scans, batch gets and ba

[2020-04-28 20:14] jeremydaly commented on #31
I'm sure there are a lot them! Please keep adding them to this issue. Thanks!

[2020-04-28 20:15] aldebout commented on #30
Yes, because of this section of the readme

I think you haven't touched it in a "long" time (the paragraph just above uses `schema` instead of `attributes`) but it's the only indication of the return type of get().

[2020-04-28 20:18] jeremydaly commented on #30
You're totally right! I copied in those examples and need to update them. The behavior needs to return the data wrapped in an `Item` because it is possible for the `ConsumedCapacity` to be returned. I'll update the docs.

[2020-04-28 20:23] jeremydaly commented on #31
Fixed these.

[2020-04-28 20:23] jeremydaly commented on #30
Fixed the documentation.

[2020-04-28 20:23] #30 closed

[2020-04-29 04:27] fbjork commented on #14
+1 for TypeScript support!

[2020-04-29 09:38] ryanbethel opened #32 "v0.2 feedback - alias vs. map , and function to map data out on return"
Great job on the toolbox. I appreciate it.

It was a little unclear from the documentation what the difference between alias and map is. I figured it out by looking into the source, but a little clarification would probably help others.

I was trying to use the map property as a way to translate a string in the DB table to an object output. `org:{id:1234}` into `orgId:1234` in the db table and the

[2020-04-29 13:05] jeremydaly commented on #32
Hi @rbethel, thanks for the feedback! I actually was thinking about removing `alias` since the `map` functionality makes it redundant. It was a feature in v0.1 (`map` didn't exist), so I wanted to give people the ability to either specify TABLE attributes and *alias* them to ENTITY attributes, or the other way around. I'll add a section to the docs about them.

The object conversion you mention is

[2020-04-29 13:06] jeremydaly commented on #21
This is now implemented in the v0.2 branch.

[2020-04-29 13:06] #21 closed

[2020-04-29 13:07] jeremydaly commented on #5
Added in the v0.2 branch.

[2020-04-29 13:07] #5 closed

[2020-04-29 13:07] jeremydaly commented on #6
This was added in the v0.2 branch.

[2020-04-29 13:07] #6 closed

[2020-04-29 13:07] jeremydaly commented on #7
This was added in the v0.2 branch.

[2020-04-29 13:07] #7 closed

[2020-04-29 13:09] jeremydaly commented on #19
The dependency has been removed in the v0.2 branch.

[2020-04-29 13:09] #19 closed

[2020-04-29 13:10] jeremydaly commented on #15
This has been added in the v0.2 branch. It has been simplified to just a Table -> Entity relationship.

[2020-04-29 13:10] #15 closed

[2020-04-29 13:10] jeremydaly commented on #20
Implemented in the v0.2 branch.

[2020-04-29 13:10] #20 closed

[2020-04-29 13:11] jeremydaly commented on #23
Queries are now supported on the v0.2 branch.

[2020-04-29 13:11] #23 closed

[2020-04-29 13:19] jeremydaly opened #33 "Table Configuration Export"
Method to export the CloudFormation for your Table configuration to JSON or YAML

[2020-04-29 15:13] BDQ commented on #20
Awesome, I took a quick read over the changes on `v0.2` and they look great!

[2020-04-29 16:51] rbethel commented on #32
Hey @jeremydaly, the map vs. alias makes more sense knowing you want to eventually drop `alias` in favor of `map`. Part of my confusion was that it did seem to do almost the same thing in a slightly different way.

As far as the mapping into and out of a nested object property here is a simplified example to illustrate the use case.
[code]

Option 1 would be my first choice because it allows mappi

[2020-04-29 20:23] brettstack opened #34 "Getting "Invalid Table" error"
This works locally, but when I deploy to Lambda, the `table.constructor.name` is empty, causing dynamodb-toolbox to throw https://github.com/jeremydaly/dynamodb-toolbox/blob/v0.2/classes/Entity.js#L46-L69.

I'm using serverless-webpack which may have something to do with it?

[2020-04-29 20:57] jeremydaly commented on #34
Yes, this is caused by webpack. I'm going to flag this as a bug, although it technically isn't, but clearly needs to be addressed so that it works with webpack out of the box. Thanks for noticing.

[2020-04-30 18:28] brettstack opened #35 "GitHub Actions + Automated versioned releases to GitHub and NPM"
I'm happy to add automated versioned releases to GitHub and NPM via GitHub Actions + Semantic Release if you're interested. I've done this a few times on various projects. It's essentially Continuous Deployment for packages. 😄 You will need to start using https://www.conventionalcommits.org/ though.

[2020-05-01 16:17] brettstack commented on #34
Confirmed this works 🎉

[2020-05-01 16:17] #34 closed

[2020-05-01 17:12] jeremydaly commented on #34
@brettstack, there are a few other places that use the `constructor.name` syntax (mostly around batches). Let me know if you run into issues with those.

[2020-05-04 00:08] justynspooner opened #37 "v0.2 GSI Entity Indexes"
Firstly, thank you for this great library. I'm just getting into NoSQL database design and specifically trying to grasp the concept of a single table design. You probably have this on your roadmap, but I've noticed that you can't yet create an entity that references a `partitionKey` with a custom GSI string name.

The following Entity setup throws an error `Entity requires a partitionKey attribute

[2020-05-04 00:35] jeremydaly commented on #37
Hi @justynspooner! Thanks for the note. Every entity needs to have a `partitionKey` (and `sortKey` if applicable) on the **PRIMARY INDEX**. Secondary indexes are copies of the data, so in order to actually add the data to DynamoDB, it needs to be added to the Primary Index first, and will then get copied over to secondary indexes if they exist. This is not a function of the library, but of DynamoD

[2020-05-04 08:23] TLaue commented on #31
2) Entities
...
Note **tha** a Table can have multiple Entities, but an Entity can only have one Table.

To define a new entity, import it into your script:

const { Entity } = require('dynamodb-toolbox')
Then create a new Entity instance by passing in a valid Entity definition.

const MyEntity = new **Table**({
  ... entity definition...
})

[2020-05-04 18:47] justynspooner commented on #37
That makes perfect sense now that I see it laid out like that. Might be worth adding a small example like that to the docs for those newer to DynamoDB like myself. Thank you for the quick reply I'll go and fix my code 😄

[2020-05-05 01:29] aldebout opened #38 "Attributes part of composite keys are not returned"
I've got an entity with the following attributes:
[code]

According to the doc, I should get both username and role when querying this entity.
However, I only get the username (which is saved).

The quick fix is easy but I thought I'd report it so that you could fix it or update the doc.

[2020-05-05 01:34] aldebout commented on #34
@jeremydaly this is the same minification issue right?

If so, a temporary fix is to disable minification in your webpack config:
[code]

[2020-05-05 15:49] jeremydaly commented on #34
@aldebout, I'd rather not require that, but yes, should work for temporary fixes. There are other ways to verify the correct instances are passed, so I'll hunt for these and add fixes.

[2020-05-05 15:50] jeremydaly commented on #38
Thanks @aldebout. I have some work to do on the composite key stuff. The interface needs to be a bit more flexible.

[2020-05-06 19:52] justynspooner opened #39 "v0.2 Get query on secondary index failing due to requiring PK"
I think this might just be a lack of my knowledge of DynamoDB again, but I thought that the following test shouldn't throw the error:

`'pk' is required`

I thought, that because the GSI partitionKey has been specified, that I can run a get query against it without having to include the main table's partitionKey. The error suggests that this is not the case. I'm a bit confused and I'm sure there i

[2020-05-06 19:58] jeremydaly commented on #39
Hi @justynspooner,

You cannot `get` an item from a secondary index (this is a DynamoDB thing), you would need to `query` the GSI instead.

Use this instead:

[code]

[2020-05-06 19:59] #39 closed

[2020-05-06 19:59] #37 closed

[2020-05-06 21:53] terrbear opened #41 "eq check doesn't support false/empty strings"
making an issue in case you want to tie it to https://github.com/jeremydaly/dynamodb-toolbox/pull/40 :)

[2020-05-06 22:38] terrbear opened #42 "default mapping doesn't support falsy values"
Eg, 0 or "" or `false` aren't set if just provided like

    { type: "whatever", default: <falsy-value> }

It looks like some of the tests are accidentally expecting this behavior, but I'll look more later.

Workaround for now is to just use a function:

    { type: "whatever", default: () => <falsy-value> }

[2020-05-06 22:51] terrbear commented on #42
NB: That workaround doesn't entirely work, because in subsequent updates if you try to provide a falsy value, the update expression prefers the non-falsy default.

[2020-05-06 22:51] terrbear commented on #42
I'll dig through that this evening and see if I can have a nice PR for it :)

[2020-05-07 13:04] jeremydaly commented on #41
Fixed with #40

[2020-05-07 13:04] #41 closed

[2020-05-07 13:08] jeremydaly commented on #41
Looking at the code, I think this would apply in several places including `ne` and `in`.

[2020-05-07 19:05] #42 closed

[2020-05-07 22:29] terrbear opened #44 "sort key doesn't support numeric types"
If you try to query with a numeric sort key in a GSI, (like PK=x, { lte: 1234 }), you'll get `<attr> must be a string`

[2020-05-07 22:48] jeremydaly commented on #44
This works correctly for me. Are you defining your GSI sortKey as a `number`? It will check the type based on your entity definition. So if you don't define the attribute at the table level, it will default to string.

[2020-05-08 01:42] terrbear commented on #44
Ahh nope, I didn't see that you could define types for the GSI sortkeys 👍

[2020-05-08 01:43] jeremydaly commented on #44
This did raise another issue though. If you set your `type` in the `Table` attributes, then there was an issue specifying the `type` from the entities. A fix for that has been pushed .

[2020-05-08 18:00] #17 closed

[2020-05-08 18:04] #28 closed

[2020-05-08 18:04] jeremydaly commented on #28
Fixed in v0.2

[2020-05-08 18:05] #44 closed

[2020-05-08 18:11] jeremydaly commented on #38
I've made some changes to the composite key generation and parsing. Please gives this a try again and let me know if it works.

I did make a change so that all attributes are saved by default, since this is a recommended practice. You can disable it by setting `save: false`.

[2020-05-08 18:20] jeremydaly commented on #32
Hi Ryan,

There are a few different ways to handle what you're looking for. You can certainly use the custom default functions to construct keys, and it is possible to use the `{ save: false }` setting to avoid attributes getting saved to the table. The `alias` and `map` features are strictly for attribute naming, so the point is simple to have a "local" attribute name versus what gets saved in th

[2020-05-08 19:06] aldebout commented on #38
It's looking good, I'll check it out! I might have to change a few things around the type -> entity change before that though.

[2020-05-08 23:48] jeremydaly commented on #3
Implemented in v0.2

[2020-05-08 23:48] #3 closed

[2020-05-09 13:33] #38 closed

[2020-05-10 10:35] pierreis commented on #4
@jeremydaly -- I am trying to see how I can help implementing this. The main issue with the API you provide and the current code is that if `autoExecute` is enabled, the nested operations will be executed. As these operations are built independently, I see no obvious way to instruct these to not execute if set in the context of a transaction.

The options I see:

- Either request the user to expli

[2020-05-10 13:27] jeremydaly commented on #4
Hi @pierreis,

Thanks for this! I was thinking that I'd implement this the same way that I implemented the batching, which is to use a helper function (`getBatch`, `putBatch`, `deleteBatch`). These helper functions do all the marshalling and transformations and then supply those back to the `batchGet` or `batchWrite` functions.

I haven't put a ton of thought or experimentation into how this would

[2020-05-10 14:55] pierreis commented on #4
Sounds good. I think I may be able to have a first version working shortly.
Other than this, do you think the transaction should be a class (in which case it would be missing the `new` keyword in your example)?

It seems to me that exporting a function `transaction` could make more sense, considering that there is not a lot to encapsulate here -- transactions are mostly one shot.

[2020-05-11 14:17] edwardgale opened #46 "Map type entity attrs and schemas."
/Question
Interested to know what you will be doing with the TODO regarding object schemas.

For example I am using data and pdata entity level map type attributes. The pdata will be an object  that I want projected into the indexes and the data is for pretty much everything else.

Say I want to update the pdata object type with a single  attribute and not overwrite the existing record then it wou

[2020-05-11 14:59] jeremydaly commented on #46
Hi @edwardgale!

I'll need to look at this to see if it's a library issue or a DDB one (likely the former). If it's the former, then it can be solved in a few different ways, including defaulting paths that don't exist or creating schemas for `map`s.

Thanks for the note,
Jeremy

[2020-05-11 23:47] aldebout opened #47 "Empty ExpressionAttributeValues generated when using conditions"
I tried to do
[code]
but I'm getting `ExpressionAttributeValues must not be empty` because the generated params are
[code]

I'm not 100% sure my use case is valid DDB but this might be on the library ;)

[2020-05-12 09:27] rbethel commented on #32
Is there any way to use the array composite key mapping to map one attribute to the primary key and also to an index? In other words I want to have two access patterns that use some of the same attributes in different orders. Like I want to put the `userID#Date` in the `sk` and then `date#userID` in the `gsi1sk`. As far as I can see this can't be done with the array mapping. Is that correct?

[2020-05-12 12:44] jeremydaly commented on #32
Hi @rbethel,
Right now the composite key array mapping only works for one field. You can use the `convert` setting to generate the value that can include other items. Interesting idea, though. Let me looking into building multiple composites.
Thanks,
Jeremy

[2020-05-12 22:05] ryan-mars opened #48 "TypeScript support"
Would love to see TypeScript types

Reopening this in reference to #14 since v0.2 is out.

[2020-05-12 22:44] ryan-mars commented on #48
@jeremydaly Fantastic, I'll have a look and see if I can help.

[2020-05-18 14:36] vlandres opened #49 "Issues with batch operations"
First, thanks for the library, it makes it much easier to get started with DynamoDB.

There seem to be some problems with batch operations:

**Batch get** (https://github.com/jeremydaly/dynamodb-toolbox/blob/master/classes/Table.js#L786)
* `parseBatchGetResponse` call in the `next` function is called with a `nextResult` parameter which is a Promise, as it is not awaited on. This should probably be

[2020-05-18 16:09] RatulSaha opened #50 "Entities need to list all attributes"
If an entity does not list an attribute that exists in the database, `get` fails.

To make `await entityName.get(item)` work, in the definition of the entity `entityName`, it needs to list all attributes it may pull from the database for that particular item. Otherwise, it shows an `alias of undefined` error.

This is counterproductive for a single-table NoSQL design as often times, there is data

[2020-05-20 22:51] terrbear opened #51 "ExpressionAttributeValues is incorrectly present when conditions are used"
Writing something like:
[code]

Results in an `ExpressionAttributeValues: {}`, which AWS rejects.

Workaround is to add:
`delete params.ExpressionAttributeValues;`

If you know they're empty.

[2020-05-27 17:07] fboudra opened #52 "Support AWS SDK for JavaScript v3"
it will be nice to switch to the modularized AWS SDK for JavaScript v3 (https://github.com/aws/aws-sdk-js-v3) since it reached gamma status. AWS Amplify is already using it.

dynamodb-toolbox doesn't require the full AWS SDK and will reduce the size of the bundle.

FWIW, it's a bit premature since AWS SDK for JavaScript v3 doesn't support DocumentClient yet.

[2020-05-31 09:38] RavyuS commented on #51
`expressionBuilder` is referenced `putParams` (as `parseConditions` in Entity.js:755). It returns an empty `values` object by default, which is later assigned to ExpressionAttributeValues.

 So `exists` and other functions will result in the `EmptyExpressionAttributeValues` error you see. My relatively primitive workaround replaces Entity.js:795 with

`!isEmpty(ExpressionAttributeValues) ? { Expre

[2020-06-02 20:19] antoniopresto commented on #48
@jeremydaly do you plan to migrate to typescript or just add the types file?

[2020-06-02 20:23] jeremydaly commented on #48
I think we'll eventually migrate to TypeScript. But hopefully we'll have type files soon.

[2020-06-04 10:27] BDQ commented on #47
I'm seeing the same error, with a `put` when using `exists: false` as the only condition.

[2020-06-09 00:17] jmagnuss commented on #48
Just adding two references, the new `typescript-types` branch with type definitions:
https://github.com/jeremydaly/dynamodb-toolbox/tree/typescript-types
and the `typescript` branch, which is a rewrite of the toolbox in TS.
https://github.com/jeremydaly/dynamodb-toolbox/tree/typescript
Neither by me, just keeping the thread going :)

[2020-06-09 00:18] jmagnuss commented on #48
If I can request a bit of support....
Looking forward to using this, using the branch currently but struggling a bit with the hidden keys required in the type definition, and the attributes aren't matching up.
[code]

[2020-06-11 08:48] StErMi opened #59 "Create an example app"
Hi @jeremydaly it would be awesome for newcomers like me to have an example app that shows off how you should structure the code as a best practice. Nothing fancy but at least how you should load table/entities and do some basic operations.

[2020-06-18 10:45] antoniopresto commented on #48
Hi!
@jeremydaly, about the Entity.get method options, what should be updated, the docs or the code. https://github.com/jeremydaly/dynamodb-toolbox/blob/master/classes/Entity.js#L164

the code uses `execute`, `parse` and `include` - but the names in the Readme are `autoExecute`, `autoParse` and `attributes`

[2020-06-20 17:49] antoniopresto opened #63 "put fails when a field is required and mapped with map: 'destination'"
put fails when field is configured as `map: 'field'` and `required: true`

[2020-06-22 08:51] itsUnsmart opened #65 "Batch writes does not support conditions"
Hello,

I recently started to use this and I noticed that currently using batchWrite I cannot do conditions on my put requests.

Example:
[code]
Logs:
[code]

Notice how there is no expression attached to this. I really need to have this feature as it is important I have it!

[2020-06-22 11:39] jeremydaly commented on #65
Thanks for the report!

[2020-06-23 22:03] Ankcorn commented on #59
I was thinking that too! I'm still quite uncomfortable with single table design so it is taking a little trial and error.

This library does so much lovely magic that makes working with DynamoDB so much more pleasant than I am used too.

I'm building a homebrew deployment pipeline tool and need a database to store the stuff I drew a little diagram of how the data model will fit together visually t

[2020-06-27 18:26] SethO opened #66 "Auto-generated property "entity" interferes with update"
A few properties are auto-generated when saving data, e.g., `created`, `modified`, and `entity`. However, while `created` and `modified` do not interfere with any subsequent `update()` operation, the `entity` property causes the `update()` to fail with the message "Error: Field 'entity' does not have a mapping or alias".

A workaround is to explicitly `delete myObj.entity` at some point in the cha

[2020-06-29 14:27] SethO opened #67 "autoExecute not recognized as valid option in put()"
**Expected Behavior**: I can pass in an [option](https://github.com/jeremydaly/dynamodb-toolbox#putitem-options-parameters) to `put()` for `autoExecute` to override its behavior from the Entity.

**Actual Behavior:** I receive an error "Invalid put options: autoExecute".

**Workaround:** Turn off `autoExecute` at the Entity property level before the `put()` call, and set it back just afterward (se

[2020-07-02 01:23] michaelmerrill opened #68 "Function default dependency issue"
When using a function as a default, if another default relies on it, it stringifies the function instead of calling it. Kind of hard to explain, but here is an example.

[code]

The above schema results in the following entity.
[code]

I can easily generate the id before creation and avoid this problem. I just thought it'd be cool to use defaults.

[2020-07-02 11:22] grjzwaan opened #69 "Unexpected result with customize defaults of an attribute with a function"
This is just a note of something I found to be unexpected. For (good or bad) reasons I want the `sk` to be the same as the `pk`, but I cannot use the name of `pk` in the input.

# Example
A simple table
[code]
and then we define an entity
## Does not work
[code]
This is because `data` does not contain `id`, but only `pk`:
[code]

## Works
[code]

# Expectation
I **expect** `data` to contain the in

[2020-07-02 16:00] mikestopcontinues commented on #9
Just a question. Wouldn't it be better to mock `DocumentClient`? It doesn't seem like Toolbox needs to know anything about the DB itself. Just that Toolbox makes the correct request with the correct options. This would also reduce the complexity of your test suite.

[2020-07-03 18:53] omichowdhury commented on #66
I think this library is handling things in line with DynamoDB best practices and the intent of the underlying APIs.

In your example you are sending the whole `fooFromDB` entity in the `Foos.update` call, but the underlying `UpdateItem` API updates items with an [UpdateExpression](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/Expressions.UpdateExpressions.html) - i.e. it's built

[2020-07-03 19:21] SethO commented on #66
I should also point out that the same test code fails (for the same reason) if you use `put()` instead of `update()`. The workaround still applies in either case.

Whether or not `update()` should support my first example, I'll leave up to Jeremy.

[2020-07-04 16:31] mikestopcontinues opened #70 "RFC: Composites should be specified on the composite property itself"
If I understand correctly, the current method of specifying composite keys occurs with array attribute values. I saw this cause an issue in #32. I believe the solution is to migrate the api to something that looks like this:

[code]

This would allow specifying multiple composites, and it would retain the space-saving features of the current implementation.  Additionally, I think it's easier to pa

[2020-07-06 17:24] omichowdhury commented on #66
That's a fair point on `put()`, and maybe for the sake of consistency `update()` should work the same way.

What should happen in the case where the `entity` passed in doesn't match the Entity object?
1. Save it anyway
2. Error out
3. Silently use what's defined in the Entity object?

[2020-07-06 20:49] #67 closed

[2020-07-06 20:49] jeremydaly commented on #67
This was a documentation issue. The correct `options` value are `execute` and `parse`. The documentation has been updated.

[2020-07-06 20:53] jeremydaly commented on #69
The `data` object *should* contain all the aliases as well. Some behavior was changed in v0.2 that removed the need for aliasing/mapping `pks` and `sks`, so I suspect it is that. Your expectation is correct, so I'll take look.

[2020-07-06 22:30] #69 closed

[2020-07-06 22:31] jeremydaly commented on #69
Looks like it was using the post processed data to pass to the `default` functions. I've added support for passing in copies of the aliased fields as well, which happens earlier in the processing steps. All tests are passing, but need to keep an eye on this to make sure it doesn't introduce any issues.

[2020-07-07 10:41] Nemo64 commented on #2
There are a few reasons for both:

in favour of Number:
- support for [TTL columns](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/time-to-live-ttl-before-you-start.html#time-to-live-ttl-before-you-start-formatting). This is probably the big one.
- smaller. iso dates are 24 bytes long or 20 if you don't store milliseconds. Timestamps could technically be 4 bytes although dynamodb

[2020-07-10 14:54] jeremydaly commented on #68
Totally get it. Will add a fix.

[2020-07-10 14:56] jeremydaly commented on #66
Sorry for the late reply. Looking at this now.

[2020-07-10 15:24] jeremydaly commented on #66
This makes sense. The `entity` attribute could easily be stripped out when writing both `updates` and `puts`, but I'm wondering what we should do with the `created` and `modified` times. `entity` makes sense not to be overwritten, but `created` definitely should be updated. Perhaps `modified` should be stripped out as well?

[2020-07-10 15:51] #66 closed

[2020-07-10 15:53] jeremydaly commented on #66
I've decided to leave `_et` field manipulation in. You probably **should not** modify the `_et` field directly, but you have the ability to if you like. I've added a patch that adds the entity alias to the attributes, so your update will now work correctly.

[2020-07-10 17:25] jeremydaly commented on #65
After a bit of testing and research, I found this in the official docs: "BatchWriteItem does not behave in the same way as individual PutItem and DeleteItem calls would. For example, you cannot specify conditions on individual put and delete requests, and BatchWriteItem does not return deleted items in the response."

https://docs.aws.amazon.com/amazondynamodb/latest/APIReference/API_BatchWriteIte

[2020-07-10 17:25] #65 closed

[2020-07-10 21:05] #63 closed

[2020-07-10 21:07] jeremydaly commented on #63
Thanks for the fix you submitted, but I took a different approach by altering the `parseMapping` instead and adding the `map` to the `required` list instead. I updated the `Entity` class to make the error message more clear as well.

[2020-07-10 21:30] #51 closed

[2020-07-10 21:33] jeremydaly commented on #51
Thanks @RavyuS and @Nemo62. The pull request only fixed `put`, but the same issue was possible with the `delete` method as well. I've added a fix that puts an `isEmpty` function in the `utils` and then uses that to check the parameters when they are assembled. Thanks for everyone's input on this!

[2020-07-10 21:37] jeremydaly commented on #59
Hey everyone. Thanks for the question and feedback. I'm trying to get the library stable first, but an example app would be super helpful. @Ankcorn looks like he has a great start. I'm sure there are several simple examples that could be put together as well. I've got it on my list.

[2020-07-10 21:40] jeremydaly commented on #52
I was under the impression that v3 would have the same semantics as v2, just a different import method. If that's the case, I don't think any changes will be needed, especially since v0.2 of this library just requires the DocumentClient.

[2020-07-10 22:07] #50 closed

[2020-07-10 22:32] #49 closed

[2020-07-10 22:33] jeremydaly commented on #49
Hi @vlandres! Great catch on the `UnprocessedItems` bit. This is a very hard one to test because I can't seem to simulate failures for that.

With regards to the promise, I think you're right. I've added the `await`, but I'll need to do some more testing.

Thanks again!

[2020-07-11 12:24] jeremydaly commented on #47
This was resolved by a fix for #51.

[2020-07-11 12:24] #47 closed

[2020-07-11 12:27] #31 closed

[2020-07-11 12:28] jeremydaly commented on #31
Fixed.

[2020-07-11 12:32] jeremydaly commented on #70
Hi @mikestopcontinues! Thanks for this suggestion. I've never been happy with the current way that composites work, and this is an interesting idea. I have a few other methods I was playing around with, so expect to see something soon.

[2020-07-11 14:57] mikestopcontinues commented on #70
Awesome! I'm looking forward to it!

[2020-07-11 20:35] #68 closed

[2020-07-11 20:39] jeremydaly commented on #68
This took a bit of doing, but it actually opened up a pretty cool feature. I've added a `dependsOn` option to attributes that allows you to specify the attributes required by a `default` function. This will create a dependency graph and traverse it until all the nested values are calculated. Your example above would now look like this:

[code]

[2020-07-13 21:51] grempe opened #73 "The smallest of typos"
In this section of the (otherwise excellent!) README:

https://github.com/jeremydaly/dynamodb-toolbox#specifying-options-for-multiple-tables

The word `te` instead of `the`. Search for `[space]te[space]` and you'll spot it.

Cheers

[2020-07-16 20:21] SethO opened #74 "Non-Key Index Generated on Delete"
**Bug Report**

Once I updated from v0.2.0-alpha to v0.2.0-beta, I encountered an error. Now, when I pass a key to Entity.delete(), it tries to execute the `default` for my GSI, which wants data it doesn't have (and doesn't need for a delete). It looks like a change in lib/normalizeData.js is causing the problem.

**Expected Behavior:** For an Entity.delete() I can pass in only the pk/sk portions

[2020-07-16 21:35] jeremydaly commented on #74
Thanks for reporting this. I'll take a look at get it fixed!

[2020-07-16 22:14] SethO commented on #74
Because I haven't said it lately, **thank you** for putting this library together. It helps me and my team immensely.

[2020-07-16 23:31] #73 closed

[2020-07-17 00:02] jeremydaly commented on #74
I see the problem. This has to do with the dependency chains for defaults and the fact that your are accessing nested data. It *should* most definitely allow you to do this, but right now the normalize data function doesn't care what the operation is, it just tries to normalize the item payload.

I've added a patch that should fix your particular issue, but I need to investigate this further and a

[2020-07-17 00:08] jeremydaly commented on #74
v0.2.0-beta.1 has been pushed to npm. Let me know if you have any more issues.

[2020-07-17 05:35] grempe commented on #8
Rick talks about facets in the q&a at the end of this very good talk. He seems to think the aggregate view is much more useful and he implies that he’s not sure of the future of facets in that tool.

https://youtu.be/2FaWOavwygg

[2020-07-19 00:00] MauriceWebb opened #75 "Creating item collections on entities"
I'm still a noob at dynamodb single table design. It is a best practice to apply the Adjacency List pattern  when modeling many-to-many relationships. From my understanding, this just simply means to create an item collection on an entity item. How could one use the `Entity` instance to achieve this? Am I overthinking it or is there a "right" way to achieve this using `dynamodb-toolbox`?

[2020-07-21 21:58] SethO commented on #74
This issue has not given me any more trouble since updating to v0.2.0-beta.1. Kudos!

[2020-07-23 23:48] GrahamEvans31 opened #76 "autoParse Not executing on query, am I misconfigured or misunderstood?"
Here's a snipped from my code, I'd expect that the items returned form the query are populated with the bookingId parsed PK parameter.

[code]
Saving a payment entity:
[code]

[2020-08-10 05:57] michael-wolfenden opened #78 "Strings containing floats ending in trailing zeros are unable to be coerced to floats."
### Bug Report

Strings containing floats ending in trailing zeros are unable to be coerced to floats.

Instead a `'attr' must be of type number` error is raised.

For example

[code]

This issue stems from the fact that `parseFloat` strips trailing zeros so the string representation (`'1.00'`) not longer matches the `parseFloat` representaton (`'1'`) causing the error to be thrown.

https://githu

[2020-08-11 10:49] seanyu4296 opened #79 "How to put in global secondary index on Entity.put"

[2020-08-11 19:10] ianwsperber commented on #48
Hi! Could I ask what the remaining steps are to getting TS support in? I'd be happy to contribute if I understand what was preventing the existing work from getting merged.

[2020-08-11 19:34] antoniopresto commented on #48
@ianwsperber, there is a WIP at [typescript branch](https://github.com/jeremydaly/dynamodb-toolbox/tree/typescript)

[2020-08-11 19:40] ianwsperber commented on #48
Nice! Is the next step just to get that branch merged then? It appears everything is already in typescript on that branch. Or are there remaining migrations/validation to be done first?

[2020-08-11 19:56] antoniopresto commented on #48
What I did was convert all files to `ts` using some codemodes, updated tests and started migrating types. There is still a lot to migrate. I also[ copied this file](https://github.com/jeremydaly/dynamodb-toolbox/blob/typescript/src/types.d.ts) from another wip branch.
Unfortunately I will not work with dynamodb for now, it would be nice if someone could continue the migration

[2020-08-14 20:18] michael-wolfenden commented on #59
If anyone wants an example of using this library, I have re-implemented Forrest Brazeal's [Single Table Northwind example](https://github.com/trek10inc/ddb-single-table-example) here ->

https://github.com/michael-wolfenden/dynamodb-toolbox-northwind

[2020-08-17 02:10] nwpointer opened #80 "Entity pk mapping supported?"
was excited by the entity example in the readme that uses id as the pk instead of the field name pk as specified in its associated table.

I found however when I try something similar the field is not mapped when I run the entity.put method.

is this an intentional change or a bug?

happy to attach additional information if it is indeed a bug.

[2020-08-17 13:57] TLaue opened #81 "Getting "'entity' value of 'xxx' must be a string and a valid table Entity name""
I am facing a problem with a condition expression on a put operation when using WebPack. The following piece of code:

[code]

results in an  "...entity' value of 'TagId2DsIdMapping' must be a string and a valid table Entity name" error when running on AWS Lambda. The same code does not throw an error when used without WebPack or when deactivating the minimization with the WebPack config and when

[2020-09-03 04:36] afgallo opened #83 "[question] What does version 1.0 look like?"
Hi @jeremydaly

Thanks a lot for your work on this library. I was looking for something designed with single table in mind and found dynamodb-toolbox!

Just a quick question: What do you think this library is missing for v1.0?

Cheers!

[2020-09-03 13:28] jeremydaly commented on #83
Hi @afgallo,

The library is still missing Transaction support and a few other small convenience features like GSI Projection Management. Plus there are still a few bugs that people have submitted and we are in the process of working on TypeScript support. My goal is to have this all completed by the end of September.

- Jeremy

[2020-09-03 22:31] afgallo commented on #83
Amazing, @jeremydaly thank you!

I've started using your library and it was pretty straight forward! Did run into an issue where I accidentally used the same column name "created" and was getting an error about alias. I then dug deeper in the documentation and found out why.

Do you have examples of how you've used the toolbox in larger serverless apps? Just curious about which patterns have emerg

[2020-09-08 13:12] JakeGinnivan commented on #4
@pierreis just checking in how far you got with this?

[2020-09-12 00:55] gpinkham commented on #78
would this be an ok change for this?   if so I'll make it and submit a PR..
[code]
this works for things I've tried..   "1" == "1"/1 and "1.00" == "1.00"/1 will both return true..   "abdhd1.00" == "abdhd1.00"/1 will return false.   null == null/1 will return false as well..

[2020-09-12 19:30] BetaConnector opened #84 "query with numeric pk not working"
Hello,

I am using the following Table:
[code]

With the following Entity:
[code]

The following query is working fine:
[code]

But I cannot get the query to work with the toolbox:
[code]

It keeps telling me, that the partitionKey needs to be a string.
If I pass the pk as a string ('1') it tells me, that the parameters do not match the schema.

I am pretty new to DynamoDB - hopefully someone can

[2020-09-13 17:57] jgilbert01 opened #85 "receive "Error: 'alias' must be a unique string" when overriding created default value"
i get this error when trying to override the created/modified default values as shown in the readme to make mocking easier

[code]

if I switch to this then the override is ignored

[code]

[2020-09-14 12:21] jeremydaly commented on #85
This is likely due to the fact that `created` is the alias for `_ct`. I’ll look into this to see if there’s a fix or add it to the documentation.

[2020-09-21 20:51] jeremydaly commented on #84
Looking into this. Partition keys can be a string, binary, or number, so it should support this.

[2020-09-22 00:26] nkdevirl opened #86 "Partition key suffixes"
Hi,

This looks like a fantastic tool kit, any plans to support partition key suffixes out of the box?

Something like the concept here:
https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/bp-partition-key-sharding.html

Thanks much!

[2020-09-23 17:32] SethO opened #87 "Conditions error when lte or gte is zero"
On an entity `update()`, when I use a `lte` or `gte` condition where the value is zero, I receive an error "A condition is required". I was also using `execute: false`, in case that helps.

In my particular case, I was able to work around this by changing the condition to a `between` call.

[code]
[code]

[2020-09-25 12:41] deldrid1 commented on #83
@jeremydaly - Is the work on TypeScript support being done on a fork somewhere that folks can try it or take a look?  The [`typescript branch`](https://github.com/jeremydaly/dynamodb-toolbox/branches) looks pretty stale and I also saw in #54 you mentioned some integration tests that haven't been published?

I'm looking to start a new large TypeScript DynamoDB project.  This library looks SUPER pro

[2020-09-25 14:38] jeremydaly commented on #83
Hey @deldrid1,

A lot of work is being done on this and we should see Transactions and TypeScript within the next two weeks.

- Jeremy

[2020-09-29 19:39] ryan-mars commented on #86
You can already do this.

https://github.com/jeremydaly/dynamodb-toolbox#using-an-object

See "suffix"

[2020-10-03 02:36] manwaring commented on #76
I'm seeing the same thing when querying global secondary indexes, I haven't looked through the code yet to see what might be causing it

[2020-10-05 03:58] seanyu4296 commented on #79
my bad on this issue. I have figured this out through indicating my GSIs in the db `Table` definition and nominating your desired field as your primaryKey, and it automatically adds the item to the GSI if it has that attribute filled in.

[2020-10-05 03:58] #79 closed

[2020-10-13 21:07] deldrid1 commented on #83
Hey @jeremydaly - just pinging to see where this stands.

As a random aside are there any examples/best practices of how to best integrate a DynamoDB Table managed with this toolbox with AWS AppSync?

[2020-10-14 20:09] jeremydaly commented on #83
I've been working on it @deldrid1. The TypeScript conversion has been more difficult than I thought including some refactoring. Hoping to finish it up this week. I'll have to get back you on the AppSync question.

[2020-10-27 18:56] lgandecki commented on #83
hey @jeremydaly , thanks for all the work. Do you need some help? :) I realize that explaining to someone what needs to be done often takes more time than just doing it yourself, but if you had for example some failing test cases I'd love to jump in and make them pass :) Same if you have some problems with TypeScript typing.

[2020-11-04 01:25] j1-uli-holtel commented on #81
I was facing the same problem and looked into it. The verification in `lib/expressionBuilder.js:119` fails because of `table[entity].constructor.name !== 'Entity'`. The constructor name is an empty string, replaced by the terser webpack plugin.

[code]

You can keep the constructor names with the following webpack configuration:

[code]
Ideally the verification should not rely on the constructor n

[2020-11-04 11:54] TLaue commented on #81
@j1-uli-holtel: thanks for proposing the workaround. It solved this issue for me as well.

[2020-11-13 09:57] mfbx9da4 opened #91 "Deep nested update issues"
* Can't use base64 encoded keys as this will clash with dynamodb's syntax

This could be solved by using ascii strings for the attribute names

* Won't create the leaf if the parent object is not already existing

There should be an option to create the path if it doesn't already exist. You could try creating the leaf, if that fails, create the parent with the leaf and recursively create parents u

[2020-11-13 10:01] mfbx9da4 commented on #1
Any update on this one? Would be such a great feature as otherwise we lose all the awesome aliasing features in the deeper nested maps 😢.

[2020-11-18 09:31] mfbx9da4 opened #92 "Updating an attribute to be undefined does not remove the attribute"
if you have some item `{ id: 'asdf', foo: 'asdf'}`

and you do `Foo.update({id: 'asdf', foo: undefined }` I would expect the field foo to be removed from dynamo but it persists

[2020-11-18 09:55] darbio commented on #92
Isn't this what $remove does?

[2020-11-18 12:02] mfbx9da4 commented on #92
Ah okay yeah makes sense. Shouldn't the toolbox then throw `if (key in payload) { assert(payload[key] !== 'undefined', 'use $remove')`

[2020-11-19 00:15] darbio commented on #92
It depends on your use case I suppose.

Some people see empty/undefined values to have a meaning, so adding the exception carte blanche would be a big opinion.

[2020-11-19 09:25] mfbx9da4 commented on #92
Well yeah, but if it has meaning then it should do something, otherwise it's an unknown parameter. Anyway, I don't feel that strongly about this, happy for it to be closed. It's just something that tripped me up coming from another dynamo client.

[2020-11-19 13:05] darbio commented on #92
Agreed. I just get the opinion that this library is trying to be was unopinionated as possible.

Perhaps this could be an option to turn on? RemoveUndefinedAttributes or similar?

[2020-11-19 13:28] #87 closed

[2020-11-19 13:58] jeremydaly commented on #92
Jumping in late, but I think I agree with @mfbx9da4. There is a `removeNullAttributes` option (enabled by default) that will remove attributes set to `null`, but I can't remember why I didn't just use `undefined`. There was probably a reason, but I'll investigate futher.

[2020-11-19 14:01] jeremydaly commented on #91
Thanks, @mfbx9da4. Did you have the same problem if you just send in a JS object? I realize this won't help with selective updates, but curious if that works.

[2020-11-19 14:02] jeremydaly commented on #86
You can also use the `transform` feature if you want to make it dynamic. https://github.com/jeremydaly/dynamodb-toolbox#using-an-object

[2020-11-19 14:02] #86 closed

[2020-11-19 14:25] mfbx9da4 commented on #92
I think it should probably set to null if null is provided as this a valid dynamo type right? and then remove if set to undefined

[2020-11-19 14:27] mfbx9da4 commented on #91
Yeah in my case I couldn't use an object as I needed the selective updates as you say.

[2020-11-19 14:27] jeremydaly commented on #84
Sorry for the late reply. There is a condition that was restricting this. I've fixed it in the v0.3 branch.

[2020-11-19 14:27] #84 closed

[2020-11-19 14:27] mfbx9da4 commented on #91
As for the deep updates... I created this - if it's of any use

[code]

[2020-11-19 14:39] jeremydaly commented on #92
NULL is a valid type, but it doesn't make a lot of sense in NoSQL especially if you have a schema defined via the library. I ran a twitter poll on this and "remove the attribute" on nulls won out: https://twitter.com/jeremy_daly/status/1256259584819449856

I'll look more into the undefined thing. I guessing I didn't use that because `undefined` would get lost on serialization, but that might just

[2020-11-19 18:08] mfbx9da4 opened #93 "Update issue with default"
If you have an entity defined with a field which defaults to some value whenever you call update the default overwrites whatever value was there. This was surprising to me. I would have expected the default value only to write if there was no previous value

e.g.

[code]

side bug is that you can't have a required boolean field set to false

[2020-11-19 19:05] jeremydaly commented on #93
Hmm, let me look into this.

[2020-11-19 21:22] jeremydaly commented on #93
The library is generating the following parameters:

[code]

This should be working correctly, but I'll try it out on a live table.

[2020-11-20 00:22] jeremydaly commented on #93
Can you use `updateParams` or add the `execute: false` flag to your `update` and post that here? I'm getting the correct parameters for both v0.2 and v0.3.

[2020-11-20 00:35] jeremydaly commented on #81
This should be fixed in v0.3. There were two places where we referenced the `constructor,name` to validate the instance. Those have been deprecated and replaced with simpler key checks.

[2020-11-20 00:35] #81 closed

[2020-11-20 01:08] jeremydaly commented on #48
TypeScript branches have been consolidated into https://github.com/jeremydaly/dynamodb-toolbox/tree/v0.3. It's not complete yet and there is still some type work to be done, but future TS enhancements should go here. Thanks to @antoniopresto and @xavierlefevre for their work on this.

[2020-11-20 01:08] #48 closed

[2020-11-20 01:12] jeremydaly commented on #80
Hi @nwpointer. So sorry for the late, late, late reply. This might have been cleaned up in some of the updates over the last few months. If you can still replicate this, I'd love to see your code.

[2020-11-20 01:47] jeremydaly commented on #76
This is definitely not working correctly in v0.2. Will fix in v0.3.

[2020-11-20 01:51] jeremydaly commented on #76
This works correctly if you add `{ save: false }` to the configuration. For example, `bookingId : ['PK',1]` would become `bookingId : ['PK',1, { save: false}]`. This should do it automatically.

[2020-11-20 02:26] darbio commented on #92
I don't disagree with removing undefined, however I do note that $remove works just fine as well.

In the context of the DSL for this library, it's more explicit to use the DSL than it is to check for undefined attributes.

That doesn't mean that it's wrong to remove them, but it does introduce another vector for bugs and nuances in debugging that people who use the lib need to be aware of.

I sup

[2020-11-20 15:12] GrahamEvans31 commented on #76
Awesome, I'm still using the toolbox now in 2 different projects so I'll look to make use of that config change and report back.

[2020-11-20 16:16] mfbx9da4 commented on #93
[code]

[2020-11-20 16:18] mfbx9da4 commented on #93
Interestingly using `enabled: () => false` works instead of  `enabled: false`

using the former:
[code]

[2020-11-20 16:32] jeremydaly commented on #93
Thanks for this. I'll take another look.

[2020-11-20 21:41] mfbx9da4 commented on #93
0.2.0-beta.1 using version FYI

[2020-11-23 10:38] ThomasAribart opened #94 "Update using dashes"
[code]

This update will fail as the update method will generate an ExpressionAttributeName containing `{ '#field-with-dash': 'field-with-dash' }` and the dynamoDb client will throw an error `Invalid ExpressionAttributeName key` as it doesn't handle the `#field-with-dash` key... 😞

[2020-11-23 14:18] jeremydaly commented on #94
Good catch. Looks like I'm just taking the attribute name and prefixing it with a `#`, but clearly that will cause issues. I should be able to switch it to an incrementing numerical index approach like I used for the `projectionBuilder`.

[2020-11-23 18:50] joedevgee commented on #59
I like that you are always trying to keep things simple. Do you think [lambda-api](https://github.com/jeremydaly/lambda-api) and this library is a good fit together? If so, would like to see how you would recommend using them together

[2020-11-23 19:31] jeremydaly commented on #59
Lambda API needs some more work (like v2 payload support for HTTP APIs), but libraries do work well together.

I always create a Data Access Layer (DAL) for my projects, which abstracts the data model into simple calls like `getUser`, `getOrders`, `getOrderById`, `setUser`, etc.  I built this library to help me build my DALs faster.

[2020-11-26 14:58] nkdevirl commented on #86
Just to add an example of the `transform` feature, for anyone who is looking todo the same and stumbles upon this post.

`attributes: {
        pk: { partitionKey: true, transform: (pkk, item) => item.tenantId + "#" + pkk }, // flag as partitionKey
        sk: { hidden: true, sortKey: true }, // flag as sortKey and mark hidden
        status: ['sk', 0], // composite key mapping
        id: ['sk',

[2020-11-30 22:33] darbio commented on #76
Just a 'me too' from me.

In the following screenshot you can see that some of the items are parsed, whilst others are not.

![image](https://user-images.githubusercontent.com/517620/100673469-9ebab500-33b7-11eb-9cae-6a3dedfef184.png)

Unfortunately I can't do the `save: false` trick as I defined my entity as follows:

[code]

[2020-11-30 23:11] darbio commented on #76
I had a further look into this and it appears that the issued is related (autoParse is not working) however the issue only appears when I `update` the entity.

When I update the entity and then query on the index, none of the entities are parsed.

[2020-11-30 23:41] darbio commented on #76
I fixed up my code to not enable autoParse (`parse: false` in the query method) and to manually parse the entities and this appears to be working for me with this workaround.

e.g.

`const surveyEntity = results.Items.filter(item => item._et === SurveyEntityType).map(item => SurveyEntity.parse(item) as ISurveyEntity)[0];`

I'll check once this is fixed.

[2020-11-30 23:44] jeremydaly commented on #76
Thanks for the info @darbio. I don't think this is related to the autoParse composite key issue, but I'll investigate it as well.

[2020-12-08 06:26] #75 closed

[2020-12-08 19:30] ryantomaselli opened #95 "Support for transactWrite"
Hey guys;

I'm just hooking in this tool and it's making the code so much cleaner. Thanks for creating it!

I do notice that transactWrite is not supported at the moment.

Is there intent to add such support?

My use case is that I would like to create versions of my records as updates happen...so an update will consist of 2 writes which I would like to have never part succeed.

Reference: https:/

[2020-12-08 20:03] jeremydaly commented on #95
It's in the v0.3 branch! Working to get this wrapped up and released soon. Feedback would be much appreciated.

https://github.com/jeremydaly/dynamodb-toolbox/tree/v0.3

[2020-12-08 20:20] darbio commented on #95
I currently do the following to use transactions in 0.2:

const surveyLocaleEntity = await SurveyLocaleEntity.put({
            ...
        }, {
            execute: false,
            capacity: 'indexes',
            conditions: [
                {
                    attr: 'pk',
                    exists: false,
                },
            ],
        });

        const surveyParticipantEmail

[2020-12-10 11:29] nolde opened #97 "Non-default delimiter not working properly"
I have the following entity:
[code]
Then, I try the following operation, with the output commented right below:
[code]
Shouldn't the response be splitting `target` using my delimiter?
[code]
Event forcing `autoParse: true` does not work. I am using `dynamodb-toolbox@0.2.0-beta.1`, node `v12.13.1`.

Am I misunderstanding something, or is the delimiter not working properly?

Thanks in advance!

## E

[2020-12-11 02:56] nolde commented on #97
Ok, I've found out the problem. I was using pre-existing data, without the proper `_et` tags, so they weren't being properly recognised. I am closing the issue.

[2020-12-11 02:56] #97 closed

[2020-12-12 22:10] #95 closed

[2020-12-12 23:04] #4 closed

[2020-12-13 20:33] brettstack opened #99 "Return new item from put"
Currently, calling put on a new item returns `{}`. It'd be great if the library returned the item. I can do this mostly myself since I know what I call `put` with and I can simply return that, but it won't include `created`, `modified`, etc.

[2020-12-13 20:35] brettstack opened #100 "Add a `create` method"
Currently, `put` will replace the old item if it exists. A `create` method could simply wrap `put` and add a `ConditionExpression`

[2020-12-13 21:08] jeremydaly commented on #100
The `update` method already does this. Plus the library automatically handles `created` and `modified` dates when using it. The goal is to be consistent with the DynamoDB API, so adding a non-standard naming convention could get confusing.

[2020-12-13 21:13] jeremydaly commented on #99
This can also be done with the `update` method. Just add the `returnValues: 'ALL_NEW'` to the options and it will give you the most up-to-date values.

[2020-12-13 21:13] #99 closed

[2020-12-13 23:43] brettstack commented on #100
Sorry, I should have been more clear. The `create` method would fail if the partition key exists (i.e it shouldn't update).

I get being consistent with the DynamoDB API, but this is a common use case, and adding `ConditionExpression` to `put`/`update` myself is a low-level pain. 😅 If you're really against adding a `create` method, how about a flag on the `put` method (`create`, `createOnly`, `noU

[2020-12-14 00:05] darbio commented on #100
@brettstack - I agree with @jeremydaly.

You can always extend the library yourself in your code to add this helper util if you like.

It's not hard to define this behaviour:

[code]

[2020-12-14 00:14] brettstack commented on #100
Compare that to:

[code]

Or, if we must:

[code]

This is pretty low-level:

[code]

[2020-12-14 00:23] jeremydaly commented on #100
I see your point @brettstack, so perhaps we could consider some “helper” methods that wrapped common patterns? It would have to be *really clear* that these were special methods as opposed to low level API methods.

[2020-12-14 00:27] brettstack commented on #100
What did you have in mind to make this really clear? Is it enough to highlight this in the docs? Or did you want to scope these to something like `Entity.helpers.create()`

[2020-12-14 02:40] darbio commented on #100
If the idea is to be able to dive in and out of the AWS SDK and not to be an ORM then I think this detracts from that goal.

Any user of this library needs to understand how DynamoDb works, so low level shouldn't be a problem IMO and increases the barrier to entry by having to understand DynamoDb **and** the library.

It's the whole implicit vs explicit argument.

[2020-12-15 21:54] simlu opened #101 "How do we create the actual table in aws dynamodb?"
Preference is to not have two definitions for the same table: So how can we either create a table through the api or/and generate a cloudformation template?

If this is out of the scope of this library, I'd really like to understand what the best practices are!

PS: So far this library is looking promising and we are liking what we are seeing. Thank you for your help!

[2020-12-16 01:52] jeremydaly commented on #101
Hi @simlu! The library is intended to be a wrapper over the existing DynamoDB API to make interactions easier. The table definition in your app code should only need to identify your partition and sort keys, plus map your secondary indexes if you have any.

I don’t think the library would want to add additional API wrappers for “management” tasks. How would you envision a interface for generating

[2020-12-16 02:20] darbio commented on #101
@simlu the way I work it is to define the table in CF and this is then provisioned on first deploy.

The code (Table entity) doesn't generate the table, just maps to the existing table.

I would recommend using CloudFormation where possible.

[2020-12-16 10:48] bpiggin opened #102 "Required number field cannot be 0"
For an entity with a field:
`numberField: { type: 'number', required: true }`

I get:
[code]

When trying to save an entity with `numberField: 0`. I think this is due to the `!data[field]` check on line 778 of Entity.js.

Thanks for creating the library, really loving it!

[2020-12-16 12:54] jeremydaly commented on #102
Thanks, @bpiggin! There are a few places in the library that do falsey checks that should be more explicit. Thanks for finding this one.

I saw your PR, so I’ll take a look at getting that merged.

[2020-12-22 15:52] lwillmeth opened #105 "Using the same variable in two composite keys"
Is it possible to use the same variable in two composite keys, and how?

The [composite key docs](https://github.com/jeremydaly/dynamodb-toolbox#using-an-array-for-composite-keys) use this syntax, but I'm not seeing an easy way to reuse the status or date variables for another composite key (like a GSI).  I could pass the same values as a different variable name, but that feels sloppy.

Is there a

[2020-12-22 19:17] lwillmeth opened #106 "Working with nested attributes"
Are there docs or examples around defining and querying nested attributes?  I [see docs](https://github.com/jeremydaly/dynamodb-toolbox#update-nested-data-in-a-map) for updating nested attributes, but they don't include the entity definition.  I also checked the [put unit tests](https://github.com/jeremydaly/dynamodb-toolbox/blob/master/src/__tests__/entity.put.unit.test.ts) for an example.

I tri

[2020-12-22 21:14] lwillmeth commented on #106
I think I see the problem, at least with the way that I'm trying to filter on that nested attribute.  dynamodb-toolbox generates a dynamo query using the full path, like:

[code]

but dynamo needs the path to be broken down like this:
[code]

Am I just using this wrong? Is there another way to specify the path in the toolbox query args?

[2020-12-22 21:17] jeremydaly commented on #106
Hmm. This could be a bug, but I recall nested paths working just fine in the past. Let me look at this.

[2020-12-22 22:12] lwillmeth commented on #106
Thanks!  I'm totally open to user error here.

Is it possible to define the shape of a map's attributes?  In my playground example I'm doing this:

[code]

Which creates records like this:

[code]

I'm happy with that shape, but it feels like a clumsy misuse of the Entity class, because it can't define the shape of `attrs`.

I can use another validator, just want to make sure I'm not missing anyth

[2020-12-26 09:26] mkarsene commented on #80
Hi @jeremydaly, Happy holidays!

I also had an issue which is possibly related, didn't want to open a new issue for it.
I defined my User entity as follows
________________________________________________________________________________________________
const User = new Entity({
  // Specify entity name
  name: entityTypes.USER,
  // Define attributes
  attributes: {
    PK: {
      partitionKey: t

[2020-12-26 15:00] jeremydaly commented on #80
@mkarsene, you do not need the `.promise()` after your `User.put()` statement. The library does this for you.

[2020-12-26 16:19] kcwinner opened #107 "Interface queryOptions comparisons are string only"
The queryOptions interface only supports string types for comparison operators (`eq`, `lt`, etc). However, this will fail if the index type is a number and not a string.

The following requires a `// @ts-ignore` in order to build
[code]

Proposed solution
[code]

[2020-12-26 17:16] famouspotatoes opened #109 "Custom validation"
Firstly thank you for the superb library! I was halfway through building something like this myself until I found this package from reference in Alex DeBrie's book.

The one thing I was planning to implement in my package that I don't see here (unless I missed it) is the ability to provide custom validations (beyond type validation).

For instance, if we want to validate that an attribute `email`

[2020-12-26 17:22] famouspotatoes commented on #109
It would be great to be able to use custom validation like this:
[code]
If the validate callback resolves to something truthy, the attribute can be put. Otherwise, an error is thrown.

[2020-12-26 18:57] famouspotatoes opened #110 "Usage of hidden attributes"
This is more of a question - I am exploring this package for the first time today.

I'm trying to use `hidden: true` for an attribute like `password` for a `User` entity.

It works great in terms of storing the password normally and then filtering it out once the DynamoDB attributes have been mapped into JavaScript object properties.

But what is the recommended approach in the specific cases wher

[2020-12-26 22:11] darbio commented on #109
I agree that it would be nice to have more fine grained validation, but I think the data layer is the wrong place to be doing **this** type of validation - shouldn't you be doing this as close as possible to the input?

[2020-12-26 22:18] darbio commented on #110
One way would be to use the password **hash** in the key and query based upon that key (maybe a gsi) rather than performing the validation of the password in your code.

E.g.:

[code]

Then you can query the data on gsi1 using `User.get()` and specifying the key. If nothing is returned, the username/password combination is incorrect.

Ps. I hope you aren't storing the password in plain text. That

[2020-12-26 22:21] darbio commented on #105
You can use a function to calculate the default value of an attribute.

[2020-12-26 22:52] darbio opened #111 "Error: Invalid Entity"
### The problem

I'm intermittently getting an `Invalid Entity` error when querying my table for a specific entity.

### The specifics

When I run my code offline using dynamodb local and serverless offline, the code runs fine for a short period of time. At an unknown point, the code will fail with an `Invalid Entity` error which then persists until the process is restart.

It's peculiar - the ent

[2020-12-27 16:26] famouspotatoes commented on #110
That's a great resolution @darbio, thank you so much!

PS - yes always hashin'

[2020-12-27 16:26] #110 closed

[2020-12-27 16:34] famouspotatoes commented on #109
@darbio I agree with your assessment of the data access layer, but my implementation is such that I am trying to use this package to construct the "model layer".

I think it makes the most sense to define what attributes a `User` can have at the same time/place as you define the shape/requirements of those attributes.

As a simple example, my access patterns require multiple API endpoints where a

[2020-12-27 21:31] darbio commented on #109
I see what you are doing but I still think you are buying yourself trouble.

Generally it is always a good idea to keep your validation as close to the user as possible - easier to test, your application will be more performance, you have less chance of corrupt data in your data store and you'll pay less for resources.

The other thing to bear in mind is business rules vs validation.

Generally I

[2020-12-27 21:33] darbio commented on #107
I reviewed your code - looks good (simple change). Hopefully this can be merged in soon.

[2020-12-27 23:27] kcwinner commented on #107
@darbio no worries! Right now I'm just using ts-ignore to get by

[2020-12-28 04:53] darbio opened #112 "AutoParse on created and modified not being applied on query"
As per the below:

[code]

The output:

[code]

I am expecting `_md` and `_ct` to be parsed to `created` and `modified`.

Using version 0.3.0.

[2020-12-28 07:29] mkarsene commented on #80
@jeremydaly That's true, I added that out of desperation :P. But that was not the issue. I had misspelled "PartitionKey" as "PartionKey" in my table definition. All is good now, sorry for that!!

[2020-12-28 16:21] lwillmeth commented on #105
Thanks @darbio, that's what I'm doing now, but there are some subtle differences.  Using the docs example, I could do this:

[code]

This would create two composite keys `sk` and `sk2` as intended, but it would also create fields for status and date, which would not be created from the original docs example above.

An entity attributes flag to exclude a field could work, but I don't think that's a

[2020-12-28 21:14] famouspotatoes commented on #109
ok i see what you're saying and I definitely agree with your points. I think I was trying to create something similar to Active Model in Rails or Eloquent in Laravel. Those design patterns are basically where the model handles the communication with the data layer and the implementation of the business logic. I still have some planning to do for this project, but now I agree that business logic va

[2020-12-28 21:14] #109 closed

[2020-12-28 21:38] #80 closed

[2020-12-28 21:39] #107 closed

[2020-12-28 21:54] darbio commented on #112
May be linked to #76 , however it appears that issue #76 is around keys not auto mapping - this example is not a key, but the `_ct` and `_md` fields.

[2020-12-29 11:08] mkarsene opened #113 "Can't write UpdateExpressions in transactWrite"
Hi @jeremydaly,
I hope this is the proper place to ask this...
I've been playing with the new transactAPI in this great toolbox. While I can do some basic transaction operations, I can't seem to be able to write any expressions such as updateExpressions, conditionExpressions and the like. There also doesn't seem to be a way to add custom parameters and clauses? This seems to be the case in your En

[2020-12-29 21:03] darbio commented on #113
The example in the documentation shows:

[code]

You can adjust this for your use case.

I _think_ (I'm AFK) that I've also done this in the update expression using the second parameter, but I'll have to check when I get back to the office (and sufficiently caffeinated).

[2020-12-29 21:15] darbio commented on #113
I knew I was using it somewhere...

This is the code:

[code]

This checks that the attribute 'pk' exists prior to writing.

[2020-12-29 21:36] famouspotatoes opened #114 "TypeScript Compilation Error: Utils.js"
Even though this code looks fine to me, my typescript compiler is still throwing an error as shown below when I include this library in another project.

[code]

[2020-12-29 21:39] famouspotatoes commented on #114
Solved: didn't set the name of the `Table`. I thought this was a compilation error of the library since the beginning of the error stack shows it was coming from `node_modules/dynamodb-toolbox/....`. After looking for 2 more seconds I saw that it was that missing `name` property in my `Table.js` file.

[2020-12-29 21:39] #114 closed

[2020-12-30 02:04] famouspotatoes opened #115 "Transform Idea"
Right now, the transform function provides an object with the already-mapped data.

What about providing (potentially as a third argument) an object with the pre-mapped data?

I think it is more natural to reference fields based on their human-friendly property names rather than `gsi1pk`.

What are your thoughts on this?

________________________________________________________________________

Al

[2020-12-30 02:34] famouspotatoes commented on #110
I ended up going with this resolution because I didn't want to add an extra GSI for user/password lookup:
[code]

[2020-12-30 05:46] darbio commented on #105
Ah yes - I see the issue.

The other issue with the method I proposed is that the sort key of a GSI won't update if you give something a new value, so it will have to be set manually (default values aren't updated when performing an update).

We do need a better way of doing this.

[2020-12-30 07:14] darbio commented on #110
I'd still recommend Cognito over rolling your own auth.

I suspect that at some point you are going to need a GSI. If you design your table well you can get away with only one GSI for all of your access patterns.

I can't recommend Alex DeBrie's book enough before going too far down the path and making mistakes that are hard to undo.

[2020-12-30 07:56] OlivierPT opened #117 "Default does not support function (for conditionnal need)"
Hi,

I tried to use the "default" option with function call because I needed to use a condition to choose the default value but the function is not evaluated and its code content is stored in DDB instead:

Entity configuration:

[code]

And in DDB, I get:

[code]

Maybe it is a configuration on my side?

Thank you,

[2020-12-30 08:08] darbio commented on #117
Can you give a full end to end example?

This is working in my code (I use it a lot for calculating indices).

[2020-12-30 08:12] darbio commented on #117
Ps. Your use case for default is already covered as entities have time stamps (created & modified) by default.

[2020-12-30 08:16] darbio commented on #115
I think `default: false` is a bug. It's. Ali's to have a default value of `false`.

I don't think it's the responsibility of the library to do this transformation.

If you want to transform data that is something you want to do externally to the data access code.

Your normalised email has business meaning. It should be in the business logic, not the data access code.

[2020-12-30 08:21] darbio commented on #93
What is the default behaviour or default?

Should it only populate on first go? Or should default be calculated each time?

[2020-12-30 08:27] OlivierPT commented on #117
Indeed but I would like "createdAt" attribute is used both in object and in ddb because I find it less confusing. And if try to configure it like below, I get "Error: 'alias' must be a unique string" :

[code]

[2020-12-30 08:40] OlivierPT commented on #117
Also: "dynamodb-toolbox": "^0.3.1"

[2020-12-30 08:53] darbio commented on #117
The error is correct.

You don't need to specify `created` and `createdAlias`. Just try with one of them.

The docs show the difference between each option.

[2020-12-30 08:55] OlivierPT commented on #117
Here is a full code sample:

[code]

I hope it can help.
If it's working on your side, it is maybe a configuration issue.
Which version do you use?

[2020-12-30 09:02] OlivierPT commented on #117
I tried both but it does not match what I al looking for: having both object and BBD attribute with the same name:
- If I use 'createdAlias' then the object attribute is 'createdAt' and DDB attribute is '_ct'
- If I use 'created' then then the object attribute is 'created' and DDB attribute is 'createdAt'

That why I was thinking using both option would be the good setting :)

[2020-12-30 09:07] darbio commented on #105
I had a read through the docs again and I think that the answer may be to set the `onUpdate` property to `true`.

Forces default values to be passed on every update.

[2020-12-30 10:50] darbio commented on #117
If you want the attribute on the dynamodb item to be changed from '_ct' to 'createdAt' then you want to set `created`.

If you want the attribute on the parsed entity to be changed from 'created' to 'createdAt' then you want to set `createdAlias`.

Im not sure why you would want the former (remember attribute names contribute to item size) but I think you are looking for the latter.

Incidentally,

[2020-12-30 11:03] darbio commented on #115
Would this not work for your use case?

[code]

[2020-12-30 11:07] darbio commented on #111
I narrowed this down to only happening when I've updated an existing entity.

Specifically I am `$add`ing to a number in the item. Subsequent queries fail with the error.

I'm still yet to reproduce in AWS lambda.

[2020-12-30 11:09] OlivierPT commented on #117
Actually, the reason is mainly for understanding...
But you are right that 'createdAlias' is the most optimised solution. For now, I decided to go for this one...

[2020-12-30 11:13] darbio commented on #117
May also be related to #85

[2020-12-30 11:20] OlivierPT commented on #117
Could it be due to the fact that I also set ```type: 'string'```in addition of the default option?

[2020-12-30 11:24] darbio commented on #70
I think this could be a valid solution for #105.

[2020-12-30 11:30] darbio commented on #105
I was thinking about ways to solve this and came to the conclusion that we need to flip composite definitions.

Appears that @mikestopcontinues had the same idea in #70.

Flipping composite definitions from the things that make up the composite to the composite specifying what it is made up of seems to solve the use case of @lwillmeth'a original query.

[2020-12-30 11:33] darbio commented on #33
I think this is YAGNI. It takes 2 seconds to write a YAML on table definition for Dynamodb.

[2020-12-30 11:36] darbio commented on #105
Also discussed in #32

[2020-12-30 13:32] jeremydaly commented on #113
Hi @mkarsene, it looks like @darbio's response should get you on the right track.

The documentation definitely needs some more examples for things like this. Plus, I realize that `putTransaction`, `updateTransaction`, etc. aren't documented well.

Let me know if you still need more help.

[2020-12-30 13:35] jeremydaly commented on #117
Hi @OlivierPT. Thanks for noticing this. I understand your use case, and you _should_ be able to set the alias and the attribute name to the same thing. I will investigate this and see if we can relax the constraint.

[2020-12-30 13:45] jeremydaly commented on #115
Hi @famouspotatoes! Thanks for the feedback.

So I _think_ you'd be better off using @darbio's solution here as it appears you're simply "defaulting" the value with a conversion every time. However, your example seems like an intuitive approach (in that you want to "transform" a value), so it's either a documentation problem, or an implementation one.

I have to think more about whether or not the

[2020-12-30 14:00] jeremydaly commented on #112
I verified this. Investigating.

[2020-12-30 14:46] mikestopcontinues commented on #105
I'll just chime in to say this is unfortunately a blocker for me using the lib, and I thought I'd eventually find the time to make a PR, but I'm in early startup land right now so time is in short supply. Instead, I ended up using superstruct for data structure with coercion helpers to generate hash/sort keys, and a light wrapper around the sdk to simplify requests. I'd be happy to put a gist toge

[2020-12-30 16:38] famouspotatoes commented on #115
@darbio cool! that works great. I had skipped over the part in the readme about customized defaults; makes more sense now.

[2020-12-30 16:46] jeremydaly commented on #105
@lwillmeth, sorry for the late reply. There is an entity flag called `save` that can be used to prohibit an attribute from being saved to the table. I just realized that it wasn't in the documentation other than in examples, so I've added it here: https://github.com/jeremydaly/dynamodb-toolbox#using-an-object

The idea of composites was to allow you to _parse_ the data back out, but that has seeme

[2020-12-30 16:47] jeremydaly commented on #105
@mikestopcontinues, can you explain the blocker? Does the `{ save: false }` option help you, or do you need something else?

[2020-12-30 17:36] famouspotatoes commented on #115
@jeremydaly the only thing that I feel like is missing from the above example is that I want to do this:

[code]

The default value runs only when actually performing a DB operation.

How can I get the final object that will be persisted to be available locally? Since `Entity.put` does not return the final object, how can we know of those dynamic default values without an extra trip with `Entity.g

[2020-12-30 17:56] famouspotatoes commented on #115
Perhaps we could add a new method to the `Entity` class to allow this functionality in a more expressive way. Something like:
[code]

[2020-12-30 18:16] darbio commented on #105
Maybe this feature should be cut from the lib in favour of ```
`default`s? (Or at least made less prominent in the docs?).

[2020-12-30 18:17] jeremydaly commented on #115
So, there is a way to do this using the `update` method instead of `put`. If you set `{ returnValues: 'ALL_NEW' }` in an `update`, it will return _all_ the values for you without costing you any additional RCUs. This is a DynamoDB implementation detail that the library just passes through to you.

I _really_ hate the idea of making this library too ORMy, but I've toyed with the idea of have a `set

[2020-12-30 18:29] jeremydaly commented on #105
@darbio, I'd love to do that. Parsing variables from a composite key seemed like a best practice when I released v0.1, but I now prefer to separate data from access patterns like Alex DeBrie and Rick Houlihan suggest.

I wonder how many people are using this feature? It does seem like some people still want it.

[2020-12-30 18:33] darbio commented on #105
I think that may partially be due to `composite` being so prominent in the docs.

[2020-12-30 18:35] jeremydaly commented on #105
Could be. I was also thinking about deprecating `alias` in favor of `map`. That just seems cleaner to me.

[2020-12-30 18:35] lwillmeth commented on #105
Personally, I'm happy to make my own composite keys using defaults, especially now that I know about `save`.
I only used this feature because it was there, and I was in "learn ALL the features" mode. 🤷

Thank you both for the quick, effective responses, and hard work on this very cool tool.

[2020-12-30 18:36] jeremydaly commented on #105
That's great feedback, @lwillmeth! Thanks!

[2020-12-30 18:46] mikestopcontinues commented on #105
@jeremydaly Actually, `default` is all I need. I don't know how I missed it when I was first testing. Thanks!

[2020-12-30 18:48] famouspotatoes commented on #115
What about if your puts/updates are inside of a batchWrite operation?

[2020-12-30 18:53] jeremydaly commented on #115
Hmm, good point. There is no way to do that with DynamoDB.

So all you're looking for is the object that was `put`.`update`d with the parsed values? I'm sure that could just be a feature.

[2020-12-30 19:01] famouspotatoes commented on #115
Yes exactly. I think that would be very convenient and probably not ORMy.

Because even with my workaround implementation, the timestamps will be different, some dynamic default functions could have randomized outputs (like if you are generating tokens in your attribute default function), etc...

[2020-12-30 19:04] mkarsene commented on #113
@darbio Thanks! I should have tried that, it works well.
@jeremydaly Thanks, for now no more questions. Enjoying your toolbox to the max!

[2020-12-30 19:04] #113 closed

[2020-12-30 19:06] jeremydaly commented on #115
The only problem would be with partial updates, that is, you'd only be able to view the data you `put` or `updated`. At least in transactions.

[2020-12-30 19:29] famouspotatoes commented on #115
That's true. I think if such a feature is documented as having that limitation, it would be fine. I don't see any way around that problem without executing a get transaction.

[2020-12-30 19:32] #105 closed

[2020-12-30 20:14] darbio commented on #115
Maybe I don't understand the use case for `transform` in the library. Is there some double up in functionality between `default` and `transform`?

[2020-12-30 20:17] jeremydaly commented on #110
Jumping in late here, but why not just have the library parse the response and then destructure the password from the object?

Something like this:

[code]

[2020-12-30 20:21] jeremydaly commented on #115
`transform` allows you to transform the supplied input, as opposed to defaulting a value when no input is supplied.

So if you always wanted an attribute value to be lowercase, you would use `{ transform: (val) => val.toLowerCase() }`.

[2020-12-30 20:27] darbio commented on #115
This makes sense. In that case, what is the bug being investigated in this issue?

[2020-12-30 20:31] jeremydaly commented on #93
I still can't duplicate this. Unless `onUpdate` is set to `true`, then any default value generates the "if_not_exists" in the `UpdateExpression` like this: `#enabled = if_not_exists(#enabled,:enabled)`.

Can anyone else replicate this behavior?

[2020-12-30 20:34] jeremydaly commented on #115
I think it's the fact that `default: false` triggers the `transform` function. But this is actually the intended behavior, so I'll close this issue. It probably just needs better documentation.

[2020-12-30 20:34] #115 closed

[2020-12-30 21:10] darbio commented on #93
I can't.

I have done negative testing using 0.3.1 (updating an entity where `onUpdate` is `false`) and this is working as intended for me (I.e. the default is **not** recalculated).

I think this can be closed.

[2020-12-30 21:41] darbio commented on #112
Sure thing. I actually think that I have found an issue in my code whilst preparing this answer...

I can't verify as I'm AFK (will check tomorrow), however I think this is a case of user error on my behalf - apologies for wasting your time.

The problem I have identified is that I am querying on `ProjectEntity` not `SurveyEntity`. This means that the parsing of the entity will never work.

The en

[2020-12-30 22:11] darbio commented on #76
I think this might actually be a user error on my behalf related to #112 - I'll consolidate my comments into that issue.

[2020-12-30 22:39] famouspotatoes opened #118 "Get Entity from GSI?"
Am I correct in understanding that the only way to get an Entity from a GSI is to use the Table class and run a query:
[code]

And there is no way to do something like this:
[code]

If there is not already a built-in way to do this, it should definitely be feasible. The table config already has the pk and sk mapping definitions for all of the GSIs.

[2020-12-30 23:43] manleyw-lattice commented on #110
Because password is marked as a private attribute in the Entity definition. Allowing the toolbox to parse eliminates the password attribute in the response object.

[2020-12-31 00:45] jeremydaly commented on #118
DynamoDB doesn’t support `get`s on secondary indexes. The only way to do this is with a `query` and an `{ eq: YOUR_GSI_SK_VALUE }`

[2020-12-31 00:46] jeremydaly commented on #118
I suppose the library could abstract this, but again, we start crossing into ORM land.

[2020-12-31 01:17] famouspotatoes commented on #110
Because `password` is set to `hidden: true` in the Entity definition.

[2020-12-31 01:37] famouspotatoes commented on #118
Ok great to know. It is so tempting to want to add extra functionality! I will have to implement this myself anyway. I can share code when I'm done and you can determine if it is a worthwhile inclusion.

[2020-12-31 01:43] darbio commented on #118
To use this library you really need to know how to design for dynamodb and it's specific nuances. If you don't understand dynamodb, it's nuances, limitations and strengths you are buying yourself trouble (e.g. how GSI works).

My (strong) opinion is that, if this is not trying to be an ORM, I don't think we need the vanity methods.

[2020-12-31 01:46] darbio commented on #118
You can query on the entity as well, [as per the documentation](https://github.com/jeremydaly/dynamodb-toolbox#querypartitionkey-options-parameters-1).

[2020-12-31 02:08] famouspotatoes commented on #118
ok agreed with you both. thank you so much for listening to all of my issues in the last couple of days!

i'm coming from a strong SQL ORM background. with SQL, it's pretty easy to generate efficient queries with ORM helpers.

it's a hard habit to break, even after reading Alex' book. But I'm forcing myself to write code like above without any helpers and I think I'm starting to like it better tha

[2020-12-31 02:10] #118 closed

[2020-12-31 19:26] famouspotatoes opened #119 "Feature Idea: (new AWS.DynamoDB()).createTable()"
As I am building out my access patterns for the first time, I keep changing my DynamoDB table and forgetting to update my DynamoDB Toolbox Table instance.

It would be really sensible to standardize the two so that you can have a Table config that is inherited by both a createTable script and the actual toolbox Table instance.

Let me know if you think this is a good idea to include and I can work

[2020-12-31 20:18] darbio commented on #119
What do you mean you "keep changing your table"? What does it look like?

The AWS SDK already gives you a table creation methods so I don't think this is something that needs to be duplicated in this library.

[2020-12-31 20:39] darbio commented on #119
Here is my table definition in cloud formation:

[code]

This table doesn't change very often and supports my access patterns (getOne, getList, and "relational" data).

[2020-12-31 21:44] darbio commented on #119
Of course, if you wanted to be tricky, you could quite easily have your table definition loaded from the CF by parsing the YAML - though it's probably not worth the effort/computational overhead as the table structure should be pretty static once you've got it defined.

[2020-12-31 21:58] darbio commented on #119
I just had a look through my largest application using single table design and the above table definition supports 22 access patterns across 8 "entities" using just one GSI and the main hash/sort keys. It could support way more (in fact I have to add a new entity this week - which will add a further 3 access patterns).

The table definition has not changed since the project was initialised 2 years

[2020-12-31 23:09] darbio commented on #112
I can confirm that this was because I was executing my query on the wrong entity. Closing (and apologies again).

[2020-12-31 23:09] #112 closed

[2021-01-04 00:03] brettstack commented on #9
I'm using Dynalite with https://www.npmjs.com/package/jest-dynalite. Not sure if that's taking care of the `setTimeout` stuff for me, but I haven't hit an issue with the table not being ready.

[2021-01-04 22:25] kcwinner opened #120 "Table.transactGet - Cannot read property 'Item' of undefined"
Error:
[code]

This code (full code [here](https://github.com/kcwinner/cube.js/blob/feat/dynamodb_cache_driver/packages/cubejs-query-orchestrator/src/orchestrator/DynamoDBQueueDriver.ts#L442)):
[code]

It appears to be derived from [Table.transactGet](https://github.com/jeremydaly/dynamodb-toolbox/blob/master/src/classes/Table.ts#L1259) when passing `res.Item` to `Entities[i].parse` and then the E

[2021-01-05 00:59] jeremydaly commented on #120
Thanks, @kcwinner. I'll investigate.

[2021-01-05 14:08] kcwinner commented on #120
If I find the time this week I'll give it a shot as well.

[2021-01-05 16:12] #119 closed

[2021-01-05 16:16] famouspotatoes opened #121 "Tear Down Dynalite After Tests?"
Perhaps @mhart would be able to provide insight here, but currently the tests don't seem to properly tear down the dynalite listener after jest is run:

I don't think this is a big deal locally, but it might cause issues in CI/CD.

Is there a way to improve this to tear down dynalite instances after testing, similarly to how it is done here: https://github.com/freshollie/jest-dynalite

[2021-01-05 19:07] darbio commented on #9
This. I have used the [AWS SDK mocks](https://www.npmjs.com/package/aws-sdk-mock) in the past to test my code without the need to have a database.

[2021-01-06 00:58] ryantomaselli opened #122 "Entity constructor not accepting an argument with spread operator used in attributes key"
I updated to version 0.3 today in a Typescript environment and all of a sudden my attributes key in my entity definition is showing that it has an error (in VS Code).

<img width="293" alt="Screen Shot 2021-01-05 at 4 00 50 PM" src="https://user-images.githubusercontent.com/1786702/103716163-f2588980-4f87-11eb-96ae-19ecf9bb2c5f.png">
<img width="787" alt="Screen Shot 2021-01-05 at 4 00 57 PM" src=

[2021-01-06 13:23] jeremydaly commented on #52
Yes, we discovered this right after v3 was released. Still looking for suggestions for handling this, but it would be really nice if AWS would reimplement the `DocumentClient`.

[2021-01-06 20:56] waynerobinson commented on #52
Would the easiest option in the meantime be to create a proxy for `DocumentClient`?

I'll have some spare time over the next couple of weeks to see if I can add if you think it's a reasonable option.

[2021-01-06 23:47] jeremydaly commented on #52
It’s either that, or we build the marshaling and unmarshalling into the platform.

[2021-01-07 00:07] waynerobinson commented on #52
Marshaling is present in the `@aws-sdk/util-dynamodb` module, if that helps.

[2021-01-07 00:22] jeremydaly commented on #52
Yup. The question is do we make that a dependency? We could do that and then require the user to pass in the v3 DynamoDB client like we do currently with the DocumentClient (so they could still instrument it). Of course, as soon as we build that, AWS will release an update with a DocumentClient. 🤦‍♂️

[2021-01-07 00:51] waynerobinson commented on #52
Given the separate packages, could v2 and v3 coexist and the library auto-detect (or have a new mechanism for passing DDB for v3) which version is being used?

[2021-01-07 04:38] esoh opened #123 "put all_new?"
Any reason why `Entity.put` does not support `returnValue: "all_new"`? I've begun using this a little bit and have been rebuilding out one of my entities using your library, and I noticed I couldn't do this.

the [aws-sdk js docs](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/DynamoDB.html#putItem-property)  allows theses values for `putItem` `ReturnValues: NONE | ALL_OLD | UPDATED_OLD |

[2021-01-07 15:29] jeremydaly commented on #123
Hi @esoh, the documentation contradicts itself, but if you look under the "Parameters" section of the doc you referenced, it shows that `putItem` only supports `NONE` and `ALL_OLD`. I remember discovering this during early testing with the library. Unless something has changed, the DynamoDB API does not support this.

However, you can use `update` instead as it has the same effect (create a new it

[2021-01-08 10:15] famouspotatoes commented on #121
I ended up using `fkill` to kill the dynamo db process using the port number. I kept killing the process and then it would restart with a new process ID.

I also ended up switching to local dynamo db with JVM. Turns out its not that hard to implement it inside of node processes and it will probably have better long term support than dynalite.

[2021-01-08 10:15] #121 closed

[2021-01-09 23:09] kcwinner commented on #120
Ok it was as I suspected. I added the `testcontainers` to my PR as well to see your thoughts on "integration" tests running with dynamodb local since dynalite doesn't support transactions.

[2021-01-11 15:32] #120 closed

[2021-01-11 21:56] thekiwi commented on #94
I'm also hitting the same issue, but due to using spaces not dashes. For example, when running this:

[code]

...you get the error:
[code]

PR #94 looks like a good option, but it requires extra logic and I sorta feel like this use-case should work out of the box.

@jeremydaly Did you have an implementation in mind for this, or were you intending to merge #94? I'm happy to assist, either creating

[2021-01-13 02:46] #123 closed

[2021-01-13 05:34] omichowdhury commented on #100
Maybe the right solution here is better docs instead of more code.
Add a recipes section that lists out common tasks like this and how they're implemented with this library.

I usually end up creating small wrapper layers to libraries to add common functionality like this, add logging, bake in defaults etc - and I'm happy with the tradeoffs.

[2021-01-13 13:31] famouspotatoes opened #125 "Can't return promise from default option"
It would be nice to be able to use async/await for default callbacks.

[2021-01-13 13:44] jeremydaly commented on #125
Can you give me more detail? I only use `async/await` with this library. If you're getting an `[object Promise]`, then you're likely not `await`ing the response.

[2021-01-13 16:08] famouspotatoes commented on #125
Sure - same thing applies for async/await.

Try making an entity like this:
[code]

The entity logic must applies `something.default` like this:
[code]

Whereas instead it could do this to also handle the async function:
[code]

I'm just making up the code for illustration, but the point is that you can check to see if it is a Promise, then use await, otherwise just use the value.

[2021-01-15 10:16] famouspotatoes commented on #125
I'd be happy to work on this enhancement if you can provide some initial guidance as to where the attribute default is calculated.

[2021-01-15 10:38] willsmanley opened #126 "Dynamically generated types for output of Entity.parse()"
This idea was inspired by how Redux Toolkit allows you to define types from your reducers without having to write everything twice (see: https://redux-toolkit.js.org/tutorials/advanced-tutorial, search page for "ReturnType")

The same strategy could be applied to creating an Entity and then defining a type for the output of `YourEntity.parse()`:
[code]

I'm not sure if the current implementation o

[2021-01-15 12:09] famouspotatoes opened #127 "Can't use null as type for putTransaction attribute"
When I try:
[code]

I get the following TypeScript error:

Shouldn't `null` be a valid attribute value to pass to an entity, so long as it is not the PK or SK?

Proposed change to `Entity.ts`:
[code]

[2021-01-15 15:19] jeremydaly commented on #126
Thanks @famouspotatoes. I have been exploring ways to infer types from the entity definitions rather than requiring it separately. I will look into the redux stuff and see if there is anything I can use.

[2021-01-15 15:21] #127 closed

[2021-01-15 15:22] jeremydaly commented on #122
This looks like a bug, but I need to do a bit more research. Thanks for reporting.

[2021-01-15 20:58] darbio commented on #126
Nice 😀 Have you tried this with the library, @famouspotatoes? What is your result for this? It may "just work"...

[2021-01-16 00:10] famouspotatoes commented on #126
@darbio I have and it works to the extent that it does not throw any typescript errors, but not to the degree of accuracy where typescript/IDE can infer the exact attributes and types.

I'm not sure how redux toolkit does it under the hood but i can say that it is very cool and makes this abstraction stuff a lot more effective.

[2021-01-16 05:50] darbio commented on #126
Ah yes - I see. You have to have the method return `T`. At the moment I guess it returns something else.

Making `parse` generic could make this work.

Does this already work for the generic constructor of entity? (`Entity<T>`)

[2021-01-17 09:54] whimzyLive commented on #33
@darbio you are right, but dynamodb-toolbox table config and actual table schema can get out of sync very easily, I think It is a good idea to have dynamodb-toobox export schema and use that when provisoning table usign cfn. (ps. single source of truth for table schema)

[2021-01-17 22:44] darbio commented on #33
Which bits get out of sync?

Once you have your basic table definition (pk, sk and gsi's) adding more gsi's is a simple addition to the cloud formation.

Having it as an explicit step makes you think about why you are adding the gsi.

[2021-01-18 00:28] whimzyLive commented on #33
@darbio Yes agree, but there dynamodb-toolbox table schema  stills lives separately to actual table definition. There are chances that one might forget to update other. Or to be more specific, imagine a case where there are different teams managing ops and actual server code, having dynamodb-toolbox export schema can simplify things for both teams, as ops team can simply rely on table schema expor

[2021-01-18 01:24] darbio commented on #33
I can't see a case where you would want this library to be the single point of truth for defining a table structure.

The single point of truth should be the cloud formation, and this library should conform to that definition - not the other way around.

Imagine your above scenario, where your infrastructure team wants to implement streams off of the table for auditing concerns, or implementing po

[2021-01-18 01:28] whimzyLive commented on #33
@darbio interesting thoughts, It now sounds like I was driving myself in wrong direction, then may be dynamodb-toolbox should allow importing existing schema instead of exporting it. However my point still stands (was inverted) 😛  we need single source of truth. Thanks.

[2021-01-18 01:46] darbio commented on #33
Seeing as CFn is either JSON or YAML it shouldn't be too hard to parse this in your code wand load the table dynamically, if you really think it's worth the effort for something that shouldn't change much (if ever in a minor version bump).

[2021-01-18 02:03] whimzyLive commented on #33
right may be this should be marked low priority then, good to have but not something we need rn.

[2021-01-18 06:37] vespertilian commented on #85
On this topic I get this error when trying to set created as a composite sort key, so I can order by created date.

[code]

Not sure if we can look at this at the same time? Let me know if I am using it incorrectly.

Thanks for your great library!

[2021-01-18 07:24] darbio commented on #85
Have you tried using `default` instead of composite keys? I moved all of my stuff from composites to defaults because I find it more intuitive/explicit.

[2021-01-18 08:07] vespertilian commented on #85
@darbio

Thanks mate, seems to be a reasonable solution.
Also thanks for the quick reply very helpful.

[code]

[2021-01-25 21:48] simlu commented on #101
@jeremydaly This is what we envisioned and now implemented. Maybe as an inspiration for you

https://github.com/blackflux/aws-sdk-wrap/blob/master/src/module/dy/create-model.js#L57-L80

[2021-01-25 22:25] darbio commented on #101
@simlu are you generating one table per entity?

[2021-01-25 22:34] simlu commented on #101
@darbio That is correct. We have persistent data requirements

[2021-01-25 22:56] darbio commented on #101
Ok. I can see why you would want to define tables like this in that case.

However, general 'wisdom' is that you have one table and you put all of your data in that table so I don't think we want to encourage multi table environments (though they absolutely are possible).

With one table design the cloud formation definition is perfect.

Can I ask, what are your data concerns on a single table? I'

[2021-02-02 10:30] vespertilian opened #131 "Computed properties primary key for GraphQL"
Hi,

Thanks for the great library.

So I am building a GraphQL API and using your awesome library to do it. On the frontend I am using Apollo client, which likes to have an ID property on objects so it can cache them on the frontend.

Dynamo likes composite primary keys, and I cannot find a great way to express this for GraphQL so I figured I would just create the primary key ID and add it to each

[2021-02-02 21:58] darbio commented on #131
Instead of returning the entity, map the entity into a business object that calculates that for you.

[code]

[2021-02-02 22:35] vespertilian commented on #131
@darbio

Thanks, for you quick reply. That is a workable solution. One issue however is when I return an entity the SK and PK are potentially hidden, so I cannot just pass the entity into the BusinessObject constructor, unless I unhide them, then omit them from the business object. Totally do-able but I feel like the point of mapping the entity attributes with `dynamodb-toolbox` is already to crea

[2021-02-02 22:42] darbio commented on #131
It depends upon your definition of `entity`.

I tend to define `entities` in my projects as things that represent persistence.

Business logic (such as computing an id that only matters in the business domain) does not belong on the `entity` - instead it belongs on the `business model` (or domain object).

I don't think that this library is supposed to be giving you the business layer - it's a too

[2021-02-02 23:04] darbio commented on #131
FWIW I use typestack [class transformer](https://github.com/typestack/class-transformer) (and validator) to convert (map) between my entities and business (domain) objects.

[2021-02-02 23:29] vespertilian commented on #131
@darbio

This is almost a workable solution.

Upon an initial attempt at implementing however, PK is a prefix and is mapped, I would want the raw PK, SK values to create the primary key, so including the prefix. I can totally manually include the prefix but I really like trying to keep it in one place.

So ideally I would still need some way to get at raw PK, SK and have my entity map correctly, I

[2021-02-02 23:40] vespertilian commented on #131
Hey,

So I can totally, do something like this:

[code]

However it would still be nice if `dynamodb-toolbox` made it easier for me.

[2021-02-03 05:41] vespertilian opened #132 "Sub object list type Typescript error"
So I get a type error when trying to have a list of sub-objects on my primary object type.

This is my setup.
[code]

I get an error `Unable to apply to Schema type`

Currently schema type looks like this: `declare type SchemaType = string | number | boolean | { [key: string]: SchemaType } | SchemaType[];`

I think the issue is this part of the SchemaType type ` ... { [key: string]: SchemaType } `

[2021-02-03 18:39] jeremydaly commented on #131
@vespertilian, I'd love to understand this use case a bit better. The prefixing/suffixing capabilities are a way to help abstract the need for managing the raw PKs and SKs, but it looks like you just need a way to calculate the PK/SK to do a look up? So, you'd still need to parse that generated `id` field on a cache miss and pass it into the library for the look up, correct?

[2021-02-03 18:50] #74 closed

[2021-02-03 19:30] darbio commented on #131
@vespertilian what's your entity definition?

[2021-02-03 23:21] vespertilian commented on #131
@jeremydaly

Thanks for your quick reply.

So my use case is that I am building an app with a backend API in GraphQL.

The problem that I am trying to solve is that the frontend library I am using to consume the GraphQL Api (Apollo) likes to have id's on all the object types [as it caches them by type and id](https://www.apollographql.com/docs/react/caching/cache-configuration/#generating-unique-i

[2021-02-03 23:26] vespertilian commented on #131
@jeremydaly Also thanks for the library, it's been so helpful. Email me your Paypal vespertilian@gmail.com and I will send you a coffee or beer (your choice).

[2021-02-04 10:23] darbio commented on #131
@vespertilian where is `createProgramSubscriptionSK` defined? Can you reuse that?

[2021-02-04 10:55] CorentinDoue commented on #102
I'm stuck by the same issue.

Can I do something to speed up the merge of https://github.com/jeremydaly/dynamodb-toolbox/pull/103 ?

[2021-02-04 13:13] jeremydaly commented on #102
Sorry about that. This was due to a coverage decline issue. I'll add a test.

[2021-02-04 13:21] #102 closed

[2021-02-04 14:05] jeremydaly commented on #102
This change is live in v0.3.3.

[2021-02-04 14:47] CorentinDoue commented on #102
Thanks for the reactivity :smile:

[2021-02-04 22:01] vespertilian commented on #131
@darbio

Yes, USER_PROGRAM_SUBSCRIPTION  is below the latest session logs in my single table design so you can read backwards and get the program subscription entity and then the latest logs with one read, well that's the current plan anyway. I like tying them together so if I am ever looking at them I trace the code back and realise that it needs to be the same.

[code]

The end date is just the

[2021-02-06 19:32] rati-dzidziguri commented on #52
Although this is one of the best libraries out there, the inability to use the latest SDK version that drastically reduces the bundle size for AWS lambda functions block people from installing this package. The upgrade process is not straightforward; however, it is very unpleasant to see such a great product that cannot catch up with the updates AWS even releases NodeJS 14 official support now, so

[2021-02-06 23:07] jeremydaly commented on #52
The issue with v3 is that there isn’t a `DocumentClient`, which is what this library uses under the hood. I’ve already built some prototypes that use v3 and apply `marshall`/`unmarshall` in the library, but this would create a massive breaking change. I was *hoping* that v3 would have a DocumentClient before GA, but unfortunately, that didn’t happen.

[2021-02-07 00:08] rati-dzidziguri commented on #52
I can confirm in other projects; we have been using V3 without notable issues. The  `marshall/unmarshall` indeed is the recommended way from AWS ATM. and is the one we have been referring to as well and can say it works without issues.

Would you please let us know what challenges the library is facing so that we as a community might try to help and support you in this migration journey?

[2021-02-08 15:55] adelego opened #133 "Improve Entity type checking"
Hello
I've been upgrading to v0.3.3. Thank you for adding typescript to the lib. It's really helpful.

I've noticed some Entity methods have a `Promise<any>` return type.
I use a configuration of typescript and eslint that doesn't allow for any type assignement. I wish for the return types to be more detailled.

I think it would help other users as well to detail those types and avoid errors.

##

[2021-02-12 16:13] aecorredor commented on #52
How have you been doing transactions with v3 without the DocumentClient?

[2021-02-13 13:35] rati-dzidziguri commented on #52
V3 has only a single concept and everything comes down to `DynamoDBClient` and `Send` Method. for the transaction we used the instance of a `TransactWriteItemsCommand` which accepts `TransactWriteItemsCommandInput`

[2021-02-13 21:04] darbio commented on #52
It looks like they are ["prioritising" DocumentClient](https://github.com/aws/aws-sdk-js-v3/issues/1223#issuecomment-777853130) in v3.

Might be worth waiting to see what they do with this before investing any significant effort.

V3 doesn't seem complete yet.

[2021-02-14 01:19] trivikr commented on #52
The modular implementation was added in [`c29b57d` (#2031)](https://github.com/aws/aws-sdk-js-v3/pull/2031/commits/c29b57d86eed6241f40cd192f85aae338ed764d3)

Having said that, this is still an experimental changes and have to be reviewed within the team.
Do comment on the PR if you have ideas on anything can be done better or differently.

[2021-02-14 09:46] darbio commented on #117
@jeremydaly, I've actually started seeing this issue when I update using a default property. The default gets parsed to a string representation of the function:

The DDB item:

[code]

The entity:

[code]

[2021-02-14 10:02] darbio commented on #117
It looks like this may be happening when the function can't be evaluated. For me, I can reproduce when I update and not all of the items in the interpolated string are available (e.g. I update participant with a `$set` but I don't include address).

[2021-02-19 01:59] adikari commented on #1
It would be handy to support list schema too. For eg., my list has a collection of maps.

[code]

the expected input for this would be:

[code]

[2021-02-19 02:02] adikari commented on #1
I am happy to create the PR for this. Let me know.

[2021-03-03 18:44] agentd00nut opened #137 "Support one attribute as both PK and SK"
There seems to be no easy or intuitive way to have a single attribute get set for both the PK and SK of a table.

This is useful since it allows you to use  "attribute_not_exists(PK)" to enforce only allowing a single instance of a value to exist in your table. [More info on the patten is here ](https://www.alexdebrie.com/posts/dynamodb-transactions/#maintaining-uniqueness-on-multiple-attributes)

[2021-03-04 20:27] omichowdhury commented on #137
For that use use, I setup the the sk attribute to:
[code]

And them completely ignore it.

[2021-03-05 19:16] murbanowicz commented on #52
This PR has been merged today, so v3 got DocumentClient.

https://github.com/aws/aws-sdk-js-v3/pull/2097

[2021-03-05 21:30] jeremydaly commented on #52
I'll need to check the compatibility with the library!

[2021-03-08 07:45] uhinze opened #140 "Point to Alex's blog article instead of (or additionally to) book?"
Starting to dig into DynamoDB at the moment and I came across this library. For someone new to DDB modeling, it isn't trivial to understand the "single table" concept.

The link to Alex Debrie's book in the Readme pointed me in the right direction, but after Googling I found out one of his blog posts explains the concept perfectly: https://www.alexdebrie.com/posts/dynamodb-one-to-many/ (concept 3

[2021-03-08 08:00] craPkit opened #141 "Cannot use 'set' type Entity attribute with explicit model type"
Using a generic specifier on an Entity with an attribute of e.g. `{ type: 'set', setType: 'string' }` causes the following TS error on update:

The same issue occurs with typing a number and using $add to increase it during an update.

Example:
[code]

It works without the generic specifier on Entity.

[2021-03-08 12:02] craPkit opened #142 "Cannot reference secondary attributes in condition clauses"
I'd like to be able to reference attributes (as an alternative to passing static values) in condition clauses.

[code]

[2021-03-08 18:33] agentd00nut commented on #137
Oh cool!

It might be worth adding to the documentation as an example to avoid people thinking that it can't be done / asking repeat questions.

I'll give this a try and close if it works though, thanks.

[2021-03-08 19:19] omichowdhury commented on #137
Yeah I've been meaning to create a PR compiling these sorts of tricks for the docs, hopefully in the next couple of weeks

[2021-03-14 10:56] bboure opened #144 "Custom parse method for attributes"
Hi and thanks for this awesome not-ORM 🙂

I was wondering if we could introduce a custom `parse` method for Entities' attributes. Basically, I need something that is the opposite of `transform` when an item is read from DynamoDB.

It could be useful if you want to store a value differently in DynamoDB than in your application.

A couple of examples:
- store [large texts as gzipped binaries](https:

[2021-03-14 12:53] rati-dzidziguri commented on #52
There is no update on this topic, even though many other libraries already implemented this. OneTable is already compatible with SDK3, and AWS released an update. Any ETA?

[2021-03-14 13:00] waynerobinson commented on #52
@rati-dzidziguri there's a few issues as mentioned in this thread that definitely increase the complexity on getting this implemented in this library however, I'm sure Jeremy would be happy to review a PR solving this if submitted.

[2021-03-14 21:29] darbio commented on #144
Hi @bboure. Good thoughts.

The second use case is (kind of) supported using defaults. You need to store the number separately, but default can have a function to pad the string.

Storage is generally cheaper than compute, so this isn't an anti-pattern (data duplication). In fact, it is generally recommended to seperate your data and your keys and avoid parsing.

Your first and last use cases aren

[2021-03-15 06:36] bboure commented on #144
Thank you for your feedback @darbio

You're absolutely right! In fact, this is exactly what I do. I was just trying to find examples to illustrate what I was suggesting :) My real use-case is the first one (gzip/ungzip content).
That is because I have potentially very large items that will need to be compressed for cost optimization (less RCU, WCU and storage).

Yes, I was wondering that too, but

[2021-03-21 01:44] adikari commented on #52
Do we have a plan for this? The implementation in AWS/aws-sdk-js-v3#2097 is not compatible with this library.

I think we should not rely on `documentClient` and use `marshal/unmarshal` instead as it is the recommended path forward by AWS.

If we can agree on the path forward for this library, I am happy to implement it and create a PR.

[2021-03-21 02:09] darbio commented on #52
What benefits does v3 bring for us? Bundle size? Is there anything else? Anything we need from v3 that v2 doesn't already do?

Would the effort be better spent getting this library to v1 and then adding support for v3 after?

We haven't got a stable version of this library yet and there is a lot of feature spread which needs fixing prior to v1.

[2021-03-21 03:19] adikari commented on #52
Here is the problem statemef

[2021-03-21 08:52] darbio commented on #52
Is it just bundle size that is the driver for updating to v3, or is there something else?

Does v2 have bugs that are fixed in v3? Etc.

I agree that it would be nice to use v3 and I agree that using `un`/`marshall` is my (totally uneducated and based upon the AWS media releases) preferred choice, however I just want to see this library get to v1 sooner rather than later.

[2021-03-21 21:41] iamdavidmartin commented on #117
First - I love this library, thank you for making it! This is so much better than any alternatives I've come across. Indispensable.

I'm having similar difficulties as @OlivierPT on 0.3.3. The timestamp area with the "created" and "createdAlias", sorry to say, is quite difficult to understand and get working.

If I want the "created" attribute to be stored as "created", it fails telling me that "a

[2021-03-23 00:39] waldemarnt opened #147 "Composite key mapping with multiple GSIs"
Hey!
I have a field that is part of 2 GSIs, example `myField` should be present on `GSI1` and `GSI2`.
Can't find a way to configure it, the attributes just handle 1 GSI like
[code]
Any idea of how can I make the `myField` available on `GSI2SK` as well?

[2021-03-23 09:44] darbio commented on #147
Use `default` to generate your sk.

[2021-03-23 09:56] darbio commented on #147
As discussed in #105.

[2021-03-23 20:53] donferi opened #148 "Attributes of composite keys are not returned"
I'm not sure if I'm misunderstanding the docs but currently I have something like:

[code]

I would expect when doing something like:

[code]

I would get back all non-hidden attributes including `username` even if its `saved: false`, however I don't get back `username` it comes back as undefined. What am I missing?

[2021-03-23 22:51] darbio commented on #148
It seems that this is a common question and point of confusion.

I have never tried using composite keys, as the general consensus now is that your data attributes and your keys should not be composites, instead they should be separated.

There has been limited discussion (#105) of removing composite keys from the library however this still needs exploration.

I would say that your issue is a bug

[2021-03-23 22:55] darbio commented on #148
To quote @jeremydaly conversation with Alex DeBrie (https://www.serverlesschats.com/):

[2021-03-23 23:01] waldemarnt commented on #147
@darbio thanks! I'll test it with defaults

[2021-03-24 15:44] simlu opened #149 "Improvement: Redundant ExpressionAttribute/Values"
We noticed that this library doesn't deduplicate `ExpressionAttributeNames` or `ExpressionAttributeValues`

Example request

[code]

You can see that target exists twice. In this case, since there is not a lot of data, this is ok.

Is this something that this library should handle?

[2021-03-25 06:35] waldemarnt commented on #147
it worked! thanks

[2021-03-25 06:35] #147 closed

[2021-03-31 13:24] vsnig commented on #117
Here's what worked for me. I needed to use my own 'now' function to be able to mock it in tests. I've chosen to leave naming conventions as they were but I believe you can setup name/alias as you want.
[code]

[2021-04-06 14:23] shellscape opened #151 "Please properly type the result of `scan`"
At the moment, `scan` is typed as `scan(options?: scanOptions, params?: Partial<DocumentClient.ScanInput>): Promise<any>;` That `Promise<any>` at the end there plays hell with certain tsconfig environments, depending on how someone has their env setup for strictness. We already know from the source https://github.com/jeremydaly/dynamodb-toolbox/blob/09ddf4f144c3119802f44119060138ca5183b46e/src/cla

[2021-04-07 22:44] mfbx9da4 commented on #91
did the base64 encoding issue ever get fixed?

[2021-04-09 10:45] martinval opened #152 "Confusion about Table-wide batchWrite"
Thanks in advance for a clarification on how best to delete a set of linked records. I can't work out how it's done from  the docs.

I have Post, Categories and PostCat Entities to store many-to-many relationship data between Posts and Categories.
A Post has pk: POST#postname / sk: POST#postname
When a category is added to a post, a PostCat record is created with pk: POST#postname and sk: CAT#catn

[2021-04-11 06:22] uhinze opened #153 "Entity.query should respect prefix and transform"
I'm new to this library and trying to model my data in line with https://www.alexdebrie.com/posts/dynamodb-one-to-many/.

I describe my user ("main" entity) like this:
[code]
  item = {
    email: "my@email.com",
    name: "My name",
  };
[code]

[2021-04-14 20:40] rati-dzidziguri commented on #52
Any update on this?

[2021-04-15 13:27] JakeMaldonado opened #154 "Entity required attribute does not work with 0 or false value"
In Entity.js:782 the check required field checks if the field exists like this `required[field] !== undefined && !data[field] && utils_1.error(...` if `data[field]` is `0` then this throws an error. I'm wondering if there is a reason for this behavior, I intuitively thought that `required: true` would check for `null` and `undefined` values. This also throws an error if `false` was passed in too,

[2021-04-15 18:21] cshenrik commented on #154
I ran into the same problem today with a required boolean attribute with a `false` value. It's gotta be a bug.

[2021-04-16 02:21] tommy921092 opened #155 "Timeline on migrating from aws-sdk-js-v2 to aws-sdk-js-v3"
This is not an issue. Just want to know is there a timeline for the migration from v2 to v3 library as it gives some performance improvement due to bundle size reduction. Thanks!

[2021-04-16 13:30] jeremydaly commented on #155
Hi @tommy921092! I don't have a timeline, but I think we're going to need to drop support for v2 and the DocumentClient and use v3 with `marshall`/`unmarshall` utils. It's a shame that the new DocumentClient isn't compatible.

[2021-04-16 13:32] jeremydaly commented on #154
This is a bug.

[2021-04-16 13:40] jeremydaly commented on #152
Hi @martinval. `deleteBatch` is an `Entity` level method, not a `Table` level method, so your `MyTable.deleteBatch` call will throw an error because you're calling on the `Table`. In the example, `Default` is the table, which is why `Post` and `PostCat` (the Entities) are specified as part of the chained call to `deleteBatch`. If you've exposed a variable for your `Entity`, you can just use that (

[2021-04-16 13:47] jeremydaly commented on #153
Interesting. The `query()` method is a `Table` level entity, so it's not aware of the schema of the `Entities` you are querying. In fact, `query()` can bring back multiple `Entity` types and parse them correctly into their schemas based on the `__et` attribute.

It *might* be possible to add a conversion using the `Entity` level alias for `query()`, but I'll need to think more about how that would

[2021-04-16 13:53] alexandrepernin commented on #154
Same here ! bug appears with any falsy value on a required field. Especially in case of a PutItem operation (put() method of toolbox) if you try to insert an item with a falsy value on a required field. Interestingly, this bug doesn't appear in the context of an UpdateItem operation (update() method of toolbox). Hope this helps and thanks for your work :)

[2021-04-16 14:05] jeremydaly commented on #149
Thanks for pointing this out, @simlu. I'm not sure this would be much of an optimization, but I will add it as an enhancement to consider.

[2021-04-16 14:12] jeremydaly commented on #148
@donferi, sorry for the late reply. This *might* be because you're suppling a `prefix` and `suffix` on the `sk` as well as trying to use the composite key feature. Like @darbio said, this isn't the best practice anymore and I will probably remove this capability in an upcoming release.

[2021-04-16 14:13] jeremydaly commented on #144
Hi @bboure, I believe this was suggested before, but I like the overall idea.

[2021-04-16 14:25] younessadmi commented on #154
+1

[2021-04-16 14:34] ThomasAribart commented on #154
+1

[2021-04-16 14:55] martinval commented on #152
Thanks for the response @jeremydaly. I'll try some batchWrite cases to see how I get along.

with regards to the next() function, I'm still unclear how it works. Seeing actual code on how it's supposed to be used would help.
If I understand correctly it would go something like this if you wanted all the records (??):

[code]

[2021-04-18 20:33] jwatts21 opened #157 "Not able to create table."
Hello,
Attempting to run the code example listed in the README

[code]
I'm getting the following exception on the put request
`ResourceNotFoundException: Requested resource not found
`
So, appears I'm missing something in my setup or I'm misunderstanding; I assume this would create the table in my AWS account in the specified region?

using aws-sdk version 2.885.0

[2021-04-18 20:53] fredfgb commented on #157
I'm not sure, but it seems dynamodb-toolbox won't be creating any new tables or indices. You've to provision tables and indices using IaaS like serverless-framework or AWS CDK.

[2021-04-19 00:56] jwatts21 commented on #157
ah, ok.

[2021-04-19 00:56] #157 closed

[2021-04-19 00:57] jwatts21 commented on #157
ah, that would make sense. Thanks

[2021-04-20 12:57] uhinze commented on #153
I think my thoughts would lead to separate `Entity.query()` more from `Table.query()` and have a different call signature.

Something like

```entity.query(item, options, params)```

 which would then assemble a

[code]

`beginsWith` being put together by however many `sk` components are found in `item` (in case it's more components than 1 as in the example above).

Would have the following benefi

[2021-04-20 14:27] ericdmoore commented on #101
For anyone else who arrives at this question solely based on the subject line - and is not interested in the `CloudFormation` aspect. I have a gist [here](https://gist.github.com/ericdmoore/39c3d02ed8a4aca3afce8120654f7183) that you may find helpful...or not.

[2021-04-20 22:01] krackerman opened #158 "Query and Scan do not parse `sets`."
We have noticed that while using the functions `scan` and `query` any `set` attributes do not seem to be parsed correctly. They come back as a `DynamoDBSet` and not as a list. However, when we use the `get` function, all the attributes that are returned appear to have been parsed correctly (including `sets`).

Is this by design? Perhaps I missed a setting. Any advice would be greatly appreciated.

[2021-04-21 14:11] #154 closed

[2021-04-21 16:27] RWOverdijk opened #159 "Update composite sk when fields change"
I have a composite sk that doesn't update when I change the value of one of the attributes in an update.

I tried adding onUpdate to the sk but that doesn't seem to work (doesn't change anything when I do an update).

[code]

It makes sense to me because to update something you need the primary key. But does this mean I can't update the sk and that I need to use a separate field for this? Or would

[2021-04-22 02:51] donferi opened #160 "Entity.update with typescript"
I'm tying to do something like the following
[code]

I want to get the whole song by doing `song.Attributes`, which works, but I can't make typescript happy.

The type of `song` seems to be `DocumentClient.UpdateItemInput | PromiseResult<DocumentClient.UpdateItemOutput, AWSError>` but I need it to only be `PromiseResult<DocumentClient.UpdateItemOutput, AWSError>`.

How are people doing this? I don

[2021-04-22 03:51] donferi commented on #148
Makes sense. Moved it to `default` and is now simpler and it works.

Thanks @darbio and @jeremydaly !

[2021-04-22 03:51] #148 closed

[2021-04-22 07:42] RWOverdijk commented on #159
I'm using a new attribute for this.

[2021-04-22 07:42] #159 closed

[2021-04-22 17:07] ARTushar commented on #155
@jeremydaly Waiting for the v3 support. When will the support for v3 be released?

[2021-04-27 08:46] vespertilian commented on #152
@martinval

I could not seem to get .next to work and it was because I disabled it by setting parse to false.

[2021-04-27 08:53] vespertilian opened #161 "return .next() even if auto parse is disabled"
I have another issue open regarding computed properties #131

Currently, I have a work around that was discussed in this issue. Part of the workaround involves not using parse. However, I would still like to call `.next()` for pagination

### Current code

[code]

### Something like this

[code]

I could maybe make this a little cleaner, happy to create a PR for this if you are happy to accept it.

[2021-04-27 23:35] lee-reinhardt commented on #160
I ran into this problem a while ago and just slapped `@ts-ignore` on the line to keep moving. Looking back into it today, and I think the return type of `Entity.update()` is just wrong.

In my local `node_modules`, it shows:
[code]

I think the first part of the return type should be changed to `DocumentClient.UpdateItemOutput`:
[code]

[2021-04-28 21:52] adamsea opened #162 "Is it possible to negate multiple conditions?"
Hello,

I had a quick question about the `negate` flag used on the condition expression builder. I am currently trying to build an expression that would look something like the following when generated (this is from NoSQL Workbench):

[code]

However, I don't seem to be able to make this work - I've tried the following:

[code]

Then when I uncomment the console.log in dist/lib/expressionBuilder.j

[2021-04-29 11:33] romcok opened #163 "How to update the index (prefix#attribute) along with the attribute"
Hi,
I have a minor problem that I don't know how to solve right now. I have an event entity that has the time to start the event and this start is also in the index. I will try to provide as much info as possible. Surely there is a simple solution to solve it.

Here is how my entity is defined:
[code]

The record looks something like this:
[code]

I change the record using the update method:
[code

[2021-04-29 14:04] romcok commented on #163
There is a potential solution with `onUpdate: true` along with the `default:`. But I can't figure out how not to set the value. It always sets the value in the index to undefined or deletes it at null.

I also tried the transform function but it didn't change the value of the index at all even though it was called.

[2021-04-29 14:20] romcok commented on #163
Oh sorry, I finally got it. I didn't realize that the array notation is designed exactly for that.

[code]

Related to [#159 ](https://github.com/jeremydaly/dynamodb-toolbox/issues/159)
Closing ✌️

[2021-04-29 14:20] #163 closed

[2021-05-05 17:48] JakeMaldonado opened #164 "Updating an entity attribute does not work if there is a default value"
I created an entity with attributes like this

[code]

I passed updated values into an object then passed it into `entity.update`, the attributes without `default` were updated but attributes that had a `default` value were not updated. I removed `default` from the attribute and the items were updated successfully.

[2021-05-05 21:00] darbio commented on #164
You should read the README about defaults. Specifically, the `onUpdate` property.

[2021-05-06 19:14] darbio commented on #164
Can you post the generated dynamo db update params?

[2021-05-07 11:40] vsnig opened #165 "[update] setting input param of type 'map' to undefined results in error"
[code]
Error stack trace is pointing [here](https://github.com/jeremydaly/dynamodb-toolbox/blob/a0f2dd4a27b829276aa369c48fc0958ed3f50d53/src/classes/Entity.ts#L844)

Is it expected behaviour?
In my opinion, non-required property set to 'undefined' should be treated same as missing property and not result in error.

[2021-05-11 21:49] darbio opened #167 "Deprecation of composite key functionality"
This is an issue to get feedback from the community on the removal of the composite keys functionality in favour of always using `default`.

@jeremydaly has mentioned in a number of issues that this is something that he is interested in doing to make the library have less feature bloat, adhere to current best practices and hence less "buggy".

I agree with this for the following reasons:

1. Curre

[2021-05-11 21:51] jeremydaly commented on #167
+100000000000000 😉

[2021-05-12 12:20] vsnig commented on #167
+1
Never used them, always been using `default`. Default => template lieral is declarative and straight forward.

[2021-05-13 09:24] tommy921092 opened #168 "[question] Sort Key automatic update based on attributes"
from the example of Entity.update:
let item = {
   id: 123,
   sk: 'abc',
   status: 'inactive',
}
await MyEntity.update(item)
If the sk is actually formed by composite mapping using ["sk",index], let say its in the format: status#date
how can I update the status & the sk at the same time?
Many Thanks!

[2021-05-13 21:01] darbio commented on #168
Use `default` with `onUpdate` set to `true`.

[2021-05-14 07:56] romcok opened #169 "Use same updatable attribute in two GSI indexes"
Hi,
does anyone know how to use a one-time attribute in two indexes? The point is that we want to display all events according to
the start in the organization and after all events according to the start that belongs to the user.

I want to do this through two subsequent indexes so that they update when someone changes an attribute.
GSI1
PK=ORG#<org_id>, SK=EVT#<start_at>
GSI2
PK=USR#<user_id>, SK

[2021-05-14 11:15] darbio commented on #169
It should if you set `onUpdate` to true.

[2021-05-15 10:29] limplash commented on #160
`AWS.documentClient.update().promise()`  return type is `Promise<PromiseResult<DocumentClient.UpdateItemOutput, AWSError>`. As the toolbox wants to return same response type as AWS documentClient would. I think this should be updated to only be `UpdateItemOutput`. Other wise this statment **_API responses match the DynamoDB API responses._**  won;t hold true

[2021-05-18 12:15] romcok commented on #169
I think I've already tried it and when updating the record, when I didn't update the `startAt` attribute, it sets my index to undefined.

[2021-05-18 19:01] darbio commented on #169
That makes sense. How else would it know what to set the value to?

[2021-05-19 07:44] fargito commented on #167
I completely agree with this !

[2021-05-19 10:52] romcok commented on #169
It would be nice to be able to somehow not update the index. If I return from default undefined, it sets the index to prefix+undefined.

[2021-05-19 21:20] darbio commented on #169
Then don't use `onUpdate` and set the value manually when you need to.

You need to provide the entity with enough information to build indices each time. Just assuming that `undefined` isn't a valid index value might be an incorrect assumption.

[2021-05-25 03:29] nolde opened #171 "Follow Iterators and Generators patterns with the `next` helpers."

[2021-05-26 03:45] seanjh opened #172 "Reverse or swapped key lookups"
I am working on an application that needs to store some mapping data in DynamoDB (hopefully) with dynamodb-toolbox. The data maps item and store IDs, and will support look ups for _item IDs for a store_ and _store IDs for an item_. The simple schema below seemed like a natural fit, since we make a single query on either `pk` or `pk2` to fulfill either request.

[code]

Unfortunately, we're struggl

[2021-05-26 06:26] darbio commented on #172
You should split out your data into application attributes (e.g. things that mean something in your application) and data attributes (e.g. things that you use to query your database).

Duplication of data doesn't matter between these as storage is cheap, compute is what costs you money.

Someone like (I haven't tested):

[code]

[2021-05-26 16:38] seanjh commented on #172
Fair point on the storage of the application attributes in DynamoDB (as opposed to embedded in the keys). That seems like a sensible approach. And I think you're right that default functions are the correct solution here. I was hoping for a more compact entity definition, but ultimately that's a minor concern. Appreciate the feedback!

[2021-05-26 16:38] #172 closed

[2021-05-27 11:12] tommy921092 commented on #168
I encoutered issue with the onUpdate config.
![Screenshot 2021-05-27 at 7 00 46 PM](https://user-images.githubusercontent.com/41218788/119815182-d9904680-bf1d-11eb-9e3c-bec2e5b473e0.png)
![Screenshot 2021-05-27 at 7 01 20 PM](https://user-images.githubusercontent.com/41218788/119815249-ee6cda00-bf1d-11eb-89a0-33ee736ebc26.png)
So here I created an Item
and then I update the item using Entity.updat

[2021-05-27 22:55] darbio commented on #168
See my previous comment - add `onUpdate` and set to `true` and this will work for you.

Search the README for `onUpdate`.

[2021-05-28 01:55] tommy921092 commented on #168
the problem is the entity update method: Entity.update(), it cannot identity the item without the sort key, if it is with the sort key, then the sort key will remain unchanged since its specified. Or else it will create another item with those attributes. As I mentioned, gsi1sk delete updated due to onUpdate(because its not specified in the Entity.update() method. But not the sk.

[2021-05-28 03:11] tommy921092 commented on #168
Alright, seems like I should put all changing variables to global secondary index instead with onUpdate to make it work, the primary key should remain unchanged.

https://stackoverflow.com/questions/55474664/dynamoddb-how-to-update-sort-key

[2021-05-28 03:11] #168 closed

[2021-06-03 13:22] dheeraj1447 commented on #132
@jeremydaly any update on this?

[2021-06-03 14:27] dheeraj1447 opened #173 "[UPDATE] [TYPESCRIPT] Making EntityAttributes generic"
This is an issue to make typings stronger and specifically making the `EntityAttributes` type generic. This makes defining the data models have strict typings to avoid any inconsistencies.

[code]

[2021-06-03 16:24] fargito opened #175 "`limit` option not modified when using `.next()` method on a query"
Hello and thanks again for this awesome project :)

When using the `limit` option in a query on a GSI, if the result is too large and has to be paginated by DynamoDB, the options are passed as is to the next query.

However, the `limit` option should be decremented of the resultsCount from the first query.

I should submit a MR in a short while to fix this issue

[2021-06-03 21:56] darbio commented on #175
Why is this? I've never seen this behaviour used before... or maybe I'm misunderstanding what you're suggesting?

Limit should be set on most queries so you don't eat through your RCUs and get a shock when it comes to your bills and reliability.

[2021-06-04 07:15] fargito commented on #175
I agree, `limit` should be set on most queries.

Let's say I have 10000 items on a partition and I only want to query 5000, so I set a `limit: 5000` in my query. On the first query, DynamoDB only returns 3000 items because its weight is > 1MB. In the `.next()` function, I need to `limit` argument to be set to `2000`.

Currently, the `limit` argument is not modified, so when I use the `.next()` met

[2021-06-04 08:29] darbio commented on #175
Ah. I see what you mean. Your use case is not the normal pagination one.

I think in your case it is best to roll your own `get`s.

If you only ever want to get 5000 items instead of all of the items, you will need to set the exclusive start key and add some logic into the code to calculate how many you need from there.

This library isn't designed for the custom behaviour that you want.

[2021-06-04 09:31] fargito commented on #175
Ok that makes sense, I will implement this custom behavior on my end :)

Thanks for your help !

[2021-06-04 09:31] #175 closed

[2021-06-04 14:02] art-dc opened #176 "Add third argument (`params`) to updateTransaction function"
As described in [Adding Custom Parameters and Clauses](https://github.com/jeremydaly/dynamodb-toolbox#adding-custom-parameters-and-clauses):

"If you would like to pass custom parameters, simply pass them in an object as the last parameter to any appropriate method."

Specifically, I would like to use custom `SET` and `DELETE` parameters with the `updateTransaction` function. However, in contrary

[2021-06-07 04:07] CraigglesO opened #177 "Is batchUpdate possible?"
I have 7 updates that I would like to batch together for efficiency. Is this possible? It seems I can only batch puts :(

[2021-06-07 08:25] whimzyLive commented on #177
Hi @CraigglesO,

No, It is not possible ATM. DynamoDB does not support updates in a batch.

DDT batch-write operations are built on top of [document client write](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/DynamoDB/DocumentClient.html#batchWrite-property), which does not support updating items in a batch.

[2021-06-09 14:05] CraigglesO commented on #177
Ah, ok thanks for the feedback!

[2021-06-09 14:05] #177 closed

[2021-06-15 16:03] Easy-Cloud-in commented on #59
hi, let me know how to use next() for pagination.

[2021-06-17 20:40] jasondonnette opened #180 "Table queries with zero values for the sortKey don't work correctly"
A table query with a sortKey value of `0` such as:

[code]

builds params that omit the sortKey like this (notice no `#sk` values):

[code]

Any number other than zero works as expected:

[code]

Which builds the correct params:

[code]

(A workaround I found is to do `lt: 1`, but that relies on there being no negative values in the sortKey)

[2021-06-18 09:01] tommy921092 opened #181 "data migration support"
Wondering if there's any tool provided by the library to have data migration support? As I have some seed data and probably some stepwise changes to those data so it will be great to have some cli to manage the changes.

[2021-06-18 13:38] Easy-Cloud-in opened #182 "Please someone let me know how to use pagination using next()"
Give a working example:

Please, someone, let me know how to use pagination using next() on the return result from query or scan

[2021-06-18 16:22] simlu commented on #158
What is the status on this?

[2021-06-18 17:17] darbio commented on #181
No. I'm not sure how this would work... you have to design your own table and this is _very_ unique to each use case.

Nothing stopping you from writing your own though.

[2021-06-18 17:20] darbio commented on #182
Straight from the docs:

[2021-06-19 05:16] Easy-Cloud-in commented on #182
[code]
how to use .net() method in the above code. please let me know.

[2021-06-19 05:29] darbio commented on #182
Have you tried calling `next` on result?

[2021-06-21 08:40] Easy-Cloud-in commented on #182
@darbio thank you it worked for me.

[2021-06-21 08:40] #182 closed

[2021-06-23 11:20] conorw commented on #106
I am definitely seeing the same thing with v0.3.4 i.e. I cant query filter based on a nested attribute e.g.

filters.push({ attr: 'val.isClientVisible', eq: true});

[2021-06-23 17:41] ryantomaselli opened #183 "Using removeNullAttributes set to false causing breakage in formatItem"
Howdy guys;

I am using the removeNullAttributes setting and making it false so that null value attributes are not removed.

One issue though is I get breakage on this line because it's trying to access the "values" key on a null value field. Could it be as simple as adding a sanity check before accessing "values" just in case the field is null?

https://github.com/jeremydaly/dynamodb-toolbox/blob

[2021-06-24 09:21] mkarsene opened #184 "Filter and Condition Expressions on default attributes"
Hi,
This is an awesome toolbox! Thanks, Jeremy, and all contributors.
I can't find any documentation on how to write filter or condition expressions for the default attributes the toolbox adds. For instance, I write a query in which I want Items created after a certain date. Which attribute should I use? the default one or the alias? Say the default "_ct" is aliased as "createdAt". When writing my

[2021-06-24 09:29] darbio commented on #184
To query on a date you will need to add it to your index. You could scan on the createdAt attribute but this is not efficient and will cost you $$.

[2021-06-24 09:57] mkarsene commented on #184
I don't want to query on the date, I query on some partition key and sort key, then filter on the date attribute. This date attribute happens to be the default created attribute "_ct" or its alias: "createdAt". I set it up such that created, modified are recorded as "_ct", "_md" but when read, they are returned as "createdAt" or "modifiedAt". My question is, in a filter expression, should I refere

[2021-06-24 20:16] darbio commented on #184
My apologies - I misunderstood your question.

You may still be better adding in a secondary index and querying on that rather than filters.

Filters just remove the data that you don't want **after** the data has been returned from the database so you run the risk of over fetching.

To answer your question, have a look at the output (don't execute the query) and see what happens if you use the al

[2021-06-25 07:22] whtlnv commented on #167
I've been immersing myself in this library just recently and can attest that the **default** behavior of composite keys:

1. Is not compatible with Alex DeBrie's recommendations, which as of now is one of the few formal documentations.
2. Is not extensible to several indexes using the same attribute, which is not an uncommon use case
3. Replicates existing functionality without being exactly a sho

[2021-06-25 07:46] whtlnv opened #187 "Should custom parameters overwrite generated clauses"
The `Entity.update()` method provides the possibility of defining custom parameters to initialize the value of the `SET`, `ADD`, `REMOVE`, `DELETE` arrays in `updateParams()`. This on its own is a very powerful feature, but I'm wondering what the implications would be (aside of a big reimplementation of `updateParams()`) of overwriting the clauses generated by `updateParams()` with the ones passed

[2021-06-28 11:51] mkarsene commented on #184
For anyone with a similar question, you have to use the attributes as they appear in the table. In my case "_ct","_md"

[2021-06-28 11:51] #184 closed

[2021-06-29 11:35] darbio opened #188 "[feature] $append behaviour on undefined list"
This is a question/suggestion about the libs default behaviour.

When a list attribute is defined in the schema, but the property is not set in the item, and we call `$append` on said list, should the default behaviour create the list?

This behaviour can be set using:

`list_append(if_not_exists())`

[Here](https://stackoverflow.com/a/35001736/200653) is an SO question/answer which uses this beha

[2021-07-04 08:13] darbio commented on #188
Anyone have any thoughts?

This should be a simple one line update (which I'm happy to do), but some input from the brains trust would be good.

[2021-07-04 12:47] bayoudhi commented on #188
This is a good suggestion, I'm having the same issue when using `$append` with `undefined lists`.

It would be great to update the default behavior of `update` to use `list_append(if_not_exists())` when appending elements to a list.

For now, a workaround may be to use [Custom Parameters and Clauses](https://github.com/jeremydaly/dynamodb-toolbox/tree/a0f2dd4a27b829276aa369c48fc0958ed3f50d53#addin

[2021-07-05 15:06] revmischa opened #190 "How to use the same field for primary and sort key?"
Say I have a PK and SK and a simple object I just want to reference by ID. I did the obvious thing and tried
`id: { partitionKey: true, sortKey: true, prefix: "ABC-POS#" }`

But it tells me `id` cannot be both partitionKey and sortKey. This is how it's done in the various single-table schema talks. How do I do this with ddb-toolbox?

[2021-07-05 20:05] darbio commented on #190
Can you show an example of a talk that has this?

[2021-07-05 20:14] darbio commented on #188
I had a quick look into this and it appears that it will be a change to one line of code in `Entity.ts`.

Ensuring that the list exists is non breaking and backwards compatible for current `$append` operations.

I'll put forwards a PR soon.

The workaround by @bayoudhi works in the exact same fashion.

[2021-07-06 05:47] revmischa commented on #190
Sure you can see it here: https://youtu.be/BnDKD_Zv0og?t=1851 or here: https://youtu.be/KYy8X8t4MB8?t=896

[2021-07-06 06:41] darbio commented on #190
That still looks like the attributes are `pk` and `sk`, respectively (I just watched a few seconds so let me know if I missed something).

Your definition will need to specify each one individually.

[2021-07-06 06:43] revmischa commented on #190
That's right but I want to take an object like `{ id: "darbio" }` and store it as `{ pk: "TYPE#darbio", sk: "TYPE#darbio" }`
How would I do that? Can't ddb-toolbox be set up to map the id column to both `pk` and `sk`? Why does it prevent that?

[2021-07-06 07:21] darbio commented on #190
Ah. I see what you are asking now.

You should look at the `default` functionality.

[2021-07-07 18:47] donferi opened #191 "New Release"
Hi, is there a chance to get a release out in the near future? Been wanting to use all the new Typescript improvements.

Maybe a `beta` tag on npm?

[2021-07-08 13:48] revmischa commented on #190
Thanks, great.
Was not obvious for me from the docs

[2021-07-08 13:48] #190 closed

[2021-07-09 08:26] revmischa commented on #155
I'm using ddb-toolbox with Lambda and CDK. ddb-toolbox is the only thing holding me back on using the v2 SDK, and it causes issues with things like XRay instrumentation because it's extremely inefficient in the v2 SDK.

[2021-07-09 18:55] simlu commented on #158
Any update on this?

[2021-07-09 20:48] etooley opened #192 "Updates for Denormalized data"
It seems like denormalized data is a key concept in single table design. I have several cases where I have put something like a title from one entity in another entity to allow quick retrieval with one query. The titles will only change rarely but the ability to make a change is required. I don't see anything in ddbtoolbox to link an attribute shared between entities or to update downstream entiti

[2021-07-10 05:34] darbio commented on #192
You are right - there is no pre-canned way to do this.

It depends very much on how you designed your entities as to how you would perform this update.

What you have described sounds doable, but as always, there are many ways to skin the cat.

You could store the downstream entities affected with the same pk as your main entity and switch on the entity type when you perform the query. This would

[2021-07-14 19:56] iamdavidmartin commented on #160
Here's my workaround:

[code]

[2021-07-18 23:49] napter opened #193 "Attributes with a partitionKey cannot have a 'map' or 'alias' associated"
Thank you for this @jeremydaly , it looks amazing. I've been looking for something so that I can stop parsing all my composite keys in my single table with overloaded columns and this looks perfect. I am trying to implement this but ran into the following issue:

My table has a primary key attribute name of 'pk'. This is because many different entities are stored in this table. For example my prod

[2021-07-19 00:05] darbio commented on #193
From the [dynamodb docs](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/HowItWorks.CoreComponents.html):

[2021-07-19 00:11] darbio commented on #193
You should seperate your key and your data (business) attributes.

Key attributes are used for accessing an item.

Data / business attributes are used to rehydrate your business entities.

Therefore, duplicating the attributes in an item (rather than calculating them from a pk) is best practice. ￼

E.g.

[code]

[2021-07-19 00:13] darbio commented on #193
P.s. you should use default functionality rather than the prefix functionality as that will be deprecated _soon_.

[2021-07-19 00:32] napter commented on #193
@darbio thank you. I see that business entities can be extracted from sort key using { attributeName: ['sk', 1] }. I tried that approach with the partition key but it did not seem to work. Is the best practice you mention to not store data in the key only true for partition keys but not sort keys?

With regards to the default functionality - is it possible to set a prefix for the pk for an entity

[2021-07-19 00:39] darbio commented on #193
Best practice is to seperate all keys from business data. So, it is true for sort keys as well (which exist for data fetching).

When you `query` you have to set the prefix for your query manually (this may have been fixed if you query on the entity rather than the table - I can't remember). I believe that `get` et. al. parse the prefix for you.

[2021-07-19 06:16] napter opened #194 "Entity.query is not parsing attributes"
According to [the documentation](https://github.com/jeremydaly/dynamodb-toolbox#querypartitionkey-options-parameters) the query function takes a parameter to parse the attributes.  However, I defined pk and sk as hidden on my entity, then I ran entity.query and both fields were in the result set.

[2021-07-27 08:42] revmischa commented on #153
I ran into this issue as well, I was expecting `prefix` to DWIM when querying

[2021-07-27 10:33] revmischa opened #196 "Cannot update a sortKey value"
Entity:
[code]

My issue is I want to update `isRead`. I'm not sure if I am doing something wrong but when I try to do an update, the generated params look like:
[code]

The source of my consternation is the `SET #GSI1sk = if_not_exists(#GSI1sk,:GSI1sk)` - I want to update this value even if it's already set. Am I going about this the wrong way?

[2021-07-29 20:30] napter opened #197 "Suggestion: QueryAll / ScanAll"
Whenever I need to use query or scan and need to paginate the results I find myself using the same code over and over. My suggestion would be to add a QueryAll and ScannAll that uses callbacks to process the results page by page:

[code]

The processing can be processed synchronously / in order if processSet returns a promise or asynchronously if it doesn't.

[2021-08-01 09:54] lanasalameh1 commented on #106
any update on that?
I get the same issue while i'm playing with my table in AWS console.

[2021-08-02 13:38] revmischa commented on #196
I tried:
[code]
But I get `ValidationException: Invalid UpdateExpression: Two document paths overlap with each other; must remove or rewrite one of these paths; path one: [GSI1sk], path two: [GSI1sk]`

This works but I really hope there's a better way:
[code]

[2021-08-04 01:48] shellscape commented on #160
This also works:

[code]

But yeah @jeremydaly this is a funky TS bug.

[2021-08-11 00:35] mindgrub-rkoch opened #198 "Question: Get/Query/Scan by PK or SK Only"
I have seen some comments about this topic in some issues here, but am not able to find any updated information (most is from 2019 or early 2020).

Say I have the following schema:

[code]

I am looking for a way to both get a `User` by ONLY the id (PK) *OR* email (SK). My `usersTable` definition is as follows:

[code]

From everything that I've read and seen and attempted, there does not seem to

[2021-08-11 03:01] #198 closed

[2021-08-22 17:18] harleyguru commented on #190
Hey @darbio @revmischa How can I achieve this by using `default` functionality?
`default` just plays around with input data for that attribute only.
I wishes one input to be used for compositing multiple attributes..

[2021-08-22 22:57] LucasSubli opened #199 "Making the SortKey a PartitionKey for a GSI results in error"
I have a table with a PK called 'pk' and SK called 'sk'
And a GSI where the PK is 'sk' (The same as the default SK) and the SK is 'gsisk'

Table configuration:

[code]

Entity configuration:

[code]

with this setup whenever I try to add an entity I get the following error:

ERROR	TypeError: config.sortKey.includes is not a function
    at Table.addEntity (/var/task/node_modules/dynamodb-toolbox/d

[2021-08-30 10:42] alexandrepernin opened #200 "Queries on GSI with projection type KEYS_ONLY might return different entity types"
A query of the form `EntityA.query(gsi1pk, { index: gsi1})` with gsi1 being a Global Secondary Index with projection type KEYS_ONLY, might return objects of type EntityB as long as they match the `gsi1pk` condition (or any key condition expression specified in the options object). This occurs although the method is called on `EntityA`, which might be misleading.

This is probably due to the fact t

[2021-09-01 16:04] krackerman commented on #158
Hey just following up if there is any update on this?

[2021-09-02 20:32] Wingjam commented on #94
I'm also facing the same issue when using `uuid` in set keys:

[code]

[2021-09-14 12:45] jrodz-edrans commented on #113
I understand that's not an issue, but I'm not able to apply condition expressions when putting a new Item, trying to validate that some of the values does not exists on the single table before.

I guess I cannot check for a non-key attribute, and I guess I can do it for some pk on secondary indexes, but doing the most simple case, I'm not able to check either.

It could be related to the table def

[2021-09-22 14:21] jrodz-ak opened #205 "Problem updating secondary index key"
HI there!
I'm having problems updating the status of a key on a secondary index, when updating the related attribute.

I've the following entity definition:
`gsi2pk: { type: 'string', prefix: 'STATUS#', default: (f) => f.status, onUpdate: true },`
`status: { type: 'string' },`

When I create the entry, the status value is 2, and gsi2pk is STATUS#2
BUT when I update the entry, the new status value

[2021-10-01 16:42] simlu commented on #158
:wave:

[2021-10-03 10:22] sam-goodwin commented on #160
The return type of `update` is inferred:

https://github.com/jeremydaly/dynamodb-toolbox/blob/23491cf505b5c6f4aef2a0273a609b2af66d321a/src/classes/Entity.ts#L600-L604

And if you look at the implementation:
https://github.com/jeremydaly/dynamodb-toolbox/blob/23491cf505b5c6f4aef2a0273a609b2af66d321a/src/classes/Entity.ts#L607-L623

You can see that the `payload` is returned, which is of type `Docum

[2021-10-04 22:29] shellscape commented on #85
@jeremydaly the docs for this one still need to be updated

[2021-10-06 21:24] garretcharp commented on #13
+1 to this feature, I have to duplicate values quite a bit for GSIs, and setting the default over and over is a bit annoying

[2021-10-07 00:17] garretcharp commented on #1
To add to this being able to alias to a non-nested field would be super useful it doesnt seem like its possible right now?

I have here an example "Giveaway" model that has a winners object with the current winner and past winners (if any). And would like to alias winners.current to "winner", not sure if that is possible:
[code]

Whenever I parse an item the winners.current value is correct, howev

[2021-10-19 15:23] Reiiya opened #208 "Empty strings create a null value in db even if removeNullAttributes is set to true"
Whenever I try to put an object with empty string as value of string field, it creates this field as null in dynamodb. Is this normal behaviour? I expected them to be removed as that would be consistent with removeNullAttributes behaviour.

This is sort of a short version of my code, for what its worth:
[code]

[2021-10-20 08:57] jlweston opened #211 "Using $set operator can leave unused ExpressionAttributeNames in query"
When performing an update operation with the `$set` operator, it is possible to end up with an invalid DynamoDB request. Using the following example works fine where `item.partialMap` is not an empty object, and the resulting DynamoDB request correctly includes all relevant components for `UpdateExpression`, `ExpressionAttributeNames` and `ExpressionAttributeValues`.
[code]

However, if `item.part

[2021-10-22 13:34] ThomasAribart opened #213 "Add `throwOnThrottle` option on Table / Entity / Method options"

[2021-10-23 23:46] garretcharp opened #214 "Conditions on nested fields do not work"
If you try and set a condition on a nested field it does not work, it tries to do the condition check on a field "my.nestedValue" instead of "my"."nestedValue"

[2021-10-25 15:08] ThomasAribart opened #215 "Export `Item` utility type"

[2021-11-08 23:47] shellscape opened #218 "0.3.5 Release Missing"
Hey folks, looks like the v0.3.5 release is missing. Please do consider adding a release with notes on the version.

[2021-11-15 10:31] pokorsky opened #219 "Broken Table.query docs in README"
The options table is misformatted in [README.md5](https://github.com/jeremydaly/dynamodb-toolbox#querypartitionkey-options-parameters)

![image](https://user-images.githubusercontent.com/1336737/141766011-23f60815-d4a4-4e3c-95d5-7eb1d94f88d9.png)

[2021-11-15 12:51] rati-dzidziguri commented on #52
team any input or update regarding SDk3 support?

[2021-11-15 16:51] shellscape commented on #182
This really should be in the documentation. There are several methods for using `next()` and none of them are documented. This being the most appropriate one, though I dislike the await-in-loop use https://github.com/jeremydaly/dynamodb-toolbox/issues/197#issue-956183936

[2021-11-19 06:27] ianpogi5 commented on #205
I have this problem as well. Any ideas?

[2021-11-19 10:29] jrodz-ak commented on #205
@ianpogi5 I bypass the situation updating both values:
[code]
but I'll like to know the reason of "onUpdate", and validate if that's an issue or not

[2021-11-21 15:28] jcamilli opened #220 "Using MyEntity.parse(...) without a DynamoDB connection"
I am receiving this error when I call MyEntity.parse() without an active Table connection:
`Error: The 'MyProduct' entity must be attached to a Table to perform this operation`

I have the input json already and I have the models and entities, I just want to call MyEntity.parse(myInput) and get back the parsed schema. Since the input attributes and values are known and the output is known, I'm not

[2021-11-21 16:41] jcamilli commented on #220
OK I just realized that even though a ddb documentclient is required, it doesn't actually connect to ddb. So this is really a non-issue.

[2021-11-22 03:19] shellscape commented on #106
@jeremydaly coming up on a year later and this is definitely still a bug. what were the results of your poking at this?

[2021-11-22 13:44] jeremydaly commented on #219
Extra | in one of the descriptions was breaking this. Fixed now. Thanks.

[2021-11-22 13:44] #219 closed

[2021-11-22 13:45] jeremydaly commented on #218
This was a rollback after incorrectly tagging the alpha version in NPM. No changes to the functionality other than dependency upgrades. I'll add a tag.

[2021-11-22 13:45] #218 closed

[2021-11-22 13:51] #76 closed

[2021-11-24 14:31] romcok commented on #169
Still has same problem. So when I don't use `onUpdate`, how can I manually update global index via toolbox entity?
I am using typescript so my entities are typed without GSI indexes, but I don't think this will work even when I put GSI2SK into entity interface.
[code]

[2021-12-01 10:25] ThomasAribart commented on #208
Hello @Reiiya !

The `removeNullAttributes` only indicates that attributes set as `null` should be removed from the item. The issue that you have doesn't come from dynamoDb-toolbox, but from the DynamoDB client, although I agree it is not documented very well, and the naming can be quite confusing.

You should use the `convertEmptyValues` option at `false` while instanciating your client:

[code]

[2021-12-01 10:29] #215 closed

[2021-12-01 17:03] simlu commented on #158
ping

[2021-12-06 00:55] tlmader commented on #169
Running into this issue as well. To work around this, I get the previous item and always pass it to update.
[code]

Here is my entity:
[code]

[2021-12-06 09:32] NimmLor opened #224 "(v0.4 alpha) Typescript error when using EntityItemOverlay"
When using EntityItemOverlay on the Entity, typescript complains about not being able to find `ParsedAttributes` because it is not exported.

using **0.4.0-alpha.0** and typescript `4.4.4`

example:
[code]
[code]

When adding `export` to the interface declaration of `ParsedAttributes` the error is resolved.

[2021-12-08 17:43] Reiiya commented on #208
Thank you very much! It did not cross my mind to look for a solution there! :sweat_smile:

[2021-12-18 14:59] alexedwardjones commented on #52
Is there any update? I can see an [open PR](https://github.com/jeremydaly/dynamodb-toolbox/pull/174) for a migration to the v3 SDK but it's been open for months now.

[2022-01-04 12:12] samaybhavsar commented on #190
@darbio @revmischa  - I am in a similar situation but how do solve this using default?

[2022-01-04 13:51] fernandopioli opened #226 "Dynamics attributes in entity"
Hello!

I've created an Entity with some default attributes, like: "SK", "PK", "NAME", etc.
And I need to add dynamic fields when saving the register, like:

item = { name: 'test', **_email: 'test@mail.com'_** }

But I'm getting this error: Field 'email' does not have a mapping or alias.

Is there a way to set the required attributes but add more dynamic attributes when saving?
Thanks

[2022-01-04 14:01] jeremydaly commented on #226
Hi @fernandopioli,

Entities must define all root level attributes, this is what allows them to transform them and enforce consistent structures. In order to save `email` at the root, you'd need to specify it in the Entity definition. If you want to add more flexible data, you can define a generic `map` type attribute at the root (like `data`), and then you can write whatever you want in there.

F

[2022-01-04 15:02] fernandopioli commented on #226
Hi @jeremydaly,

Thank you for your prompt response.
Yeah, it makes sense.

But, in a scenario that I need to perform a scan in this nested data ( email ), is it possible?
note: I know this is not a better approach, that we need to use the GSIs, but this is just an example.
Thanks

[2022-01-04 15:18] jeremydaly commented on #226
The data would be returned by a scan unless you limit which attributes you are returning (but either way you pay for them). You could also filter on that data if you wanted to, but again, that's an expensive operation.

If you are planning on using the `email` directly in a GSI, then you'd need to make it a root attribute.

[2022-01-04 16:48] #226 closed

[2022-01-05 17:29] braekevelt commented on #171
Another good explanation on iterators: https://javascript.info/iterable

[2022-01-06 20:53] samaybhavsar opened #227 "Entity.query returns PK and instead of Id as defined in the model"
I have created an entity which consumed id as primary key.

[code]
Now when I am doing a query using entity should I not return me id(without prefix) in the payload instead of PK (with prefix)

[2022-01-06 21:01] samaybhavsar commented on #227
Ah. I missed the parse and execute options.

[2022-01-06 21:01] #227 closed

[2022-01-16 19:30] vsnig opened #228 "expressionBuilder mutates expressions"
Right now `expressionBuilder` will mutate input expressions.
This can be a problem when we reuse prebuilt expressions across multiple queries/entities.
I myself spent couple of hours figuring this out.

Such test
[code]
Will fail with:
[code]
I've submitted a PR with a fix linked below

[2022-01-17 19:50] k-atama commented on #155
I SWEAR I searched for an open ticket on this, but didn't see this until just now. Apparently I'm bad at searching.

I'm going to copy / paste the contents of my almost-ticket below in case it's useful for anything, but tl;dr; I was also / am also looking for v3 support. I'm new to DynamoDB and new to dynamodb-toolbox so not sure I'm a great fit to help with this at this point, but am happy to hel

[2022-01-17 23:06] shesupplypi commented on #153
Hi,  I am facing this issue as well.  Any workaround for this or do we just have to pass in the prefix to the query ourselves?

[2022-01-19 13:01] jfreyheit commented on #205
I know it's an old issue, but did you try settings the onUpdate attribute when defining gsi2pk ? I had the same problem and it solved it.

[2022-01-25 21:11] Wingjam commented on #132
At least include `undefined` in the `SchemaType`?
This would allow to write something like:

[code]

instead of:

[code]

[2022-01-26 16:50] suankan commented on #106
Hi @lwillmeth, @jeremydaly,

Please correct me if I misunderstood this [AWS Dynamo doc](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/HowItWorks.CoreComponents.html#HowItWorks.CoreComponents.PrimaryKey) which says:

So even if we try to create a Secondary Index using some **Nested Attribute** - it won't work because Secondary Index is basically an attribute(s) for querying the d

[2022-01-27 16:01] salv0 opened #230 "Way to skip Exception/Error when field does not have a mapping or alias"
Hello there,

While using the `Entity.putBatch` followed by `table.batchWrite()` I incurred in the following error:
`Error: Field 'newField' does not have a mapping or alias`

The entity I want to persist comes from an external API, so it can happen that some new fields are added without notice, and that's exactly what happened in this case.
Is there a way to instruct dynamodb-toolbox to just "ski

[2022-01-28 11:25] ThomasAribart commented on #224
Thanks @NimmLor ! Will add that to the v0.4 !

[2022-01-28 11:28] ThomasAribart commented on #191
Hi @donferi ! You can try the new release with the `v0.4.0-alpha.1` version ! https://www.npmjs.com/package/dynamodb-toolbox

[2022-01-28 11:28] #191 closed

[2022-01-28 11:30] ThomasAribart commented on #133
Hello @adelego ! Type infering is now a thing since `v0.4`, which is in alpha release: https://www.npmjs.com/package/dynamodb-toolbox

[2022-02-03 02:54] smacker opened #231 "What does OG in the readme stand for?"
I see in the readme:

What does OG mean here?

Thanks!

[2022-02-03 10:46] darbio commented on #231
Original Gangster. The first.

[2022-02-04 02:43] smacker commented on #231
Thanks!

[2022-02-04 02:43] #231 closed

[2022-02-04 16:13] Wingjam commented on #197
In the same line of thought, a `batchWriteAll` function with configs (chunk size, max attempt number, exponential backoff with jitter, etc.) would be nice to be built-in.

i.e. `BatchWriteAll.ts`

[code]

[2022-02-09 14:53] douglasmanzelmann opened #232 "Wrong typescript type for Custom Parameters and Clauses"
I could be completely wrong -- but when attempting to use custom parameters using `v0.3.5` and typescript `v4.5.3` I get an error: ` Object literal may only specify known properties, and 'SET' does not exist in type 'Partial<UpdateItemInput>'.`

[code]

Looking at the typescript definition, I see this for update:

`update(item?: Partial<Schema>, options?: updateOptions, params?: Partial<DocumentCl

[2022-02-09 17:39] #232 closed

[2022-02-16 06:09] cle5eland commented on #153
Would like a suggested workaround here as well.

[2022-02-21 09:01] salv0 commented on #230
any news about this? @jeremydaly

[2022-02-28 16:17] austevick opened #234 "Suggestion: A function that transforms the output from DDB for an attribute"
Similar to the `transform` function in `EntityAttributeConfig`, it would be super helpful for transforming data from DDB. Would be super helpful for cases like dates where they are stored as a string/number but you would like the Entity to return it as a `Date` object.

[2022-03-01 13:09] jmadan opened #235 "Cannot read property 'type' of undefined"
Hello,

When querying table with partitionKey and sortKey, I keep getting the following error
[code]

My table definition is as follows
[code]
[code]

and query
[code]

The above code throws TypeError but I am not able to figure out what is causing Type Error. Any help is appreciated.

[2022-03-02 06:40] mohit-singh-pepper opened #236 "Specify _cd,_md date formats as epoch"
Is there a way to specify date formats for `created` and `modify` field. I know default is a way but will it still apply if_not_exists() on created and update the modified on `entity.update(...)` ?
This should take care of update but what about if_not_exists() ? Note: I have to use following with timestamps off else it overrides to ISO again.
[code]

[2022-03-03 22:35] simlu opened #237 "Update docs to indicate "default" behaviour"
It is not immediately clear that the default value is not a "request" default, but actually translates to `if_not_exists`. This should be improved in the documentation.

[2022-03-04 11:06] salv0 commented on #235
From a quick look, it seems the type of sk cannot be found (because sk is `undefined`).
Without having other insights in your code, my assumption is that when passing sk to the query below, for some reason you are passing undefined and not a string.

[2022-03-08 19:18] salv0 commented on #106
Incurring in this same problem with version `0.3.5`

Trying to access a nested attribute in the form:
`filters: { attr: 'address.countryName', eq: 'Italy' }`

but this doesn't work.

[2022-03-15 02:29] mohit-singh-pepper commented on #236
The above is perfectly correct as toolbox internally adds the same attributes.

[2022-03-15 02:29] #236 closed

[2022-03-19 16:16] aldex32 commented on #106
Hi all,

I started last week to use this library hoping it is mature enough. I am facing the same issue with `v0.3.5`, and looks like an old issue not solved yet.

[2022-03-19 21:45] darbio commented on #106
There are alternatives that are at version 1+ if you don't need the specifics that this library provides.

I have used dynamodb-one-table, electro db and this lib. Each has its upsides and downsides.

The basic features in this library are pretty static but it does concern me that we still aren't at 1.0.0 and that there are a bunch of bugs that are >1 year old. These factors prevent me using it mo

[2022-03-23 05:34] ankitaabad opened #240 "No Parsing for Global secondary index"
For the table item I am getting correctly parsed result but for GSI1 result is not parsed.
for table I get

[code]

for GSI

[code]

[2022-03-28 16:58] guiyom-e opened #243 "[v0.4.0 Typescript] Allow null attributes in Put queries, if they are optional"
Tested version : v0.4.0-alpha.2

Issue :
The type `PutItem` type does not allow `null` attributes, but it should be possible for optional attributes.

Suggestion :
Add the possibility to put `null` attributes if they are optional.
The work has already done for [`UpdateItem`](https://github.com/jeremydaly/dynamodb-toolbox/blob/676a42f510bbd7ca0e6598a65d0eeab730784425/src/classes/Entity.ts#L467), bu

[2022-03-28 17:03] guiyom-e opened #244 "[v0.4.0 Typescript] $append and $prepend not supported to update a list attribute"
Tested version : v0.4.0-alpha.2

Issue :
`$append` and `$prepend` are [used in the library](https://github.com/jeremydaly/dynamodb-toolbox/blob/676a42f510bbd7ca0e6598a65d0eeab730784425/src/classes/Entity.ts#L1547), but are not defined in `UpdateItem` Typescript type.

Suggestion :
Add `$append` and `$prepend` in [attribute method possibilities](https://github.com/jeremydaly/dynamodb-toolbox/blob/6

[2022-03-28 17:07] guiyom-e opened #245 "[V0.4.0 Typescript] Update method params lack of SET, REMOVE, ADD, DELETE"
Tested version : v0.4.0-alpha.2

Issue :
The `params` (third argument) of `update` method does not allow `UpdateCustomParams` (SET, REMOVE, ADD, DELETE)

Suggestion :
Type of `params` argument should be changed to `UpdateCustomParams`

[2022-03-28 17:14] guiyom-e opened #246 "[v0.4.0 Typescript] Entity type inconsistency"
Tested version : v0.4.0-alpha.2

Issue :
A defined `Entity` can not be assignable to a simple Entity (`Entity` type without generic argument defined).

Suggestion :
Change `Entity` generic types for [table (remove `= undefined`)](https://github.com/jeremydaly/dynamodb-toolbox/blob/676a42f510bbd7ca0e6598a65d0eeab730784425/src/classes/Entity.ts#L516) and [attributes (add `ReadonlyAttributeDefinition