[2022-03-31 13:31] manufont opened #247 "Populate defaults without calling "put" method"
Hi!

Is there any way to populate the defaults value of an item without calling the `put` or `update` method? I couldn't find a way neither in the documentation nor the issues.
I could create my own solution, but I would have to reimplement the whole dependency graph in order to support the `dependsOn` property. Is there a better way?

Thank you!

[2022-04-07 11:37] adikari commented on #52
@jeremydaly would love to here your thoughts on this. Would be nice to know if this is in roadmap or not.

[2022-04-07 12:48] rati-dzidziguri commented on #52
https://www.npmjs.com/package/@aws-sdk/lib-dynamodb

[2022-04-07 20:23] mobsense commented on #52
Or: https://www.npmjs.com/package/dynamodb-onetable

[2022-04-08 02:13] darbio commented on #52
I like the way that [typedorm](https://github.com/typedorm) have implemented this, with an [abstraction that allows you to choose v2 or v3](https://github.com/typedorm/typedorm/tree/beta/packages/document-client). It's quite neat.

[2022-04-21 20:45] shellscape opened #248 "PK attribute `default` is stringifying function, not executing it"
I've got another weird one. It seems that when specifying a `default` for an attribute, dynamodb-toolbox is stringifying the function instead of executing it.

[code]

What we end up with in the db is `pk` of `account:() => { return (0, nanoid_1.nanoid)(); }`. When composing the `pk` default, it doesn't look like dynamodb-toolbox is passing the data properly, stringifying the `default` for `id` ra

[2022-04-24 11:09] ShivamJoker commented on #52
@jeremydaly How should I use the v3 client?

[2022-04-24 22:23] darbio commented on #52
You don't... yet.

[2022-04-25 04:28] ShivamJoker commented on #52
How much more time will it take for V4 to be released? And what are the changes we are looking for, I might try to send a PR

[2022-04-25 04:57] darbio commented on #52
It's been in the pipeline for a while, so hopefully we're close! I think the code was done but unmergeable. If you really need to use v3 have a look at [TypedORM](https://github.com/typedorm/typedorm).

PS, it's v0.4 not v4. We haven't made it to v1 yet. Hopefully we're also close to that!

[2022-04-27 18:08] fernandopioli opened #249 "Add beginsWith for getBatch"
Hi.
I need to get some results where my PK has a equal value but the SK can beginsWith ....
I couldn't perform this batchGet to query in the same Entity but with 2 different values of PK and SK.
I've seen this example, but it's not much clear.
Thanks
[code]

[2022-05-01 23:55] shesupplypi commented on #132
Is there a suitable workaround for this? I am currently having to type my object as any:

[code]

[2022-05-03 00:41] abury commented on #188
Is there any way we can help with the PR? I've tried to use the append and ran into the same issue, and the work around by @bayoudhi works, but doesn't seem to be stopped by a condition.

[2022-05-06 15:44] newton-whitman opened #251 "Next function always returns empty"
Next function on query response object always returns empty.

NodeJs 14
dynamodb toolbox version 0.3.5

[2022-05-06 15:52] #251 closed

[2022-05-06 15:53] newton-whitman commented on #251
sigh forgot await

[2022-05-06 20:41] amccarthy1 opened #252 "Whitespace is treated as "null" by default, cannot be disabled without disabling `removeNullAttributes`"
Strings containing whitespace only (e.g. `" "`) are treated as null and removed by default. Though it's possible to turn this behavior off by disabling `removeNullAttributes`, it's not possible to preserve whitespace while also removing null attributes.

Example:
`entity.update({id: "some-id", name: " "})`
will actually generate a payload like
[code]

This can be somewhat dangerous, as values like

[2022-05-07 00:37] ankitaabad commented on #94
I'm also facing the same issue. Any update on this ??

[2022-05-07 15:03] ahmad-ali14 opened #254 "is there a way to disable schema checking temporarily?"
we don't know our schema well yet; every time we try to save an item with that has a property not defined in the Entity constructor, the operation crashes and the function throws.

we want to be able to disable this error temporarily.

I checked the source code, so I can:
1. disable `autoSave` && `autoParse` on the entity object.
2. use the Entity functions (put, update) to only generate the objec

[2022-05-09 10:29] kkarimi commented on #254
Hi @jeremydaly is this by design? would be good to know if there's an option to disable this! thank you 🙏

[2022-05-09 14:25] amccarthy1 opened #255 "`removeNullAttributes` circumvents null checks for required fields"
If you mark a field as `required: true` or `required: 'always'`, the `removeNullAttributes` config can still result in null values for that field. You can get dynamodb-toolbox to insert a null value by passing it an empty string or a whitespace-only value and getting it to coerce to `null` under the hood. In this case, the db will remove the attribute without complaint, effectively circumventing t

[2022-05-14 22:49] mxro opened #261 "[v0.0.4 TypeScript] Type inference for `Entity.get` seems to result in `any`"
Using the current `alpha` version (`0.4.0-alpha.2`), it seems that while type inference seems to work for checking the arguments passed to Entity.put, it doesn't work for giving the correct return value for Entity.get.

See in the example below [table.spect.ts#L44](https://github.com/goldstack/goldstack/blob/da46d1c35e2ff8b70f5fcefe94e1f365c11c2e52/workspaces/templates/packages/dynamodb/src/table.

[2022-05-16 14:25] RishivikramN commented on #248
I am facing the same problem, Any updates? @shellscape

[2022-05-16 14:38] RishivikramN commented on #248
no the issue remains the same, but for me it is very weird. If I call through http api endpoint then the default function is working properly. But if i call the lambda directly within from the another lambda then it is stringifying the funtion.

[2022-05-16 14:43] shellscape commented on #248
if you don't see an update, don't post a reply asking if there's an update.

[2022-05-19 08:17] ankitaabad commented on #214
Faced the same issue today. After trying a lot I figure out that It's a bug with the library and not my approach. I am giving up on this library.

[2022-05-23 07:51] BabyDino commented on #234
This PR has been there for ages: https://github.com/jeremydaly/dynamodb-toolbox/pull/90

[2022-05-23 08:26] darbio commented on #234
Haven't they all... 😕

[2022-05-25 11:04] ahmad-ali14 commented on #85
well, I first tried:

[code]

then I would still get `created / modified` instead of `createdAt / modifiedAt`.

so I tried this:

[code]
and I got an error:

[code]

The final solution was:
[code]
and I thought it will end up creating 4 properties: `_ct, _mt, createdAt, updatedAt` but it only added the 2 latter ones.

[2022-05-31 05:25] deepak-foodhub commented on #188
+1

Also unable to create empty list example: addresses: []

[2022-06-24 10:10] salv0 commented on #230
is this project dead?

[2022-06-29 21:38] cdurante opened #264 "Transaction APIs do not support parameters argument"
Contrary to what the doc says, the transactWrite,  putTransaction, updateTransaction methods do not accept a third `Parameters` argument.

I need to pass in additional parameters to a transaction but am currently prevented from doing so.

[2022-07-02 14:37] #228 closed

[2022-07-02 18:34] #255 closed

[2022-07-04 12:33] naorpeled commented on #94
@jeremydaly can you assign me to this issue?

[2022-07-05 11:25] kr1p70n1c opened #269 "Compile error - Type alias 'ParsedEntity' circularly references itself."
- Typescript:  4.7.4
- DynamoDB Toolbox:  0.4.2

[code]

When downgrading to `DynamoDB Toolbox 0.3.5` again, all is 👍!

[2022-07-05 19:01] jeremydaly commented on #249
`batchGet` uses the BatchGetItem API (https://docs.aws.amazon.com/amazondynamodb/latest/APIReference/API_BatchGetItem.html) which operates on individual items in the table. `beginsWith` only works on Query API (https://docs.aws.amazon.com/amazondynamodb/latest/APIReference/API_Query.html) since you are pulling from the same partition.

[2022-07-05 19:12] jeremydaly commented on #52
v0.4 is _finally_ live! Conversion to the v3 SDK is a high priority.

[2022-07-06 16:33] gozineb opened #270 "Overloading entity class parse method"
**Tested version:** v0.4.0-alpha.2

**Issue:**

The parse method of the Entity Class returns an Item or a list of Item. The developer can know if it is an Item or a list of Item depending on the input that is passed as an argument to the method. One has to then cast it to the most appropriate type (i.e single item or list) depending on the use case. However, type assertions weaken type safety, whi

[2022-07-06 20:48] naorpeled opened #274 "maintainance"
Hey @jeremydaly,
are you looking for an extra maintainer?

I would love to help maintain this project :)

[2022-07-06 21:33] jeremydaly commented on #274
Yes, I’ve added a few folks already. Will add you now.

[2022-07-06 21:35] #274 closed

[2022-07-06 22:22] naorpeled commented on #274
@jeremydaly how can I contact you directly?

[2022-07-07 02:43] jeremydaly commented on #274
DM me on Twitter. @jeremy_daly

[2022-07-07 02:50] #270 closed

[2022-07-07 14:27] jeremydaly commented on #254
This was by design, but I suppose we could disable it with a flag. Adding to roadmap.

[2022-07-07 14:45] jeremydaly commented on #248
@shellscape - The variable resolution doesn't guarantee order, so you need to add `dependsOn` to your `pk` attribute to indicate that it must wait for `id` to be resolved.

Try this instead:
[code]

[2022-07-07 14:46] shellscape commented on #248
Ah very cool. This lib is so robust, I swear

[2022-07-07 14:51] jeremydaly commented on #247
Hi @manufont! Apologies for the delay. I'm not sure I understand what you're asking. Do you want to generate an `Entity` Item without saving to the table? If that's the case, you can just pass `{ execute: false }` as the options to the `put` method and that will return the DDB payload for you. You can then just grab the `Item` from that and it would contain all of your defaults.

For example:
[cod

[2022-07-07 14:59] manufont commented on #247
That's exactly what I wanted to do! Thank you

[2022-07-07 14:59] #247 closed

[2022-07-07 21:50] naorpeled commented on #244
Hey @guiyom-e,
will start working on it asap.

Thanks for reporting this issue!

[2022-07-08 03:07] #244 closed

[2022-07-08 03:11] #245 closed

[2022-07-08 09:28] naorpeled commented on #188
Hey @darbio,
thank you for opening this issue 😎

I'll be working on releasing this asap!

[2022-07-09 01:34] naorpeled commented on #208
Hey,
this issue seems to be resolved.

@Reiiya feel free to re-open it if needed.

Have an amazing day :)

[2022-07-09 01:34] #208 closed

[2022-07-09 01:50] naorpeled commented on #160
Hey,
@donferi thanks for reporting this issue.
This issue was fixed in v0.4, we've added a lot of TypeScript support 😎

I'll be closing this thread,
feel free to re-open it if needed :)

Have an amazing day everyone!

[2022-07-09 01:50] #160 closed

[2022-07-09 16:50] jeremydaly commented on #246
@ThomasAribart or @naorpeled, can either of you dig into this?

[2022-07-09 20:31] naorpeled commented on #246
Sure.

[2022-07-10 10:55] ThomasAribart commented on #246
Yes I can have a look at it. Had a similar issue with another lib.

It's a tricky issue, we have to be able to detect when the class is used as a type vs instance (through default values). And contravariance of method arguments (they should be typed as any in this case).

Meanwhile I think I have defined an EntityDef type for this use case. But maybe it's not exported, I don't remember.

[2022-07-10 12:15] #248 closed

[2022-07-15 02:37] #188 closed

[2022-07-15 15:18] rbdmorgan commented on #214
I've submitted #288 that fixes this (for me at least!) Let me know your thoughts!

[2022-07-15 17:08] #243 closed

[2022-07-18 18:40] simlu opened #292 "[BUG] default null is causing errors"
We have a list with a default of null. This gives us unexpected errors.

Digging down the issue is simple: `typeof null === 'object'`

The "object but not array"-checks are incorrect in this library. I've fixed this here:
https://github.com/jeremydaly/dynamodb-toolbox/pull/291/files

[2022-07-18 23:13] #264 closed, assigned to nobody

[2022-07-18 23:16] #214 closed

[2022-07-19 10:03] naorpeled commented on #176
Hey,
thanks for opening this issue :)

The fix for this issue was merged (#289) so I'll be closing this issue.

[2022-07-19 10:03] #176 closed

[2022-07-19 16:42] jeremydaly commented on #230
@naorpeled, let's add an option to the `put`, `update` and `putBatch` methods to allow for skipping the entity schema check.

Maybe `strict: false`?

Also, all other checks (typing, required, etc.) should be enforced. This will just bypass a strict schema check for defined fields. Make sense?

[2022-07-19 17:00] naorpeled commented on #230
100%, will implement it asap :)

[2022-07-21 09:10] mohit-singh-pepper opened #299 "DynamoDB createSet after transform call"
We feed arrays to dynamo-toolbox and it converts it to set. But dynamoDB or aws-sdk can't handle empty array.
[code]
I tried to mitigate this through transform as following:
[code]
But transform runs after `createSet` which doesn't make sense because then value of transform function is a dynamo set wrapper instead of array which I passed.

[2022-07-22 01:32] kr1p70n1c opened #300 "Check why primary/secondary GSIs are using if_not_exists"
Is this still a thing with the latest version, i.e. by default you get generated `UpdateExpression` like this:

[code]

I am having this issue with `v0.3.5`, and am wondering if this has been addressed in the latest version, where it is straight forward to not have it generated like that, and where you do not have to provide the whole `UpdateExpression` yourself either.

Sidenote:  I have seen in

[2022-07-22 10:36] jeremydaly commented on #300
Hi @kr1p70n1c! The only way the `if_not_exists` should be generated is if you set a `default` for the attribute. Can you post your `Table` and `Entity` definitions?

[2022-07-22 11:38] kr1p70n1c commented on #300
Hi @jeremydaly,

Thank you for your quick response.

I certainly do have a `default` defined:

[code]

I have to update that sort key as it is part of my modeling as I am using the mutable `status` as part of an access pattern:

- _Get user orders by status_

As stated before, I do have it working for now as I am specifying the whole `UpdateExpression`, I was just hoping that there would have been

[2022-07-22 14:32] jeremydaly commented on #300
Ah, I see. The point of the `if_not_exists` for `default` values is so that when an `UpdateItem` is called without specifying the value, it'll send the default value in to ensure that newly created items have a default value. This way, if an item exists, then the `default` value won't overwrite the existing attribute value in the item.

It looks like you want to set the value (meaning not use the

[2022-07-22 14:40] jeremydaly commented on #299
Thanks for reporting this. We'll take a look.

[2022-07-22 16:02] kr1p70n1c commented on #300
@jeremydaly Ah thanks for the feedback.  Just to confirm the version of the library, must I use the latest for this to work or will `v0.3.5` do?

I am asking because I am still on `v0.3.5` and I have implemented the `transform` function as well, and returning the `value` from it (and I can confirm that `value` is indeed the new value I need it to be), but the `UpdateExpression` still generates as:

[2022-07-22 17:01] jeremydaly commented on #300
Hmm, that's not the way it should work. Check v0.4.X of the library to see if there is a change in behavior, but that shouldn't have been touched. I'll mark this as a bug and make sure it gets addressed.

[2022-07-23 10:40] kr1p70n1c commented on #300
I tried the latest version (0.4.3) again now, but I still have the issue as I reported in #269

I made an additional comment their now.

[2022-07-23 10:42] kr1p70n1c commented on #269
I tried the latest version again, and this still persists.

- DynamoDB Toolbox:  0.4.3
- macos:  10.15.7
- TypeScript:  4.7.4
- node:  16.16.0
- npm:  8.11.0

[2022-07-27 23:37] ThomasAribart opened #303 "Remove the need for `as const` and develop an attributes builder"
To implement type inference in v0.4, I used the `as const` statement mainly to prevent breaking changes, but it makes the parsing of attributes quite complex and resource intensive. It's clear that the API had not been thought out with TypeScript in mind, and I was kind of fitting a circle in a square there.

Besides, there are some features that are cumbersome or simply not doable this way:
- Ens

[2022-08-01 23:17] simlu commented on #158
👋

[2022-08-02 01:07] #246 closed

[2022-08-02 06:34] gabrielcolson commented on #303
Hello @ThomasAribart

The current typescript implementation is unusable because of the type complexity which mainly comes from the API, as you noted.

I agree the API needs to be reworked completely. @jeremydaly, does this fit in your vision of the project? Is this something that could be done before v1?

I would like to push this further as I really believe this project should be typescript first

[2022-08-02 16:10] naorpeled commented on #158
Sure!

[2022-08-04 08:43] ThomasAribart commented on #303
@jeremydaly @gabrielcolson I started working on this, check out https://github.com/jeremydaly/dynamodb-toolbox/pull/305/files

[2022-08-04 16:09] jeremydaly commented on #303
Hey all, I think an overhaul of `Table` and `Entity` constructors makes a lot of sense. The original API was designed back in 2019, so TypeScript support wasn't really on the radar. The goal of this project has always been to **make things as developer friendly as possible**, so a simple set of builder classes would certainly fit that mold. Let me look over @ThomasAribart's PR and make some commen

[2022-08-04 16:18] jeremydaly commented on #303
I 100% agree with this. The `map` vs `alias` feature was to enable defining attributes bi-directionally, but definitely adds confusion. I would be in favor of defining the entity name first and then the attribute it maps to as a configuration.

The `arrays` functionality was for composite keys, a practice that is rather outdated at this point (though popular at the time). Computed values would wor

[2022-08-04 19:02] krackerman commented on #180
We are seeing this as well. Has there been any progress on this issue?

[2022-08-04 20:52] krackerman commented on #180
Looks like this issue was resolved in the following PR: https://github.com/jeremydaly/dynamodb-toolbox/pull/223 Thank you guys!

[2022-08-05 20:44] naorpeled commented on #180
Hey,
thanks for opening this issue,
I've tested this on real data and also created a PR that adds a test for this scenario and it's working.

So I'll be closing this issue for now.

[2022-08-05 20:44] #180 closed

[2022-08-05 20:56] naorpeled commented on #158
I've played around with some data and found the following:
- when querying/scanning a table, each item in the table needs the '_et' (entity name) field in order for it to be parsed properly, because we're checking the mapping of that specific entity.

- when using the `get` operation, because the scope is a specific entity, we're looking at that entity's mapping and parse the fields according to i

[2022-08-06 09:22] ahmad-ali14 opened #308 "Entity update requires full object and complains about partial updates"
## version [0.3.5](https://www.npmjs.com/package/dynamodb-toolbox/v/0.3.5)
- in the previous version, this worked fine:

[code]

## version [0.4.3](https://www.npmjs.com/package/dynamodb-toolbox/v/0.4.3)

- typescript complains about the above operation and requires the whole user object.
- so the previous operation needs to be transformed as such to suppress the typescript error:

[code]

[2022-08-06 10:20] naorpeled commented on #308
Hey @ahmad-ali14,
can you please share your schemas?

[2022-08-08 17:19] krackerman commented on #158
@naorpeled Thank you for taking a look.

Just so I understand what is happening. `get` will automatically parse because it is scoped to that specific `Entity`. Like a Customer as an example.
If you are using a Single Table desgin, `Scan` and `Query` can return different entities (Customers, Businesses, Orders, etc). So Scan and Query will not automatically parse if the `_et` field is not set on th

[2022-08-08 17:28] naorpeled commented on #158
Exactly.

[2022-08-08 18:09] krackerman commented on #158
@naorpeled This is exactly what I needed thank you for all the help.

[2022-08-08 18:38] naorpeled commented on #158
You're welcome! :)

I'll be closing this issue for now.

[2022-08-08 19:08] naorpeled commented on #261
Hey,
@mxro have you tried to use the latest version and it still occurred?

I've tested this and it seems to be working as expected.

[2022-08-08 23:02] simlu commented on #158
Looks like this is not working as expected. We are trying to add [entity](https://github.com/jeremydaly/dynamodb-toolbox/blob/3e7cda83fe766722c9b5dac20a5f1ab888ab1c2e/docs/docs/table/methods.md#scan) into `scan` and `query`, but it doesn't seem to fix the issue. Am I missing something here? Will look into creating a minimal test case next.

[2022-08-09 21:30] mxro commented on #261
I've tested with `dynamodb-toolbox@0.4.3` and `typescript@4.7.4`. Still seems to have the same result for me! `Item` property still resolves to `any` type.

[2022-08-10 15:14] simlu commented on #158
For reference, this doesn't work: https://github.com/blackflux/aws-sdk-wrap/pull/2151/files

We'll try and get a minimal test case in so it's easier to reason about. Don't have an eta yet though

[2022-08-13 10:18] naorpeled commented on #158
I see that in [the code](https://github.com/jeremydaly/dynamodb-toolbox/blob/5e431b7789db74613dde34aa1b75842500c9d3e5/src/classes/Table/Table.ts#L403), we're using the entity name for building filter expressions and projections but not for parsing the attributes of the returned items.

Not sure whether I'd change that logic because you might have several entities in your table and enforcing the pa

[2022-08-13 10:24] naorpeled commented on #261
Hmmm, interesting.
Will look into it asap

[2022-08-15 14:29] #230 closed

[2022-08-16 07:45] naorpeled commented on #213
@ThomasAribart what's the use case for this?

[2022-08-16 07:46] naorpeled commented on #220
I'll be closing this for now,
if anyone thinks that this needs to be re-opened, please let me know 🙏

[2022-08-16 07:51] naorpeled commented on #164
This happened to me as well,

@jeremydaly wdyt about adding an option that is something along `isPartialUpdate`,
if present, defaults will be ignored when updating.
The only mandatory fields would be the PK and SK.

[2022-08-16 07:56] naorpeled commented on #101
Hey,
thanks for opening this issue 🙏

I'll be closing it because it does seem like out of scope for the library and the comments seem to pretty much resolve this.

Please let me know if this issue needs to be re-open

[2022-08-16 07:56] #101 closed

[2022-08-16 07:58] naorpeled commented on #111
Hey @darbio,
is this issue still relevant? 🙏

[2022-08-16 08:26] darbio commented on #111
Only when I run it offline. Running in lambda does not reproduce. I haven't observed this for a while.

[2022-08-16 08:49] naorpeled commented on #111
@darbio do you want me to look further into it or close this for now?

[2022-08-16 08:52] darbio commented on #111
Happy to close it for now and if it happens again I'll reopen.

[2022-08-16 09:33] naorpeled commented on #111
Sounds good to me! 😎

[2022-08-16 09:33] #111 closed

[2022-08-16 10:14] ThomasAribart commented on #213
@naorpeled Honestly, I don't remember ^^ I think it had something to do with the sdk failing silently in case of throttling, but I don't remember when and where. Sorry for not adding more context. I'll close this issue.

[2022-08-16 10:14] #213 closed

[2022-08-16 10:20] naorpeled commented on #213
All good :)

[2022-08-17 14:13] naorpeled commented on #254
Hey @ahmad-ali14,
lately, I've added a functionality that allows you not to throw an error when an unmapped field is provided, but it does filter it.

It's called `strictSchemaCheck`.
An example of its usage is listed [here](https://www.dynamodbtoolbox.com/docs/entity/methods#put).

It will be included in the next release.

I'll be closing this issue for now.
Feel free to write a message here if y

[2022-08-17 14:13] #254 closed

[2022-08-17 14:16] naorpeled commented on #269
@ThomasAribart, will you have time to look into this?

[2022-08-17 14:28] ahmad-ali14 commented on #254
@naorpeled Thank you very much

[2022-08-17 14:47] naorpeled commented on #235
Hey,
thanks for opening this issue.

I'll be closing it for now because it doesn't seem like an issue in the library itself.

Let me know if you have any further questions.

[2022-08-17 14:47] #235 closed

[2022-08-18 22:14] simlu commented on #158
@naorpeled Just so I understand - we would have to rewrite all our millions of dynamodb records to accomplish this, correct?

[2022-08-18 22:16] simlu commented on #158
@naorpeled Just so I understand - we would have to rewrite all our millions of dynamodb records to accomplish this, correct?

I would be great if there was a way to tell dynamodb-toolbox to "parse all responses as a certain entity". Maybe this is a separate option that is passed in?

[2022-08-18 23:01] naorpeled commented on #158
Unfortunately with the current implementation that is correct.

Will discuss this with @jeremydaly and see what fits best for this scenario.

[2022-08-21 00:37] mxro opened #309 "Best practice for querying with custom composite partition key"
When defining a composite partition key using an [array](https://www.dynamodbtoolbox.com/docs/entity#using-an-array-for-composite-keys) or [default](Also see: https://github.com/jeremydaly/dynamodb-toolbox/issues/167) values, the pk value is transparently calculated in Put operations.

I was wondering what is the recommended practice for using the [query](https://www.dynamodbtoolbox.com/docs/entit

[2022-08-21 01:30] mxro opened #310 "`new Entity()` mutates supplied attributes"
When defining the attributes for an entity in a constant such as:

[code]

It is not safe to use the `TagEntity` constant more than one time when calling `new Entity()` such as:

[code]

Upon calling the constructor the second time, the following error is emitted:

[code]

There is no `sortKey` attribute in the supplied attributes; however it appears the library mutates the data in the supplied at

[2022-08-24 15:26] fernandopioli opened #311 "How to add dynamic attributes when putting value to an Entity"
How can add more attributes that I don't map in the Entity class?
I'm trying to add but getting:
Field 'correct_string' does not have a mapping or alias.
Thanks

[2022-08-24 18:36] ahmad-ali14 commented on #308
@naorpeled thank you for your answer; I can not reveal the schema, but here is an example it is very basic, nothing fancy :)

- table definition:
[code]

- entity definition:
[code]

- using 0.3.5 (always works)

[code]
- using 0.4.3 (error: id, postId can not be assigned to type UserT, createdAt, updatedAt required )

[code]

[2022-08-24 19:37] naorpeled commented on #311
Hey @fernandopioli,
unfortunately this isn't something that is possible with the library at the moment.
lately, I've added `strictSchemaCheck`, an option that allows filtering out non mapped fields instead of throwing an error.

This is definitely something I want to add in the future though.

[2022-08-24 19:49] naorpeled commented on #308
Hey @ahmad-ali14,
hope you're doing well 😎

You no longer need to provide the generic parameter when creating a new entity in v0.4 of the library for type definitions, now they are included out of the box.
A lot of the type inference logic was changed since v0.35.

Try to remove it and let me know if you're still encountering issues :)

[2022-08-24 21:07] naorpeled commented on #164
Hey,
thanks for opening this issue!

I've added a test that covers this, and also tested it on data with the latest version of the library.
This issue seems to be fixed.
Once my PR gets merged, this will be closed.

Feel free to let me know if you're still encountering this issue.

[2022-08-24 21:24] jeremydaly commented on #158
Sorry for being late to this conversation, but any Entity written to the table using the toolbox should get an `_et` value (unless you disabled it). If it doesn't have that value, then, yes, we would need to add some sort of `parseAs` option, but the idea is not to need that. Let me dig into the code a bit and see if we're missing something else here.

[2022-08-24 21:25] #164 closed

[2022-08-24 21:30] simlu commented on #158
FYI Yes, we did disable that since we only have one entity type per table.

[2022-08-24 21:54] #194 closed

[2022-08-24 21:55] naorpeled commented on #194
Hey @napter,
by default the parse option is `true`, so the returned results from the document client will be parsed.

I don't seem to be able to reproduce this in the latest version.

I've added a test to cover your specific case.
Feel free to let me know if this still occurs.

[2022-08-25 07:10] ahmad-ali14 commented on #308
@naorpeled Thank you very much; one last thing

- I have this entity, and I want to use the type inferred by its schema everywhere in the App.

[code]

- here are some interesting findings.

[code]

- using `EntityItem` (give undefined, since it is looking for the Overlay that I don't supply).

[code]

![Screen Shot 2022-08-25 at 08 06 13](https://user-images.githubusercontent.com/46387030/1865980

[2022-08-25 07:22] ahmad-ali14 commented on #308
[the definition of `InferIdentityItem`](https://github.dev/jeremydaly/dynamodb-toolbox/blob/600b6700e92b06a0f60643543d8c58f16e6f2b7b/src/classes/Entity/types.ts#L516) is not exported from Entity class for some reason in the build

![Screen Shot 2022-08-25 at 08 21 39](https://user-images.githubusercontent.com/46387030/186601099-452fb25f-d0fe-4a7b-ae03-e57d1e0445e2.png)

Must be something I'm missi

[2022-08-25 07:25] ahmad-ali14 commented on #308
@naorpeled just used https://www.npmjs.com/package/dynamodb-toolbox/v/0.5.0-beta.0
and looks all fine, thank you very much

[2022-08-25 08:25] naorpeled commented on #308
@ahmad-ali14 I'll create a PR that exports these types so you won't need to use imports from the dist explicitly :)

[2022-08-26 08:40] naorpeled commented on #261
@mxro I'm not able to re-create this 😢

[2022-08-26 20:06] mxro commented on #261
Thank you for having a look!

I've created a project to reproduce the issue, see https://github.com/mxro/dynamodb-toolbox-type-test#readme

Here I still get `any` as the derived type.

![image](https://user-images.githubusercontent.com/1448524/186982307-726e1fc3-a896-4e3b-81a1-20185e83b04b.png)

[2022-08-26 20:23] naorpeled commented on #261
Thanks, will look into it and keep you updated!

[2022-08-26 21:18] naorpeled commented on #261
@mxro played around with the code, upgraded/downgraded some packages, made some changes to the tsconfig but unfortunately had no luck with those yet.

Will continue looking into it tomorrow.

[2022-08-27 16:56] Joshua-Tu opened #316 "How to add two two items into two separated tables? batchWrite?"
According to the doc, we can put or delete different entities into one or **more** tables.
<img width="1329" alt="image" src="https://user-images.githubusercontent.com/47619573/187040697-908a4396-275b-4bbf-8a4a-cd73d4303dfd.png">

Code shown as follows

[code]
Question 1: **how to use batchWrite method to add one global template metadata entity into the global template metadata table ?**
Question

[2022-08-27 18:39] naorpeled commented on #316
`Default`, is an example of a table, I understand why it's misleading, will improve the naming there.
In your case it's equivalent to `GlobalTemplateMetaDataTable.batchWrite`.

Regarding the other questions,
the code you specified above looks good except for the fact that you've mapped `global_template_id` instead of `template_id`.

Let me know if you have any other questions, hopefully this infor

[2022-08-27 19:26] naorpeled commented on #261
Still no progress 😢
I suspect that is related to the config of that project,
have you encountered that issue in a project that isn't based on Goldstack's template?

[2022-08-27 19:40] naorpeled commented on #309
Hey,
there currently isn't an entity.getDefaultValue({KEY}) function or something like that, can add one, but not sure it's really necessary.

At the moment, what we've been doing is externalise the method, as you mentioned above

something along:

[code]

hopefully this is clear and helpful 🙏

[2022-08-27 19:50] mxro commented on #261
Very mysterious! I've created a project as vanilla as I could:

https://github.com/mxro/dynamodb-toolbox-inference-vanilla

Type inference seems to work there. Used a very similar `tsconfig.json` in that project as well. Very strange indeed, can't really think of how project setup should influence this apart from what's configured in `tsconfig.json`!

[2022-08-28 00:04] Joshua-Tu commented on #316
Thanks, @naorpeled. now the template_id mapping error is gone. thanks for pointing this out for me.
**Is there a way to output the added items, currently it's like this**
<img width="784" alt="image" src="https://user-images.githubusercontent.com/47619573/187051858-4ba46471-bda2-4085-b292-73091d368b10.png">

Also, is there any way to add items to two separate tables?
Like
[code]

[2022-08-28 00:27] Joshua-Tu commented on #316
Just noticed that I can use
**const result = await Table1.batchWrite([
   EntityForTable1.put(entityForTable1),
   EntityForTable2.put(entityForTable2)
]);**

here, I call the batchWrite method on Table1, and the entityForTable2 can be added to Table2, I know this is what the doc means, "write to multiple tables", but this seems a little bit confusing.

Also, **how to output the added items?**

[2022-08-30 14:52] Yoctoboy opened #318 "Dynamically assign a Table to an Entity"
Hello boys,

## Problem

We've realized that it is not possible (without `@ts-ignore`) to dynamically assign a Table to an Entity using typescript.
My use-case is:
- Define an Entity `MyEntity` without a Table
- Assign it a Table at runtime
- We get the ts error `Type 'Table<string, "PK", "SK">' is not assignable to type 'undefined'.`

This problem makes using `set table` virtually impossible, as

[2022-08-31 10:24] #308 closed

[2022-08-31 12:17] #316 closed

[2022-08-31 20:18] mxro commented on #309
Thanks for your answer. Yeah I think something like `entity.getDefaultValue({KEY})` is probably not needed. Defining and passing around your own function also provides an acceptable solution!

What I was thinking of was more if it would make sense to allow passing objects or arrays as arguments where a `partitionKey` is needed. Currently only String is accepted.

So instead of

[code]

We could pr

[2022-09-01 16:13] #269 closed

[2022-09-01 16:30] simlu commented on #158
^ :wave: Any update on this? Cheers!

[2022-09-03 11:04] ThomasAribart commented on #318
Hi @Yoctoboy and thanks for the issue 👍

Adding a Table dynamically is an issue as type inference is necessarily static ^^

The best way to get around your issue I think is to make a `setTable` getter which returns `this`, but with a different type. This way, you get a second `const Entity` which can have a different type, which includes the Table you juste provided.

[code]

[2022-09-03 14:05] naorpeled commented on #309
Personally I think that creating your own function is also good for that as well, if the keys' entity order logic changes for instance, for example ORG..#USER... changes to USER...#ORG..., then you would only need to change that logic in one place.

Wdyt?

[2022-09-07 13:42] Yoctoboy commented on #318
Alright, may I implement the fix? Don't know when I'll find the time exactly but I'll try anyway ! :)

[2022-09-07 20:19] mxro commented on #309
Yeah that's a good point, especially for the array argument! But when using default functions in this approach:

[code]

We should be able to change the order only in the default function?

[2022-09-07 20:35] naorpeled commented on #309
Yeah, because it would be our source of truth.

Hopefully it makes sense

[2022-09-09 06:54] naorpeled commented on #261
@mxro should I close this issue for now?
not sure wether it's something we need to solve on our end

[2022-09-09 06:56] naorpeled commented on #318
Go for it! let me know if you need anything :)

[2022-09-09 07:47] naorpeled commented on #181
Hey @tommy921092,
we don't have any tool that helps migrating data, and not sure we would make one in the near future.
As @darbio said, it's unique for each case.

Personally, I've used [Dynobase](https://dynobase.dev) for such things.

For now I'll be closing this issue, feel free to ping me if you have any other questions.

[2022-09-09 07:47] #181 closed

[2022-09-09 20:12] mxro commented on #261
Yes, happy for you to close it!

[2022-09-09 20:48] naorpeled commented on #261
Altighty, will close this.

If you have any further questions regarding this, feel free to ping me :)

[2022-09-09 20:49] #261 closed

[2022-09-12 12:52] naorpeled commented on #309
Hey @mxro,
I'll be closing this issue for now.

Feel free to ping me if you need anything else 😎

[2022-09-12 12:52] #309 closed

[2022-09-12 12:55] naorpeled commented on #141
Hey @craPkit,
wanted to let you know that I started working on this and hopefully will manage to finish this by the end of this week.

[2022-09-12 18:38] #140 closed

[2022-09-14 17:50] simlu commented on #158
👋

[2022-09-26 18:48] naorpeled commented on #151
Hey @shellscape,
this exists in the newest version of the library.

For example now you can do the following:

[code]

and the resulted type will include the entity attribute within the `Items` property :)

[2022-09-26 18:48] #151 closed

[2022-10-06 19:10] #35 closed

[2022-10-10 01:42] tabvn opened #339 "dynamodbtoolbox support DAX ?"
Hi dynamoers,

thanks for good module. However i have a question that does dynamodbtoolbox support DAX for add caching layer and transactions with dax as well ?

Best regards,
Toan

[2022-10-10 03:00] 6ewis commented on #339
This is not trying to be an orm. It interacts with the dynamodb api for a consistent interface, the exact payload of dynamodb is always available if needed; if you don't want it to parse the result of dynamodb can you can easily disable it.

My guess is that Dax should be work with it but looking forward to see what others have to say. @tabvn

[2022-10-11 02:23] naorpeled commented on #339
Hey @tabvn,
I personally haven't used DAX,
took a quick look at how it works and I don't see a reason why this shouldn't work with our current implementation, can try to play around with it during this weekend and let you know whether I have any new conclusions.

[2022-10-11 02:25] tabvn commented on #339
Thanks I'll implementing this. I'll come back with issue or confirmed it's wowks or not in this week :)

[2022-10-11 02:26] naorpeled commented on #339
Awesome! Let me know if you need anything :)

[2022-10-18 17:14] ChangJoo-Park opened #342 "Update object in array"
Hello,

I work with document includes array with object (0.3.5)

[code]

How can I set `item_front` to new text?

I try with `$set` below codes.

[code]

this is not working because photoIndex is not numeric type.

second one not working too.

[code]

---

My situation exactly same as this mongodb usage.
https://www.mongodb.com/community/forums/t/updating-an-object-in-an-array/16191/3

[code]

cha

[2022-10-18 17:20] ChangJoo-Park commented on #342
I found same situation on StackOverflow https://stackoverflow.com/questions/73798623/dynamo-db-how-to-update-specific-object-inside-an-array-in-aws-dynamodb

[2022-10-20 16:41] Sevi7 opened #343 "Update method types overlay"
The return type of `update` method is  `O.Update<DocumentClient.UpdateItemOutput, 'Attributes', FirstDefined<[MethodItemOverlay, EntityItemOverlay, O.Pick<Item, ResponseAttributes>]`

And if I understood good the types I think the last part should be `FirstDefined<[O.Pick<Item, ResponseAttributes>, EntityItemOverlay, MethodItemOverlay]` so the types are resolved to the ResponseAttributes I set, if

[2022-10-21 10:32] #141 closed

[2022-10-27 16:27] praveen786singh opened #346 "Dynamodb toolbox composite keys with prefixes"
I'm storing PUBLIC#169999#INTERNAL#543ac372-ae50-4d3f-9268-7e6f7a8f8897

[code]

But when I query the data, the correct values are not returned. Is there a way to handle multiple composite keys with prefixes using the toolbox?

Should be return:
[code]

[2022-10-27 23:09] ConjunctiveNormalForm commented on #269
Still getting this with
[code]

[2022-10-28 06:04] naorpeled commented on #269
Hey,
looked into it and it seems the fix for this wasn't released yet,
we're releasing the next version today hopefully

[2022-10-30 15:21] NimmLor commented on #346
Hi,
I'm mostly using the default property to generate more complex key structures, i think it looks much more readable.

[code]

[2022-10-30 15:35] naorpeled commented on #346
100%,
@praveen786singh you can also look at my suggestion in the following issue

https://github.com/jeremydaly/dynamodb-toolbox/issues/309

[2022-10-31 10:08] praveen786singh commented on #346
@NimmLor @naorpeled
I added default in sk but its returning `PUBLIC#169999#INTERNAL#543ac372-ae50-4d3f-9268-7e6f7a8f8897`
![image](https://user-images.githubusercontent.com/67943071/198983078-efeb218c-1e95-42bd-ab4d-f9616cb05fa9.png)

its there any option so I can get an object key-value pair like

[code]

code:
![image](https://user-images.githubusercontent.com/67943071/198983642-20b63911-c47a-4e

[2022-10-31 10:22] naorpeled commented on #346
Ah, I see.

To be honest, because the composite keys functionality is deprecated and will be removed soon I wouldn't use it for this use case.
Atm there's no way, at least out of the box as far as I know, that does the thing you're looking for.

Personally, I save the parts of the composite key as separate properties, when initially creating the item, in addition to having them within the composit

[2022-11-01 08:28] naorpeled commented on #343
@Sevi7 good catch!

I'll create a PR to resolve this!

[2022-11-01 10:59] alexhdez98 commented on #311
Hi @naorpeled, any updates on when the new version will be released? Thanks!

[2022-11-01 16:04] simlu commented on #158
Can we please reopen this ticket?

[2022-11-01 22:14] naorpeled commented on #311
Waiting for Jeremy to release it,
I've messaged him few days ago.
I believe it should happen in the next few days.

[2022-11-03 10:55] NimmLor commented on #346
If you set `hidden: false` the parser will remove this properties from the object. Like @naorpeled I would also include the pars of the SK/PK.

my example from above would return:
[code]

----

Protipp: use [ULIDs](https://github.com/ulid/spec) instead of UUIDs, these unique IDs with a timestamp prefix. This leads to that the items stored are sorted, which allows easy pagination.

[2022-11-03 11:09] naorpeled commented on #346
I'll be closing this issue for now,

feel free to ping me if you want to re-open it or need any further help 🙏

[2022-11-03 11:09] #346 closed

[2022-11-03 15:09] naorpeled commented on #234
#332 was merged and added the `format` property to entity schemas and does exactly what you've mentioned above 😎

[2022-11-03 15:09] #234 closed

[2022-11-04 08:25] NimmLor commented on #342
Hi, I've just had to do this. I've used the [custom parameters feature](https://www.dynamodbtoolbox.com/docs/custom-parameters).

Basically I've had to update `groupings[index].status`.

The way you do it, is to create `ExpressionAttributeNames` for every level you go down and use them in the SET expression.
To be honest the syntax is a bit strage.

[code]

[2022-11-04 10:31] naorpeled commented on #342
Will aim to add support for this in the next few weeks 🙏
(if someone else wants to take this feel free!)

[2022-11-04 22:59] naorpeled commented on #132
Hey @vespertilian,
with the latest version you can achieve what you're looking for.

[code]

[2022-11-04 23:01] naorpeled commented on #132
Let me know if the solution I've mentioned above doesn't work for you, it should work for you as well 🙏

[2022-11-05 00:07] naorpeled commented on #158
@simlu I'm working on it now,
will open a PR asap!

[2022-11-05 02:30] shesupplypi commented on #132
Hi, thanks so much for the reply! I will upgrade to the latest version and try this out.

[2022-11-05 02:31] naorpeled commented on #132
Awesome, sounds good, let me know if you need anything!

[2022-11-05 15:55] naorpeled commented on #93
Hey @mfbx9da4,
thanks for opening this issue, I've also tried to re-create this without success.

I'll be closing this issue, feel free to ping me or open a new issue if this issue still persists.

[2022-11-05 15:55] #93 closed

[2022-11-05 16:15] naorpeled commented on #122
Hey @ryantomaselli,
thanks for opening this issue.

I know this is an old issue but the following seems to be working, note that you have to use `as const` at the moment to make it work.

[code]

I'll be closing this issue for now but feel free to ping me if need any further help.

[2022-11-05 16:15] #122 closed

[2022-11-05 16:41] naorpeled commented on #183
Hey @ryantomaselli,
thanks for opening this issue.

Sorry for the delayed response.
I've tried to re-create this but without success 😢
Can you send me your entity/table configuration?

[2022-11-05 16:49] naorpeled commented on #32
Hey @ryanbethel,
we've recently added the `format` property that allows transforming the DDB output, this should resolve the issue mentioned in the beginning of the thread.

Regarding composite key arrays, this syntax is deprecated and will be deleted in one of the future releases so I don't recommend using it.

I'll be closing this issue but feel free to ping me if you need anything :)

[2022-11-05 16:49] #32 closed

[2022-11-05 16:59] naorpeled commented on #310
Hey @mxro,
I've tried to re-create this using the example you've mentioned above but couldn't for some reason.

Does this still happen to you using the latest version?

[2022-11-06 16:31] naorpeled commented on #132
I'll be closing this issue for now,
@shesupplypi feel free to ping me if you need anything 😎

[2022-11-06 16:31] #132 closed

[2022-11-06 18:48] mxro commented on #310
Thank you for having a look @naorpeled !

I am using version [`0.4.3`](https://www.npmjs.com/package/dynamodb-toolbox/v/0.4.3)

I just verified the problem still persists. See below a [unit test](https://github.com/goldstack/goldstack/pull/267/files) and the result it gives me when I run it.

[code]

![image](https://user-images.githubusercontent.com/1448524/200189203-5d460f16-dd24-49f4-aed2-a9f39

[2022-11-06 18:59] naorpeled commented on #310
I managed to re-produce it with this example, thanks!

Will look into this and aim to resolve this asap!
(not sure it would be today or tomorrow but will try my best :))

[2022-11-07 14:55] #343 closed

[2022-11-07 14:58] #211 closed

[2022-11-10 08:54] kr1p70n1c commented on #269
Yay, this is now fixed with the latest `0.5.0` release 🍾

[2022-11-10 08:57] naorpeled commented on #269
Wooho!😎

[2022-11-10 09:01] naorpeled commented on #339
Hey @tabvn,
any updates? :)

[2022-11-10 09:01] naorpeled commented on #318
Hey @Yoctoboy,
how's this going?

Need any assistance?

[2022-11-10 09:06] #155 closed

[2022-11-10 09:40] GeertWille opened #359 "Typescript autocomple/type hinting slowed down after migrating from v3 -> 5"
Not sure or anyone else noticed it but when we moved from v3 to the current version where TS support was added, we noticed a lot of delay in VSCode auto completion and type hinting. Is it possible our types are to dynamic and causing a slow down or something? Anyone notices the same thing or just me?

[2022-11-10 12:16] naorpeled commented on #359
I've also encountered that,
I'm thinking about getting rid of `ts-toolbelt` as an initial step to deal with this and see if it improves the performance.
Wdyt?

[2022-11-11 10:47] NimmLor opened #360 "Add option to create list element if it does not exist"
It would be nice if we had an option for `$append` (and `$prepend`) that uses `list_append(if_not_exists(#something), :new_value)` when adding an element to a list. This prevents an Error when trying to append to a property that does not exist yet.

Currently I'm using the following code whenever I have to update a list.

[code]

[2022-11-12 09:14] #78 closed

[2022-11-12 11:41] igalklebanov commented on #78
@gpinkham `true == true/1` so this is not good enough.

[2022-11-12 20:16] #310 closed

[2022-11-12 21:09] mxro opened #366 "Queries constructed inconsistently when multiple Entity instances used"
When the `new Entity` constructor is used multiple times to instantiate a query for the same entity, queries generated for DynamoDB appear to be inconsistent.

See below code ([table.spec.ts](https://github.com/goldstack/goldstack/blob/upgrade-dynamodb-toolbox/workspaces/templates/packages/dynamodb/src/table.spec.ts#L97)):

[code]

This will generate the following get query to DynamoDB:

[code]

S

[2022-11-12 21:11] mxro commented on #310
Thanks for this fix! There is no error now any more when calling `new Entity` for the second time.

However, I encountered some weird behaviour when doing a _get_ query with a different instance than the _put_ query. Could be something wrong in my code, but couldn't find out what - raised a separate issue with the scenario https://github.com/jeremydaly/dynamodb-toolbox/issues/366

[2022-11-12 21:15] naorpeled commented on #366
This also happens when you're not using deepCopy?

[2022-11-12 21:23] mxro commented on #366
Yep, tried it with and without `deepCopy` and it doesn't seem to make a difference.

[2022-11-12 21:42] naorpeled commented on #366
Alrighty, will look into it asap.

Won't be today though,
should I revert my change for now?

[2022-11-12 21:43] mxro commented on #366
Let me test with the behaviour of the previous version - good chance it was like this before as well!

[2022-11-12 21:46] mxro commented on #366
Yep just tested with `0.4.3` and `deepCopy` - behaviour is the same, so would think that reverting the change is not required!

[2022-11-14 08:46] naorpeled commented on #144
Hey @bboure,
this was released in v0.5 😎

You can now use the `format` function to achieve what you wanted.

[2022-11-14 08:46] #144 closed

[2022-11-14 13:51] Sevi7 opened #367 "Update method types overlay 2"
The update method types overlay is still not working for me, I found another possible issue:

The return type of update method contains `FirstDefined<[O.Pick<Item, ResponseAttributes>, EntityItemOverlay, MethodItemOverlay]>` and the response type I get for Attributes is `{} | undefined`.

I think it should be `FirstDefined<[O.Pick<EntityItemOverlay, ResponseAttributes>, EntityItemOverlay, MethodIt

[2022-11-14 14:39] naorpeled commented on #367
Hey,
can you send your entity config + an example of specific response you would want to see based on that config?

Thanks!

[2022-11-15 20:52] naorpeled commented on #366
@mxro managed to re-create it locally,
looking into it now!

[2022-11-15 21:46] naorpeled commented on #366
The root cause for this is that an Entity with the same name already exists on the table so it's not re-added to the table and also does not map its fields based on the table's configuration.

Will think about how to deal with this and let you know once I come up with a solution. Let me know if you have any thoughts.

[code]

[2022-11-16 07:40] #299 closed

[2022-11-17 23:05] naorpeled commented on #366
@mxro pushing a change that will make sure an error will be thrown for a duplicate entity name so this situation would be easier to understand

[2022-11-18 08:29] NimmLor commented on #360
Just tried it again, with v0.4.3 and v0.6, both lead to the same error.

To recreate, create a user with a list element set to null, then attempt to append to this empty list.

[code]

[code]

[2022-11-18 08:52] naorpeled commented on #360
Can you send the output of put and update with `execute: false`?

[2022-11-18 09:07] NimmLor commented on #360
sure

[code]

And the item in the database for this operation:
[code]

[2022-11-18 09:35] naorpeled commented on #360
This is the output I'm getting with v0.6,
not sure why why you're getting a different result 😮

[code]

[2022-11-18 14:35] NimmLor commented on #360
Okay, my mistake. This was added in version 0.5 and is a duplication of issue 188 at https://github.com/jeremydaly/dynamodb-toolbox. When I tested it with v0.6, it displayed the updated typings but still ran the old version I guess.

I suppose we may close this issue and mark it as a duplicate.

[2022-11-18 14:35] #360 closed

[2022-11-18 19:18] mxro commented on #366
@naorpeled Thank you! So the idea would be that when `new Entity(` is called for the second time an error would be thrown?

[2022-11-18 20:08] nimit2801 opened #374 "Please mention the what sdk dynamodb-toolbox is using"
It was very confusing, as a newbie developer who know little about v2 or v3. To figure out and search for resources.

As mentioned [here](https://www.dynamodbtoolbox.com/docs/introduction/quick-start#load-the-documentclient) its confusing what version of SDK it is using. Also I would suggest to add more steps involving how to install sdk v2 and whats the difference. Everyone won't know the context

[2022-11-18 20:15] nimit2801 commented on #374
Also a minor property change
[code]
and not `convertEmptyValue: false`

[2022-11-18 20:47] naorpeled commented on #366
Exactly

[2022-11-18 20:57] naorpeled commented on #374
Hey @nimit2801,
thanks for the great feedback! you're awesome!

Fixing the typo now, will also add some information about AWS SDK soon.
Feel free to create a PR if you'd like.

[2022-11-18 21:06] mxro commented on #366
Okay, I guess then I will need to find a way to rework the [centralised definition of entities](https://github.com/goldstack/goldstack/blob/master/workspaces/templates/packages/dynamodb/src/entities.ts#L16) - I guess I could try to wrap in a function that accepts a table parameter.

But I remember last time I tried that the problem was to be able to define the return type of that function in a way

[2022-11-18 21:10] nimit2801 commented on #374
Sure @naorpeled, would love to drop a PR!

[2022-11-19 19:29] naorpeled commented on #366
Honestly, I'd let the default inferred return type stay as is and not specify it explicitly, writing it manually atm is not a clean and easy solution.

[2022-11-19 19:46] mxro commented on #366
By inferred return type do you mean to leave the return type out of the method signature?

[code]

In that case, if the function is used in another part of the application, the type would not be known, would it?

[code]

[2022-11-19 21:11] naorpeled commented on #366
Exactly, that's what I meant.

Yeah, it should, at least as far as I know.

[2022-11-20 17:37] naorpeled commented on #173
This was resolved on v0.4.

Closing this issue.
Feel free to ping me if you have any questions 😎

[2022-11-20 17:37] #173 closed

[2022-11-20 18:25] naorpeled commented on #200
Hey @alexandrepernin,
thanks for opening this issue and sorry for the delay.

You're correct, that is due to the fact that the entity type attribute is not within the result.
We could look at all the returned fields and see if any of them are not included in the entity definition but honestly not sure whether it's a good approach/assumption.

What you could do is use the `parseAsEntityOption`, whi

[2022-11-20 18:25] #200 closed

[2022-11-20 20:13] #374 closed

[2022-11-21 09:03] naorpeled commented on #24
added as a card

[2022-11-21 09:03] #24 closed

[2022-11-21 09:07] naorpeled commented on #9
I've added a task on our board regarding integration tests,
I'll be closing this issue for now.

[2022-11-21 09:07] #9 closed

[2022-11-21 09:28] naorpeled commented on #193
Hey @napter,
thanks for opening this issue and sorry for the delay.

Seems that @darbio gave you great answers so I'll be closing this issue.
Feel free to ping me if you want me to re-open this issue or if you have any other questions.

[2022-11-21 09:43] naorpeled commented on #318
Hey @Yoctoboy,
there's another issue (#366) that is kinda related to this one, the PR I'm working on (#371) will also resolve your issue.

[2022-11-22 01:20] pokryfka commented on #52
Hi all, what is the status of this?

This become more of an issue with release of nodejs18 runtime which contains only AWS SDK V3

https://aws.amazon.com/blogs/compute/node-js-18-x-runtime-now-available-in-aws-lambda/

[2022-11-22 08:08] naorpeled commented on #52
Hey :)

There's a discussion regarding this in #174.
If anybody wants to open a PR for this I'd be happy to review it,
otherwise I'll start working on it sometimes during next week probably.

[2022-11-25 16:39] naorpeled commented on #70
Hey @mikestopcontinues,
thanks for opening this issue and sorry for the delay.

The composite key properties functionality will be deprecated soon,
therefore we encourage using the `default` property option instead.
[Here](https://github.com/jeremydaly/dynamodb-toolbox/issues/309) is an example for this.

Feel free to ping me if you need anything 😎

[2022-11-25 16:39] #70 closed

[2022-11-25 16:52] naorpeled commented on #165
Hey @vsnig,
thanks for opening this issue and sorry for the delay.

This issue was resolved in one of the latest versions 🙏

[2022-11-25 16:52] #165 closed

[2022-11-26 01:49] naorpeled commented on #196
Hey @revmischa,
thanks for opening this issue and sorry for the delay.

I've tried to reproduce this with the latest version of the library and it seems I can't do so.

I'll be closing this issue but feel free to ping me if you need anything 😎 🙏

[2022-11-26 01:49] #196 closed

[2022-11-26 01:54] naorpeled commented on #192
Hey @etooley,
thanks for opening this issue and sorry for the delayed response.

@darbio had given a great answer so I'll be closing this issue.

Feel free to ping me if you need anything 😎 🙏

[2022-11-26 01:54] #192 closed

[2022-11-26 02:02] naorpeled commented on #205
Hey @jrodz-ak,
thanks for opening this issue and sorry for the delayed response.

@jfreyheit's suggestion is correct, that should fix it for you.

I'll be closing this issue, but feel free to ping me if you need anything 😎 🙏

[2022-11-26 02:02] #205 closed

[2022-11-29 11:30] amirulabu opened #380 "Wrong type when using $prepend to update list"
Hi, I have encountered a type error when updating list

Here is the screenshot where I get an error

![Screenshot_2022-11-29_19-03-08](https://user-images.githubusercontent.com/10055534/204517283-77eb9574-897d-4b6b-b2d3-23a020703512.png)

Here is the full code in the screenshot

[code]

The entity that is defined

[code]

[2022-11-29 13:03] naorpeled commented on #380
Hey @amirulabu,
thanks for opening this issue 🙏

This seems to occur due to making the field as required for some reason,
will look further into it a bit later today hopefully.

[2022-11-29 13:31] #380 closed

[2022-11-30 05:38] Joshua-Tu opened #385 "Filters and Conditions - Expression Builder - Contains - this is case sensitive"
Is there a way to make this contains case insensitive?

I'm looking for the records that have certain keywords, I don't care if it's capitalized or not.

Is there any way to query for this case?

[2022-11-30 05:42] Joshua-Tu commented on #385
can I use regex with the contain filter?

[2022-11-30 05:54] Joshua-Tu commented on #385
tried this, seems not working
<img width="756" alt="image" src="https://user-images.githubusercontent.com/47619573/204718543-1ba7e3b9-7847-45e5-8385-7514f237c044.png">

[2022-11-30 06:09] naorpeled commented on #385
Hey @Joshua-Tu,
unfortunately this is not supported by the DynamoDB engine and needs to be done on the application code level.

[2022-11-30 12:27] #385 closed

[2022-11-30 12:43] naorpeled commented on #126
Hey @willsmanley,
thanks for opening this issue and sorry for the delayed response.

This was added in v0.4, feel free to install the latest version of the library to get the TS inference.

[2022-11-30 12:43] #126 closed

[2022-11-30 20:26] naorpeled commented on #161
Hey @vespertilian,
thanks for opening this issue and sorry for the delayed response.

Honestly I don't believe that this should be implemented.
The reason for turning off parse is to get the raw DDB response and this breaks the expected behavior.

[2022-11-30 20:26] #161 closed

[2022-11-30 21:00] #162 closed

[2022-11-30 21:14] naorpeled commented on #152
Hey @martinval,
thanks for opening this issue, you're awesome 😎

here's an example of using the `next` function for anyone who's looking at this thread:

[code]

[2022-11-30 21:14] #152 closed